{% extends 'base_trail.html' %}
{% load static %}
{% block title %}Szkic trasy {% endblock %}
{% block content %}


    <div id="save_draft_trail">
        <h3>Zapisz trasę:</h3>
        <form action="" method="post" class="user_trail-form" enctype="multipart/form-data">
            <div id="name_trail"><label>Nazwa trasy:</label>{{form.name}}</div>
            <div id="type_trail"><label>Typ trasy:</label>{{form.type}}</div>
            <div id="image_trail"><label>Zdjęcie trasy:</label>{{form.image}}</div>
            <div id="description_trail"><label>Opis trasy:</label>{{form.descriptions}}</div>
            <div id="submit_trail"><input type="submit" value="Stwórz trasę" id="save_trail"></div>
            {% csrf_token %}
        </form>
    </div>
<script src="{% static './js/saveDraftTrail.js' %}" type="text/javascript"></script>
{% endblock %}