{% extends 'base_trail.html' %}

{% block content %}
<div class="user_trail_draft">
    <div class="draft-list_point">
        {% for element in user %}
            {%for a in element %}
                <div class="draft-point">
                    <div class="draft-point_image"><img src="{{a.image.url}}" alt=""></div>
                    <div class="text" >
                        <p>{{a.name}}</p>
                        <p >{{a.descriptions}}</p>
                    </div>
                </div>
            {%endfor%}
        {% endfor %}
    </div>
</div>
{% endblock %}