{% extends 'base_trail.html' %}
{% block title %}Szkic trasy {% endblock %}

{% block content %}
<div class="user_trail_draft">
    <div style="margin: 10px auto 50px;" id="title_draft">
        <h3> Szkic Trasy</h3>
    </div>
    <div class="draft-list_point">
        {% for element in user_trail %}
            {%for a in element %}
                <div class="draft-point">
                    <div class="draft-point_image"><img src="{{a.image.url}}" alt=""></div>
                    <div class="text" >
                        <p>{{a.name}}</p>
                        <p >{{a.descriptions|slice:":200"}}...</p>
                    </div>
                    <div class="button_delete">
                        <form action="" method="get" class="delete">
                            <input hidden type="text" value="{{a.name}}" name="delete"> <button>Usuń</button>
                        </form>
                    </div>
                </div>
            {%endfor%}
        {% endfor %}
    </div>

    {% if user.is_authenticated %}
        {% if len_user_trail == 0 %}
            <div id="fail_save_trail"><button>Zapisz trasę</button></div>
        {% else %}
            <div id="save_trail"><button><a href="{% url "user_trails:save_draft_trail" %}">Zapisz trasę</a></button></div>
        {% endif %}
    {% else %}
    <a href="#">Aby zapisać trasę, zarejestruj się</a>
    {%endif%}
</div>
{% endblock %}