{% extends "base_shop.html" %}


{% block content %}

<div class="shop-list">
    <div class="first-section">
        <div class="left">
            <ul class="menu-category">
                {% for c in category %}
                     <li><a href="{% url 'shop:products_list_category' c.id %}">{{c.name}}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="catefory-products">
            {% for p in products %}
                <div>
                    {{p}}
                </div>
            {% endfor %}
        </div>

    </div>
</div>


{% endblock %}