{% extends 'base_trail.html' %}
{% block title %} Ciekawe miejsca {% endblock %}
{% block content %}
    <div class="title-points">
            <h3>Wybierz punkt</h3>
    </div>
    <div class="search_points">
        <form action="." method="post">
            <label class="nazwa">Nazwa:
                <input type="text" name="search">
            </label>

            <label class="location"> Lokalizacja:
            <select name="location_points" id="location">
                <option value=""></option>
                {% for  val in city %}
                    <option value="{{ val }}">{{ val.name }}</option>
                {% endfor %}
            </select>
                </label>

            <label class="type"> Rodzaj:
            <select name="point_type" id="type">
                <option value=""></option>
                  {% for key, val in type %}
                    <option value="{{ val }}">{{ val }}</option>
                {% endfor %}
            </select>
            </label>
            <button class="search">Szukaj</button>
            {% csrf_token %}
        </form>
    </div>

    <div class="point_list_interest_point">
        {% for element in list %}
            <div class="point_add {{ element.name }}">
                <div class="image_point">
                    <img src=" {{ element.image.url }}" alt="image_point" class="point_add_image">
                </div>
                <div class="point_description">
                    <p>{{ element.name }}</p>
                    <div class="country">
                        <p><span>Kraj:</span> {{ element.country }}</p>
                    </div>
                    <div class="city">
                        <p><span>Miasto:</span> {{ element.location }}</p>
                    </div>
                    <div class="average_grade">
                        <p><span>Ocena:</span>{{ element.average_grade }}</p>
                        <p><span>Zwiedziło:</span> {{ element.done.all.count }}</p>
                    </div>
                    <div class="buttons-interesting">
                        <a href="{% url "trails:point_detail" element.id %}"><input type="submit"
                                                                                    value="Szczegóły"
                                                                                    class="add_to_user_trail"></a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}