{% extends 'base_trail.html' %}

{% block content %}
<div class="search_points">
    <form action="." method="post">
        <label class="nazwa">Nazwa:
            <input type="text" name="search">
        </label>

        <label class="location"> Lokalizacja:
            <select name="location_points" id="location">
                <option value=""></option>
                <option value="Warszawa">Warszawa</option>
                <option value="Kraków">Kraków</option>
                <option value="Wrocław">Wrocław</option>
                <option value="Poznań">Poznań</option>
            </select>
        </label>

        <label class="type"> Rodzaj:
            <select name="point_type" id="type">
                <option value=""></option>
                <option value="Zamki">Zamki</option>
                <option value="Kościoły">Kościoły</option>
                <option value="Parki">Parki</option>
                <option value="Biblioteka">Biblioteka</option>
            </select>
        </label>
        <button class="search">Szukaj</button>
        {% csrf_token %}
    </form>
</div>

<div class="point_list_interest_point">
    {% for element in list %}
    <div class="point">
        <div class="image_point"><img src="{{element.image.url}}" alt=""></div>
        <div class="point_descriptions">
            <p>{{element.name}}</p>

            <div class="point_descriptions_more">
                <button class="more"><a href="{% url 'trails:point_detail' element.id %}">Więcej</a></button>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}