{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %} {% endblock %}</title>
     <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<div id="top_manage">
    <div class="logo"><img src="{% static 'img/logo.png' %}" alt="logo"></div>
    <div class="login_mapa">
        {% if user.is_authenticated %}
        <button><a href="{% url 'logout' %}">Wyloguj się</a></button>
        {% else %}
           <button><a href="{% url 'login' %}">Zaloguj się</a></button>
        <button class="register"><a href="{% url 'login' %}">Załóż konto</a></button>
        {% endif %}
    </div>
</div>
<div class="management">
    <div class="management_menu">
        <span>Panel moderatora: </span>
        <p class="management_menu_section">Blog:</p>
        <button><a href="{%url 'management:blog_manage_post_list' %}">Wszystkie wpisy</a></button>
        <button><a href="{%url 'management:blog_post_create' %}">Dodaj wpis</a></button>
        <button><a href="{%url 'management:blog_posts_edit' %}">Edytuj wpis</a></button>
        <button><a href="{%url 'management:blog_posts_delete' %}">Usuń wpis</a></button>

         <p class="management_menu_section">Sklep:</p>
        <button><a href="{%url 'management:shop_manage_product_list' %}">Wszystkie produkty</a></button>
        <button><a href="{%url 'management:shop_product_create' %}">Dodaj produkt</a></button>
        <button><a href="{%url 'management:shop_products_edit' %}">Edytuj produkt</a></button>
        <button><a href="{%url 'management:shop_products_delete' %}">Usuń produkt</a></button>

        <button class="exit_manage"><a href="{%url 'map' %}">Wyjście z panelu</a></button>
    </div>

    {% block content %}
    {% endblock %}
</div>
<script src="https://kit.fontawesome.com/e4892fcf67.js" crossorigin="anonymous"></script>
</body>
</html>