{% extends "base_shop.html" %}
{% block content %}

<div class="shop-list" xmlns="http://www.w3.org/1999/html">
    <div class="first-section">
        <div class="left">
            <div id="hamburger-shop_x"><i class="fas fa-times"></i></div>
            <div class="menu">
                <ul class="menu-category">
                    {% for c in category %}
                         <li><a href="{% url 'shop:products_list_category' c.id %}">{{c.name}}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <div class="filter-left">
                <form action="" method="post">
                    <input type="text" hidden value="filter-left">
                    <section id="price">
                        <h4>Cena:</h4>
                        <div class="group">
                            <input type="text" name="from" placeholder="od">
                            <span>-</span>
                            <input type="text" name="to" placeholder="do">
                        </div>
                    </section>
                    <section id="brand">
                        <h4>Marka:</h4>
                        <p class="brand"><input type="checkbox" name="Test1">Test1</p>
                        <p class="brand"><input type="checkbox" name="Test2">Test2</p>
                        <p class="brand"><input type="checkbox" name="Test3">Test3</p>
                        <p class="brand"><input type="checkbox" name="Test4">Test4</p>
                    </section>
                    <section id="rating">
                        <h4>Ocena:</h4>
                        <p><input type="checkbox">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </p>
                        <p><input type="checkbox">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                        </p>
                        <p><input type="checkbox">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                        </p>
                        <p><input type="checkbox">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                        </p>
                        <p><input type="checkbox">
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                        </p>
                    </section>
                    <section id="size">
                        <h4>Marka:</h4>
                        <p class="brand"><input type="checkbox" name="S">S</p>
                        <p class="brand"><input type="checkbox" name="M">M</p>
                        <p class="brand"><input type="checkbox" name="L">L</p>
                        <p class="brand"><input type="checkbox" name="XL">XL</p>
                        <p class="brand"><input type="checkbox" name="XXL">XXL</p>
                    </section>
                    <div id="submit_filter">
                        <input type="submit" value="Filtruj">
                    </div>
                    {% csrf_token %}
                    </form>
                </div>

        </div>
        <div class="category-products">
            <div class="ad"></div>
            <div class="product-wrap">
                     <div class="filter" id="filter_category">
                         <div class="sort">
                            <form action="" method="post">
                                <label id="sort">Sortowanie</label>
                                <label class="nazwa">
                                    <select name="category" id="category">
                                        <option value="nn">Cena: od najniższej</option>
                                        <option value="nw">Cena: od najwyższej</option>
                                        <option value="cdk">Czas do końca</option>
                                        <option value="cdn">Czas dodania: najnowsze</option>
                                    </select>
                                </label>
                                <button>Sortuj</button>
                            </form>
                         </div>
                     </div>
            {% for p in products %}
                <a href="{% url 'shop:product_detail' p.id %}" style="text-decoration: none; color: black">
                    <div class="product">
                        <div class="image-product">
                            <img src="{{p.image.url}}" alt="">
                        </div>
                        <div class="description-product">
                            <h3>{{p}}</h3>
                            <div class="owner"><p>Sprzedający: <span>Owner</span></p></div>
                            <div><p>Stan: <span>Nowy</span></p> <p>Marka: <span>Nike</span></p></div>
                             <div><p>Rozmiar: <span>{{p.size}}</span></p> <p>Kto: <span>{{p.for_whom}}</span></p></div>
                        </div>
                        <div class="price"><p>{{p.price}} zł</p></div>
                    </div>
                    </a>
            {% endfor %}

                </div>
        </div>

    </div>
</div>

{% endblock %}
