{% extends 'base_trail.html' %}
{% block title %} Trasy zwiedzania {% endblock %}
{% block content %}
<div class="wrap-trails">
    <div class="title-trails">
            <h3>Wybierz trasę</h3>
            <p class="title">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
                standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a
                type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining
                essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum</p>
            </div>
    <div class="trail-center">
        <div class="filter_trails">
            <h3> Filtrowanie tras: </h3>
            <div class="filter">
                    <form action="." method="post">
                        <div class="name">
                            <label>Nazwa</label>
                            <input type="text">
                        </div>
                        <div class="country">
                            <label>Kraj</label>
                            <label><input type="checkbox">Polska</label>
                            <label><input type="checkbox">Niemcy</label>
                            <label><input type="checkbox">Czechy</label>
                            <span>Pokaż więcej</span>
                        </div>
                        <div class="region">
                            <label>Region</label>
                             <label><input type="checkbox">Mazury</label>
                             <label><input type="checkbox">Śląsk</label>
                             <label><input type="checkbox">Morze</label>
                            <span>Pokaż więcej</span>
                        </div>
                        <div class="city">
                            <label>Miasto</label>
                             <label><input type="checkbox">Warszawa</label>
                             <label><input type="checkbox">Kraków</label>
                             <label><input type="checkbox">Poznań</label>
                            <span>Pokaż więcej</span>
                        </div>
                         <div class="type">
                            <label>Typ trasy</label>
                             <label><input type="checkbox">Historyczna</label>
                             <label><input type="checkbox">Krajobrazowa</label>
                             <label><input type="checkbox">Fajna</label>
                            <span>Pokaż więcej</span>
                        </div>
                        <div class="top_rate">
                            <label>Ocena</label>
                             <label><input type="checkbox">&#9733;&#9733;&#9733;&#9733;&#9733;</label>
                             <label><input type="checkbox">&#9733;&#9733;&#9733;&#9733;</label>
                             <label><input type="checkbox">&#9733;&#9733;&#9733;</label>
                             <label><input type="checkbox">&#9733;&#9733;</label>
                             <label><input type="checkbox">&#9733;</label>
                            <span>Pokaż więcej</span>
                        </div>
                        <div class="popular">
                            <label>Popularne</label>
                             <label><input type="checkbox">Historyczna Stefana (200)</label>
                             <label><input type="checkbox">Seksowna (100)</label>
                             <label><input type="checkbox">Moja (9)</label>
                            <span>Pokaż więcej</span>
                        </div>
                        <div class="accept_filter"><button>ZASTOSUJ FILTRY</button></div>
                    </form>
            </div>
        </div>
        <div class="all_trails">
            <div class="all_trail-trails" id="trails">
                {%for trail in object_list%}
                    <div class="all_trails-trail" id="all_trails-trail">
                        <div class="image_trail"><img src="{{trail.image.url}}" alt=""></div>
                        <p id="name-trail">{{trail.name}}</p>
                        <p><span>Kraj: </span>Polska</p>
                        <p><span>Miasto: </span>Warszawa</p>
                        <div class="all_trails-trail_more"><button><a href="{% url 'trails:trail_detail' trail.id %}">Więcej</a></button></div>
                    </div>
                {% endfor %}
            </div>
            <button id="left"><</button>
            <button id="right">></button>
        </div>
    </div>
</div>
<script>

//      Sekcja stwórz trasę
    let buttonRight = document.getElementById('right');
    let buttonLeft = document.getElementById('left');
    let amount = document.querySelectorAll('div.all_trails-trail');
     let position = 0;
    buttonRight.addEventListener('click', function () {
        let list_point_user_add = document.getElementById('trails');
            if(position>=0 && position<=amount.length*10) {
                position += 350;
                console.log(position);
                list_point_user_add.style.marginLeft = `-${position}px`
            }
    });
    buttonLeft.addEventListener('click', function () {
        let list_point_user_add = document.getElementById('trails');
        if (position>=300 ){
            position -= 350;
            console.log("position");
            list_point_user_add.style.marginLeft =`-${position}px`
        }
    });

</script>
{% endblock %}
