{% extends 'base_trail.html' %}
{% block title %} Trasy zwiedzania {% endblock %}
{% block content %}
    <div class="all_trails">
        <div class="trails" id="trails">
            {%for trail in object_list%}
                <div class="all_trails-trail" id="all_trails-trail">
                    <div class="image_trail"><img src="{{trail.image.url}}" alt=""></div>
                    <p>{{trail.name}}</p>
                    <p class="description">{{trail.descriptions}}</p>
                    <div class="all_trails-trail_more"><button><a href="{% url 'trails:trail_detail' trail.id %}">Więcej</a></button></div>
                </div>
            {% endfor %}
        </div>
        <button id="left"><</button>
        <button id="right">></button>
    </div>

<script>

//      Sekcja stwórz trasę
    let buttonRight = document.getElementById('right');
    let buttonLeft = document.getElementById('left');
    let amount = document.querySelectorAll('div.all_trails-trail');
     let position = 0;
    buttonRight.addEventListener('click', function () {
        let list_point_user_add = document.getElementById('trails');
            if(position>=0 && position<=amount.length*350) {
                position += 350;
                console.log(position);
                list_point_user_add.style.marginLeft = `-${position}px`
            }
    });
    buttonLeft.addEventListener('click', function () {
        let list_point_user_add = document.getElementById('trails');
        if (position>=350 ){
            position -= 350;
            console.log("position");
            list_point_user_add.style.marginLeft =`-${position}px`
        }
    });

</script>
{% endblock %}
