{% extends 'base_trail.html' %}
{% load static %}
{% block title %} Trasy zwiedzania {% endblock %}
{% block content %}
<div class="wrap-trails">
    <div class="title-trails">
            <h3>Wybierz trasę</h3>
            <p class="title">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
                standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a
                type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining
                essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum</p>
            </div>
    {% if not search %}
    <div class="trail-center">
        <div class="filter_trails">
             <div id="x_hamburger"><i class="fas fa-times"></i></div>
            <h3> Filtrowanie tras: </h3>
            <div class="filter">
                    <form action="" method="post">
                        <div class="name">
                            <label>Nazwa:</label>
                            <input type="text" name="name" placeholder="Wyszukaj trasę po nazwie">
                        </div>
                        <div class="country">
                            <label>Kraj:</label>
                                {% for c in country_trail %}
                                    <label><input type="checkbox" name="country" value="{{c}}">{{c}}</label>
                                {% endfor %}
                                <p>Pokaż więcej</p>
                        </div>
                        <div class="region">
                            <label>Region:</label>
                                {% for r in region_trail %}
                                    <label><input type="checkbox" name="region" value="{{r}}">{{r}}</label>
                                {% endfor %}
                            <p>Pokaż więcej</p>
                        </div>
                        <div class="city">
                            <label>Miasto:</label>
                                {% for i in city %}
                                        <label><input type="checkbox" name="city" value="{{i}}">{{i}}</label>
                                {% endfor %}
                            <p class="city">Pokaż więcej</p>
                        </div>
                         <div class="type">
                            <label>Typ trasy:</label>
                             {% for r in type_trail %}
                             <label><input type="checkbox" name="type" value="{{r}}">{{r}}</label>
                            {% endfor %}
                            <p>Pokaż więcej</p>
                        </div>
                        <div class="top_rate">
                            <label>Ocena:</label>
                             <label class="star"><input type="checkbox" name="star_5" value="5">&#9733;&#9733;&#9733;&#9733;&#9733;</label>
                             <label class="star"><input type="checkbox" name="star_4" value="4">&#9733;&#9733;&#9733;&#9733;</label>
                             <label class="star"><input type="checkbox" name="star_3" value="3">&#9733;&#9733;&#9733;</label>
                             <label class="star"><input type="checkbox" name="star_2" value="2">&#9733;&#9733;</label>
                             <label class="star"><input type="checkbox" name="star_1" value="1">&#9733;</label>
                        </div>
                        <div class="popular">
                            <label>Popularne:</label>
                                <label><input type="checkbox"  name="popular" value="True">Tak</label>
                                <label><input type="checkbox"  name="popular" value="False">Nie</label>
                        </div>
                        <div class="accept_filter">
                            <button id="button-filter">ZASTOSUJ FILTRY</button>
                        </div>
                        {% csrf_token %}
                    </form>
            </div>
        </div>
        <div id="hamburger"><i class="fas fa-bars"></i></div>
        <div class="right">
            <div class="all_trails">
                 <h3> Wszystkie trasy: </h3>
                <div class="all_trail-trails" id="trails">
                    {%for trail in object_list%}
                        <div class="all_trails-trail" id="all_trails-trail">
                            <div class="image_trail"><img src="{{trail.image.url}}" alt=""></div>
                            <p id="name-trail">{{trail.name}}</p>
                            <p><span>Kraj: </span>Polska</p>
                            <p><span>Miasto: </span>Warszawa</p>
                            <div class="all_trails-trail_more" style="display: flex">
                                <div>
                                  <p>Wykonało: <span> {{trail.watched}} </span></p>
                                <p>Ocena: <span> {{trail.average_grade}}</span> </p>
                                </div>
                          <button><a href="{% url 'trails:trail_detail' trail.id %}">Więcej</a></button>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <button id="left"><</button>
                <button id="right">></button>
            </div>
            <div class="top_rate-center">
                 <h3> Najwyżej oceniane: </h3>
                <div class="top_rate-trails" id="top_rate-trails">
                    {%for trail in top_rate%}
                        <div class="top_rate-trail" id="top_rate-trail">
                            <div class="image_trail"><img src="{{trail.image.url}}" alt=""></div>
                            <p id="top_rate-name_trail">{{trail.name}}</p>
                            <p><span>Kraj: </span>Polska</p>
                            <p><span>Miasto: </span>Warszawa</p>
                            <div class="top_rate-trail_more" style="display: flex">
                                <div>
                                    <p>Wykonało: <span> {{trail.watched}} </span></p>
                                    <p>Ocena: <span> {{trail.average_grade}}</span> </p>
                                </div>
                            <button><a href="{% url 'trails:trail_detail' trail.id %}">Więcej</a></button>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <button id="left-rate"><</button>
                <button id="right-rate">></button>
            </div>
            <div class="popular-center">
                 <h3> Najpopularniejsze: </h3>
                <div class="popular-trails" id="popular-trails">
                    {%for trail in popular_trail%}
                        <div class="popular-trail" id="popular-trail">
                            <div class="image_trail"><img src="{{trail.image.url}}" alt=""></div>
                            <p id="popular-name_trail">{{trail.name}}</p>
                            <p><span>Kraj: </span>Polska</p>
                            <p><span>Miasto: </span>Warszawa</p>
                            <div class="popular-trail_more" style="display: flex"><div style="">
                                <p>Wykonało: <span> {{trail.watched}} </span></p>
                                <p>Ocena: <span> {{trail.average_grade}}</span> </p>
                            </div><button><a href="{% url 'trails:trail_detail' trail.id %}">Więcej</a></button>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <button id="left-popular"><</button>
                <button id="right-popular">></button>
            </div>
            </div>
    </div>
    {% else %}
     <div class="trail-center">
        <div class="filter_trails">
             <div id="x_hamburger"><i class="fas fa-times"></i></div>
            <h3> Filtrowanie tras: </h3>
            <div class="filter">
                    <form action="" method="post">
                        <div class="name">
                            <label>Nazwa:</label>
                            <input type="text" name="name" placeholder="Wyszukaj trasę po nazwie">
                        </div>
                        <div class="country">
                            <label>Kraj:</label>
                                {% for c in country_trail %}
                                    <label><input type="checkbox" name="country" value="{{c}}">{{c}}</label>
                                {% endfor %}
                                <p>Pokaż więcej</p>
                        </div>
                        <div class="region">
                            <label>Region:</label>
                                {% for r in region_trail %}
                                    <label><input type="checkbox" name="region" value="{{r}}">{{r}}</label>
                                {% endfor %}
                            <p>Pokaż więcej</p>
                        </div>
                        <div class="city">
                            <label>Miasto:</label>
                                {% for i in city %}
                                        <label><input type="checkbox" name="city" value="{{i}}">{{i}}</label>
                                {% endfor %}
                            <p class="city">Pokaż więcej</p>
                        </div>
                         <div class="type">
                            <label>Typ trasy:</label>
                             {% for r in type_trail %}
                             <label><input type="checkbox" name="type" value="{{r}}">{{r}}</label>
                            {% endfor %}
                            <p>Pokaż więcej</p>
                        </div>
                        <div class="top_rate">
                            <label>Ocena:</label>
                             <label class="star"><input type="checkbox" name="star" value="5">&#9733;&#9733;&#9733;&#9733;&#9733;</label>
                             <label class="star"><input type="checkbox" name="star" value="4">&#9733;&#9733;&#9733;&#9733;</label>
                             <label class="star"><input type="checkbox" name="star" value="3">&#9733;&#9733;&#9733;</label>
                             <label class="star"><input type="checkbox" name="star" value="2">&#9733;&#9733;</label>
                             <label class="star"><input type="checkbox" name="star" value="1">&#9733;</label>
                        </div>
                        <div class="popular">
                            <label>Popularne:</label>
                                <label><input type="checkbox"  name="popular" value="True">Tak</label>
                                <label><input type="checkbox"  name="popular" value="False">Nie</label>
                        </div>
                        <div class="accept_filter">
                            <button id="button-filter_search">ZASTOSUJ FILTRY</button>
                        </div>
                        {% csrf_token %}
                    </form>
            </div>
        </div>
        <div id="hamburger"><i class="fas fa-bars"></i></div>
         <div class="right-search">
             {% if search == 'Brak wyników wyszukiwania' %}
                <div id="info-error">
                    <h3>{{search}}</h3>
                </div>
             {% else %}
                <div id="title-search">
                    <h3>Wynik wyszukiwania:</h3>
                </div>
                <div id="search-trail-wrap">
                    <ul>
                        {% for s in search %}
                            <li>
                                <div id="search-trail">
                                    <div id="search_image"><img src="{{s.image.url}}" alt=""></div>
                                    <p id="search-trail_name">{{s.name}}</p>
                                    <p><span>Kraj: </span>{{s.country}}</p>
                                    <p><span>Miasto: </span>{{s.city}}</p>
                                    <div id="search-trail_more" style="display: flex">
                                        <div>
                                            <p>Wykonało: <span> {{s.watched}} </span></p>
                                            <p>Ocena: <span> {{s.average_grade}}</span> </p>
                                        </div>
                                    <button><a href="{% url 'trails:trail_detail' s.id %}">Więcej</a></button>
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
             {% endif %}
         </div>
    </div>
    {% endif %}
</div>
<script src="{% static 'js/all_trails.js' %}" type="text/javascript"></script>
{% endblock %}
