{% extends 'base_trail.html' %}
{% block title %} Trasy zwiedzania {% endblock %}
{% block content %}
<div class="wrap-trails">
    <div class="title-trails">

    </div>
    <div class="trail-center">
        <div class="filter_trails">
            <h3> Filtrowanie tras: </h3>
            <div class="filter">
                <form action="" method="post">
                    <div class="name">
                        <label>Nazwa:</label>
                        <input type="text" placeholder="Wyszukaj trasę po nazwie">
                    </div>
                    <div class="country">
                        <label>Kraj:</label>
                        <label><input type="checkbox" name="country_Poland" value="Polska">Polska</label>
                        <label><input type="checkbox" name="country_German" value="Niemcy">Niemcy</label>
                        <label><input type="checkbox" name="country_Czech" value="Czechy">Czechy</label>
                        <p>Pokaż więcej</p>
                    </div>
                    <div class="region">
                        <label>Region:</label>
                        <label><input type="checkbox" name="region_Mazury" value="Mazury">Mazury</label>
                        <label><input type="checkbox" name="region_Śląsk" value="Śląsk">Śląsk</label>
                        <label><input type="checkbox" name="region_Morze" value="Morze">Morze</label>
                        <p>Pokaż więcej</p>
                    </div>
                    <div class="city">
                        <label>Miasto:</label>
                        {% for i in city %}
                        <label><input type="checkbox" name="city{{i.id}}" value="{{i}}">{{i}}</label>
                        {% endfor %}
                        <p class="city">Pokaż więcej</p>
                    </div>
                    <div class="type">
                        <label>Typ trasy:</label>
                        <label><input type="checkbox" name="type_historyczna" value="Historyczna">Historyczna</label>
                        <label><input type="checkbox" name="type_Krajobrazowa" value="Krajobrazowa">Krajobrazowa</label>
                        <label><input type="checkbox" name="type_Fajna" value="Fajna">Fajna</label>
                        <p>Pokaż więcej</p>
                    </div>
                    <div class="top_rate">
                        <label>Ocena:</label>
                        <label class="star"><input type="checkbox" name="star_5" value="5">&#9733;&#9733;&#9733;&#9733;&#9733;</label>
                        <label class="star"><input type="checkbox" name="star_4" value="4">&#9733;&#9733;&#9733;&#9733;</label>
                        <label class="star"><input type="checkbox" name="star_3" value="3">&#9733;&#9733;&#9733;</label>
                        <label class="star"><input type="checkbox" name="star_2" value="2">&#9733;&#9733;</label>
                        <label class="star"><input type="checkbox" name="star_1" value="1">&#9733;</label>
                    </div>
                    <div class="popular">
                        <label>Popularne:</label>
                        <label><input type="checkbox" name="popular_historic" value="Historyczna Stefana">Historyczna
                            Stefana (200)</label>
                        <label><input type="checkbox" name="popular_seks" value="Seksowna">Seksowna (100)</label>
                        <label><input type="checkbox">Moja (9)</label>
                        <p>Pokaż więcej</p>
                    </div>
                    <div class="accept_filter">
                        <button id="button-filter">ZASTOSUJ FILTRY</button>
                    </div>
                    {% csrf_token %}
                </form>
            </div>
        </div>
        <div class="right">

            {%for i in list %}
            {{i}}
            {%endfor%}

        </div>
    </div>
</div>
<script>
    <!--    Wszystkie trasy-->
    let buttonRight = document.getElementById('right');
    let buttonLeft = document.getElementById('left');
    let amount = document.querySelectorAll('div.all_trails-trail');
    let position = 0;
    buttonRight.addEventListener('click', function () {
        let list_point_user_add = document.getElementById('trails');
        if (position >= 0 && position <= amount.length * 10) {
            position += 350;
            list_point_user_add.style.marginLeft = `-${position}px`
        }
    });
    buttonLeft.addEventListener('click', function () {
        let list_point_user_add = document.getElementById('trails');
        if (position >= 300) {
            position -= 350;
            list_point_user_add.style.marginLeft = `-${position}px`
        }
    });
    //    Najwyżej oceniane
    let buttonLeft_rate = document.getElementById('left-rate');
    let buttonRight_rate = document.getElementById('right-rate');
    let amount_top_rate = document.querySelectorAll('div.top_rate-trails');
    let position_top_rate = 0;

    buttonRight_rate.addEventListener('click', function () {
        let list_point_user_add = document.getElementById('top_rate-trails');
        if (position_top_rate >= 0 && position_top_rate <= amount_top_rate.length * 10) {
            position_top_rate += 350;
            list_point_user_add.style.marginLeft = `-${position_top_rate}px`
        }
    });
    buttonLeft_rate.addEventListener('click', function () {
        let list_point_user_add = document.getElementById('top_rate-trails');
        if (position_top_rate >= 300) {
            position_top_rate -= 350;
            list_point_user_add.style.marginLeft = `-${position_top_rate}px`
        }
    });

    //    Najpopularniejsze
    let buttonLeft_popular = document.getElementById('left-popular');
    let buttonRight_popular = document.getElementById('right-popular');
    let amount_popular_trail = document.querySelectorAll('div.popular-trail');
    let position_popular_trail = 0;

    buttonRight_popular.addEventListener('click', function () {
        let list_point_user_add = document.getElementById('popular-trails');
        if (position_popular_trail >= 0 && position_popular_trail <= amount_popular_trail.length * 10) {
            position_popular_trail += 350;
            list_point_user_add.style.marginLeft = `-${position_popular_trail}px`
        }
    });
    buttonLeft_popular.addEventListener('click', function () {
        let list_point_user_add = document.getElementById('popular-trails');
        if (position_popular_trail >= 300) {
            position_popular_trail -= 350;
            list_point_user_add.style.marginLeft = `-${position_popular_trail}px`
        }
    });


    //    Obsługa przycisku Pokaż więcej
    let more = document.querySelector('p.city');
    let div_city = document.querySelector('div.city')

    more.addEventListener('click', function () {
        div_city.classList.toggle("active");

    })
    //Obsługa skrolowania

    const button = document.getElementById('button-filter')

    window.addEventListener(
        'scroll',
        () => {
            if (window.scrollY >= 800) {
                button.style.position = 'static'
                console.log(window.scrollY)
            } else {
                button.style.position = 'fixed'
                console.log(window.scrollY)
            }
        }
    )

</script>
{% endblock %}
