div#audio-wrap{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255,255,255,0.5);
}
div#audio-wrap div.play{
    position: relative;
    top:30vh;
    left:calc(50vw - 170px);
    width:340px;
    height: 110px;
    background-color: #fff;
    border: 1px solid #c1c1c1;
    box-shadow: 0 0 3px #a9a9a9;
    border-radius: 15px;
    text-align: center;
}
div#audio-wrap div.play h3{
     font-family: 'Archivo Black', sans-serif;
    font-size: 16px;
    letter-spacing: 2px;
    font-weight: lighter;
    margin: 10px 0;
    text-align: center;
}
div#audio-wrap div.play span#close{
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
}
/*Point.*/
div.point-image {
    height: 45vh;
    background-position: center;
    background-size: cover;
    box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.4);
}

div.point-image div.title-point {
    text-align: center;
    margin: 0 auto;
    padding-top: 5vh;
}

div.point-image div.title-point h3 {
    text-align: center;
    font-family: 'Archivo Black', sans-serif;
    font-size: 40px;
    font-weight: 900;
    letter-spacing: 3px;
    margin: 0;
    color: white;
    -webkit-text-stroke: 0.8px black;
    text-shadow: 0 0 5px black;
}

div.point-image div#file-point {
    margin: 120px 0 0;
    text-align: center;
}

button#pdf {
    background-color: #12a900;
    width: 330px;
    height: 50px;
    border: none;
    box-shadow: none;
    border-radius: 5px;
}
button#pdf a{
    color: white;
    letter-spacing: 1.3px;
    text-decoration: none;
    font-family: Arial, sans-serif;
    font-size: 15px;
}
button#audio {
    background-color: #e3df00;
    width: 280px;
    height: 50px;
    border: none;
    box-shadow: none;
    border-radius: 5px;
    cursor: pointer;
}
button#audio-none {
    background-color: rgba(227,223, 0,0.6);
    width: 280px;
    height: 50px;
    border: none;
    box-shadow: none;
    border-radius: 5px;
}

button#audio a {
    color: black;
    text-decoration: none;
    font-family: 'Archivo Black', sans-serif;
    font-size: 15px;
    letter-spacing: 1.3px;
}

div.map {
    width: calc(100% - 30px);
    margin: 20px 0;
    border-radius: 15px;
    padding: 0 15px;
    background-color: #fff;
    border: 1px solid #e0e0e0;
    box-shadow: 0 0 3px #e3e3e3;
}

div.map h3{
    font-family: 'Archivo Black', sans-serif;
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: lighter;
    margin: 10px 0;
}

div.map p{
    font-family: Arial, sans-serif;
    letter-spacing: 1.1px;
    line-height: 22px;
}
div#map_1de6ef4f1218487da9d6da057bb8f454 {
    height: 280px;
    width: 100%;
}
div#point_description p span{
    font-style: italic;
    display: block;
    font-size: 13px;
    margin-top: 10px;
}

/* ------------Galeria--------------------------- */
div.gallery {
    width: 100%;
    min-height: 30vh;
    margin: 0 auto;
    background-color: white;
    border: 1px solid white;
    box-shadow: 0 0 3px #3b3b3b;
    border-radius: 10px;
}

.arrow {
    position: relative;
    font-size: 30px;
    color: #343434;
    top: 60px;
    text-shadow: 0 0 3px white;
}

.arrow:nth-of-type(1) {
    left:-340px;
    z-index: 99;
}

.arrow:nth-of-type(2) {
    right: -340px;
}

div.big_image {
    width: 100%;
    height: 370px;
    text-align: center;
}
div.big_image div#bigger{
    width: 500px;
}
div.big_image img {
    margin-top: 20px;
    width: auto;
    max-width: 630px;
    height: 330px;
}

div#small-wrap-first {
    width: 100%;
}

div#small-wrap {
    width: 60%;
    height: 120px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
}

div#small {
    width: 100%;
    height: 100%;
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}


div#small img {
    width: 100px;
    height: 100px;
    margin-right: 8px;
}

/*------------------------*/
div.center {
    background-image: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url("../img/texture.jpg");
    padding-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

div.center div#point-left {
    width: 60vw;
    margin-left: 50px;
}

div.center div#point-right {
    width: 20vw;
    height: 500px;
    margin-left: 50px;
    padding-top: 10px;
}

div.center div#point-right h4 {
    font-family: 'Chau Philomene One', sans-serif;
    font-weight: normal;
    letter-spacing: 1.4px;
    font-size: 19px;
    margin-top: 0;
    margin-bottom: 10px;
}

div.center div#point-right div.top-rate-point {
    width: 400px;
    height: 100px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.7);
    border: 1px solid #dddddd;
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
}

div.center div#point-right div.top-rate-point div.top-rate-point-image {
    width: 120px;
    height: 100px;
    margin-right: 10px;
}

div.center div#point-right div.top-rate-point div.top-rate-point-image img {
    width: 100%;
    height: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

div.center div#point-right div.top-rate-point div.point-description {
    width: 280px
}

div.top-rate-point div.point-description div.more {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 20px;
}

div.top-rate-point div.point-description div.more p {
    margin: 5px 0;
}
div.top-rate-point div.point-description div.more p span{
    font-weight: bold;
}
div.top-rate-point div.point-description div.more-button{
    text-align: right;
    padding-right: 20px;
    margin-top: 2px;
}
div.top-rate-point div.point-description div.more-button button{
    background-color: #00c403;
    border:none;
    border-radius: 10px;
    padding:6px 10px;
}
div.top-rate-point div.point-description div.more-button button a{
    color:white;
    font-family: Arial, sans-serif;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1.1px;
    text-decoration: none;
}
div.top-rate-point div.point-description p#name {
    font-family: 'Pattaya', sans-serif;
    letter-spacing: 1.6px;
    margin: 10px 0 5px 0;
}

/*Social icons. */
div#social-right {
    position: fixed;
    top: 20vh;
    right: 0;
    width: 39px;
    height: 105px;
    background-color: #fff;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

div#social-right div {
    line-height: 35px;
    text-align: center;
    font-size: 35px;
    border-bottom: 0.6px solid black;
}

div#social-right:nth-of-type(3) {
    border-bottom: none;
}

div#fb {
    color: #00449b;
}

div#li {
    color: #0072ff;
}

div#social-right div#youtube {
    color: #a20000;
    font-size: 30px;
}

div#basic-info {
    width: 100%;
    height: 250px;
    background-color: #fff;
    margin: 0 auto;
    padding: 10px 0;
    border-radius: 15px;
    border: 1px solid #e0e0e0;
}

div#basic-info div.name div.icons {
    margin: 0 0 0 55px;
    display: flex;
    flex-direction: row;
}

div#basic-info div.icons p {
    margin: 0 10px 10px 0;
    font-size: 14px;
}

div#basic-info div.icons p span {
    margin-right: 5px;
    font-family: Arial, sans-serif;
    color: #9f9f9f;
}

div#basic-info div.icons p i {
    margin-right: 5px;
}

div#basic-info div.icons p#done i {
    color: #0e446c;
}

div#basic-info div.icons p#heart i {
    color: #e90000;
}

div#basic-info div.icons p#downloads i {
    color: #949494;
}

div#basic-info div.name div.title-point {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

div#basic-info div.name div#buttons_point {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
}
div#basic-info div.name div#buttons_point button {
    border: 1px solid #bebebe;
    background-color: #fff;
    margin-right: 10px;
    border-radius: 5px;
    font-family: Arial, sans-serif;
}

div#basic-info div.name div#buttons_point form:nth-of-type(1) button {
    margin-right: 5px;
}

div#basic-info div.name div#buttons_point form:nth-of-type(1) button i {
    color: #0e446c;
    margin-right: 4px;
}

div#basic-info div.name div#buttons_point form:nth-of-type(2) button i {
    color: red;
    margin-right: 4px;
}

div#basic-info h3 {
    margin: 5px 10px 5px;
    font-family: Arial, sans-serif;
    font-weight: 600;
    font-size: 23px;
    letter-spacing: 2.0px;
    padding-left: 30px;
}

div#basic-info div.more {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

div#basic-info div.more div.right {
    width: 47%;
    display: flex;
    flex-direction: column;
}

div#basic-info div.more div.left {
    width: 51%;
    display: flex;
    flex-direction: column;
    padding-left: 30px;
}

div#basic-info div.more div {
    display: flex;
    flex-direction: row;
}

div#basic-info div.more div.left div, div#basic-info div.more div.right div {
    height: 65px;
}

div#basic-info div.more div.left div i, div#basic-info div.more div.right div i {
    font-size: 25px;
    margin-right: 7px;
    margin-top: 15px;
    color: #0099f5;
    opacity: 0.6;
    height: 45px;
}

div#basic-info div.more div.left div p, div#basic-info div.more div.right div p {
    line-height: 30px;
    font-family: Arial, sans-serif;
}

div#basic-info div.more div.left div p i, div#basic-info div.more div.right div p i {
    font-size: 16px;
    color: black;
}

div#basic-info div.more div.left div p span, div#basic-info div.more div.right div p span {
    font-weight: bold;
    font-size: 15px;
}

/*Map.*/


div.map div.folium-map {
    width: 100%;
}

div.leaflet-control {
    display: none;
}

/*Opinion trails.*/
div.opinion-trail {
    border: 0.5px solid #bcbcbc;
    border-radius: 15px;
    background-color: #f3f3f3;
    margin: 30px auto;
    width: calc(100% - 60px);
    padding: 0 30px;
}

div.top_form p#yours_stars-trail {
    margin-top: 15px;
    margin-left: 85px;
}

.stars-trail {
    background: #ffffff;
    height: 30px;
    width: 110px;
    padding-right: 15px;
    padding-bottom: 5px;
    border-radius: 15px;
    margin-top: 8px;
    margin-left: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
}

.stars-trail input {
    position: absolute;
    left: -99999px;
}

.stars-trail label {
    width: 20px;
    height: 30px;
    padding: 5px;
    color: transparent;
}

.stars-trail label::before {
    content: '★';
    color: #c0c0c0;
    font-size: 30px;
    line-height: 30px;
    margin-right: -100%;
}

.stars-trail label:hover::before,
.stars-trail label:hover ~ label::before,
.stars-trail input:checked ~ label::before {
    color: #ffa500;
}

@media only screen and (max-width: 1505px) {
    div.center div#point-left {
        margin-left: 10px;
    }

    div.center div#point-right {
        margin-left: 30px;
    }
}

@media only screen and (max-width: 1395px) {
    div.center div#point-left {
        width: 55vw;
        margin-left: 0;
    }

    div.center div#point-right div.top-rate-point {
        width: 350px;
    }

    .arrow:nth-of-type(1) {
        left: -280px;
    }

    .arrow:nth-of-type(2) {
        right: -280px;
    }
}

@media only screen and (max-width: 1130px) {
    div.center {
        justify-content: left;
    }

    div.center div#point-left {
        margin-left: 30px;
    }

    div#basic-info {
        height: 270px;
    }

    .arrow:nth-of-type(1) {
        left: -250px;
    }

    .arrow:nth-of-type(2) {
        right: -250px;
    }
}

@media only screen and (max-width: 1020px) {
    .arrow:nth-of-type(1) {
        left: -200px;
    }

    .arrow:nth-of-type(2) {
        right: -200px;
    }

    div#basic-info {
        height: 290px;
    }
}

@media only screen and (max-width: 920px) {
    div.center {
        flex-direction: column;
        justify-content: center;
    }

    div.center div#point-left {
        width: 90vw;
        margin: 0 auto;
    }

    div#basic-info {
        height: 240px;
    }

    div.center div#point-right {
        height: auto;
        width: 90vw;
        margin: 0 auto;
    }

    div.center div#point-right div.top_rate-points {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-top: 20px;
    }
}

@media only screen and (max-width: 785px) {
    div.center div#point-right div.top_rate-points {
        display: flex;

        width: 90vw;
    }

    div.center div#point-right div.top-rate-point {
        margin: 0 auto 20px;
        width: 300px;
    }

    div.top-rate-point div.point-description p#name {
        font-size: 15px;
    }
}

@media only screen and (max-width: 715px) {
    div#basic-info {
        height: 270px;
    }
}

@media only screen and (max-width: 672px) {
    div.center div#point-right div.top-rate-point {
        margin: 0 auto 20px;
        width: 430px;
        height: 130px;
    }

    div.center div#point-right div.top-rate-point div.top-rate-point-image {
        width: 170px;
        height: 130px;
        margin-right: 10px;
    }
}

@media only screen and (max-width: 613px) {
    button#audio {
        margin-top: 10px;
    }
}

@media only screen and (max-width: 550px) {
    div.big_image img {
        width: 400px
    }

    div#basic-info {
        height: 320px;
    }

    div#basic-info div.more div.right div#len, div#basic-info div.more div.left div#type {
        height: 95px;
    }

    div#basic-info div.more div.right div#len p {
        display: flex;
        flex-direction: column;
    }

    div#basic-info div.more div.right div#len i#y, div#basic-info div.more div.right div#len i#x {
        font-size: 14px;
        margin: 3px 0 3px 10px;
        height: 20px;
    }

    .arrow:nth-of-type(1) {
        left: -170px;
    }

    .arrow:nth-of-type(2) {
        right: -170px;
    }
}

@media only screen and (max-width: 480px) {
    div.big_image {
        height: 300px;
    }

    div.big_image img {
        width: 350px;
        height: auto;
    }

    div.gallery {
        min-height: 10vh;
    }
}

@media only screen and (max-width: 435px) {
    .arrow:nth-of-type(1) {
        left: -140px;
    }

    .arrow:nth-of-type(2) {
        right: -140px;
    }

    div.center div#point-right div.top-rate-point {
        width: 350px;
        height: 100px;
    }

    div.center div#point-right div.top-rate-point div.top-rate-point-image {
        width: 130px;
        height: 100px;
    }

    div.big_image img {
        width: 300px;
    }
}

@media only screen and (max-width: 415px) {
    div#basic-info div.name div.title-point {
        flex-direction: column;
    }

    div#basic-info h3#point-name {
        margin-bottom: 5px;
    }

    div#basic-info div.name div#buttons_point {
        margin: 5px auto 10px;
    }

    div#basic-info div.name div.icons {
        margin: 0 auto;
        justify-content: space-between;
        padding: 0 25px;
    }

    div#basic-info div.icons p {
        margin-right: 0;
        width: 75px
    }
}

@media only screen and (max-width: 360px) {
    div#basic-info {
        height: 340px
    }
    .arrow:nth-of-type(1) {
        left: -110px;
    }

    .arrow:nth-of-type(2) {
        right: -110px;
    }
}