div.opacity {
    transform: translateY(-60px);
}

div#hamburger-create-trail {
    display: none;
}

div.wrap-trails_add {
    display: flex;
    flex-direction: column;
}

div.wrap-trails_add div.title-trail_add {
    position: relative;
    top: -20px;
    left: -105px;
    width: 99vw;
    height: 150px;
    background: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), url(../img/trail.jpg);
    background-position: center;
    background-size: cover;
    border-bottom: 1px solid grey;

}

div.wrap-trails_add div.title-trail_add h3 {
    text-align: center;
    font-family: 'Archivo Black', sans-serif;
    font-size: 40px;
    font-weight: 900;
    letter-spacing: 3px;
    margin: 35px 0 0;
    color: white;
    -webkit-text-stroke: 0.6px black;
    text-shadow: 0 0 3px black;
}

div.wrap-trails_add div.trail_add-center{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/*Sekcja filtrów tras*/

div.wrap-trails_add div.trail_add-center div.filter_trails {
    width: 15vw;
    min-height: 70vh;
    /*transform: translateY(-50px);*/
}

div.wrap-trails_add div.trail_add-center div.filter_trails.rwd {
    display: block;
    position: absolute;
    top: 100px;
    left: 0;
    width: 250px
}

div#x_hamburger_create-trail {
    display: none;
    width: 50px;
    height: 50px;
    font-size: 19px;
    position: absolute;
    top: 65px;
    left: 235px;
}

div.wrap-trails_add div.trail_add-center div.filter_trails h3 {
    color: #646464;
    letter-spacing: 1.7px;
    font-size: 20px;
    padding-left: 5px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

div.wrap-trails_add div.trail_add-center div.filter_trails div.filter {
    background-color: #fff;
    font-family: "Roboto", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
    border: 0.5px solid #868686;
    box-shadow: 0 0 1px #d2d2d2;
    min-height: 60vh;
    font-size: 14px;
}

div.wrap-trails_add div.trail_add-center div.filter_trails div.filter form div {
    display: flex;
    flex-direction: column;
    border-bottom: 0.5px solid #a5a5a5;
    padding: 10px 10px;
}

div.wrap-trails_add div.trail_add-center div.filter_trails div.filter form div.country {
    height: 430px;
}


div.wrap-trails_add div.trail_add-center div.filter_trails div.filter form div.region {
    height: 200px;
}

div.wrap-trails_add div.trail_add-center div.filter_trails div.filter form div.city {
    height: 195px;
    overflow: hidden;
}

div.wrap-trails_add div.trail_add-center div.filter_trails div.filter form div.city p.city {
    background-color: white;
    width: 100%;
    position: relative;
    display: block;
    height: 25px;
    top: -80px;
    margin: 10px 0 10px 0;
    padding:5px 0 10px 0;
}
div.wrap-trails_add div.trail_add-center div.filter_trails div.filter form div.city.active{
    height:255px;
}
div.wrap-trails_add div.trail_add-center div.filter_trails div.filter form div.city.active p.city{
    top: 0;
     margin:0;
    padding:0;
}
div.wrap-trails_add div.trail_add-center div.filter_trails div.filter form div label{
    padding: 5px 0 10px 16px;
}

div.wrap-trails_add div.trail_add-center div.filter_trails div.filter form div label input[type='checkbox']{
    margin-right: 10px;
}

div.wrap-trails_add div.trail_add-center div.filter_trails div.filter form div label:nth-of-type(1){
    padding: 5px 0 10px 10px;
    font-weight: bold;
}
div.wrap-trails_add div.trail_add-center div.filter_trails div.filter form div.name input{
    width: 190px;
    height: 22px;
    margin-left: 25px;
    padding-left: 25px;
}
div.wrap-trails_add div.trail_add-center div.filter_trails div.filter form div p{
    color: #3587ea;
    text-align: center;
    cursor: pointer;
    letter-spacing: 0.8px;
    position: relative;
}
div.wrap-trails_add div.trail_add-center div.filter_trails div.filter form div.accept_filter{
    padding: 0;
    width:100%;
    height:50px;
}
#button-filter_your-trail{
    width:99.6%;
    height:53px;
    letter-spacing: 1.4px;
    background-color: #f8ff00;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

div.wrap-trails_add div.trail_add-center div.filter_trails div.filter form div.top_rate label.star {
    color: gold;
}

/*Sekcja środkowa.*/

div.wrap-trails_add div.trail_add-center div.przyklad {
    margin: 60px 20px;
}

@media only screen and (max-width: 1680px) {
    div.opacity {
        transform: translateY(-40px);
    }

    div.wrap-trails_add div.trail_add-center div.filter_trails div.filter form div.name input {
        width: 170px;
        margin-left: 10px;
        padding-left: 15px;
    }

    div.wrap-trails_add div.title-trail_add {
        width: 100vw;
        left: -9vw;
    }

    div.wrap-trails_add div.trail_add-center div.przyklad {
        margin: 80px 0 80px 60px;
        width: 67vw;
        justify-content: space-between;
    }

    div.wrap-trails_add div.trail_add-center div.przyklad button#right {
        right: -950px;
    }
}

@media only screen and (max-width: 1487px) {
    div.point_add {
        width: 260px;
        margin-right: 10px;
    }

    div.wrap-trails_add div.trail_add-center div.filter_trails div.filter form div.name input {
        width: 150px;
        padding-left: 5px;
    }
}

@media only screen and (max-width: 1303px) {
    div.point_add {
        width: 290px;
        margin-right: 15px;
    }

    div.wrap-trails_add div.trail_add-center div.filter_trails div.filter form div.name input {
        margin-left: 0;
    }

    div.wrap-trails_add div.title-trail_add {
        width: 100vw;
        left: -9vw;
    }

}

@media only screen and (max-width: 1152px) {
    div.wrap-trails_add div.trail_add-center {
        justify-content: space-around;
    }

    div.wrap-trails_add div.trail_add-center div.filter_trails {
        width: 19vw;
    }
}

@media only screen and (max-width: 1050px) {
    div.point_add {
        width: 250px;
        margin-right: 10px;
    }
}

@media only screen and (max-width: 930px) {
    div.opacity {
        transform: translateY(-40px) translateX(50px);
    }

    div.wrap-trails_add div.trail_add-center div.filter_trails {
        display: none;
    }

    div.wrap-trails_add div.trail_add-center div.przyklad {
        width: 95vw;
        margin-left: 0;
        justify-content: space-around;
    }

    div.point_add {
        width: 290px;
    }

    p#add {
        left: 30vw;
    }

    div#hamburger-create-trail {
        display: block;
        transform: translateX(-30px);
        font-size: 27px;
    }
}

@media only screen and (max-width: 766px) {
    div.point_add {
        width: 260px;
    }
}

@media only screen and (max-width: 693px) {
    div.point_add {
        width: 290px;
    }

    div.opacity {
        transform: translateY(-30px) translateX(95px);
    }

    p#add {
        left: 20vw;
    }
}

@media only screen and (max-width: 555px) {
    div.opacity {
        transform: translateY(-30px) translateX(145px);
    }
}

@media only screen and (max-width: 500px) {
    p#add {
        font-size: 20px;
        left: 23vw;
    }
}

@media only screen and (max-width: 390px) {
    div#hamburger-create-trail {
        transform: translateX(-10px);
    }
}