div.shop-list{min-height: 200vh}

div.category-products div.ad {
    width:50vw;
    height:200px;
    background-color: #fff;
    margin-bottom: 40px;
}
div.category-products div.product-wrap{
    box-sizing: border-box;
    width:100%;
}

div.category-products div.product-wrap div.filter{
    width:100%;
    height:7vh;
    background-color: #fff;
    margin-bottom: 30px;
}

div.category-products div.product{
     border: 1px solid #bfbfbf;
    padding: 10px 10px;
    margin-bottom: 15px;
    height:150px;
   display: flex;
    background-color: #fff;
    text-decoration: none;
    color: #1a1a1a;
}

div.category-products div.product div.image-product{
    width:200px;
    height: 150px;
}

div.category-products div.product div.image-product img{
    width: 100%;
    height: 100%;
}

div.category-products div.product div.description-product{
   margin-left: 40px;
    width:60%;
}
div.category-products div.product div.description-product div{
    display: flex;
}
div.category-products div.product div.price{
    margin-top: 20px;
    font-size: 20px;
    font-family: 'Roboto Mono', monospace;
}
div.category-products div.product div.description-product div.price p{
       font-weight: normal;
}
div.category-products div.product div.description-product div p{
    font-weight: bold;
    margin: 0 10px 0 0;
}
div.category-products div.product div.description-product div p span{
    font-weight: normal;
}

div.category-products div.product:hover{
    background-color: #f3f3f3;
}
/* Sortowanie */

div.filter#filter_category{
    width: 450px;
    margin: 20px auto;
    border-radius: 20px;
      border: 0.5px solid #868686;
    box-shadow: 1px 1px 4px 1px rgba(33, 33, 33, 0.4);
}

div.filter#filter_category div.sort form{
    line-height: 7vh;
    text-align: center;
    font-family: sans-serif;
}
div.filter div.sort form select{
    width:220px;
    height:40px;
    padding: 5px 20px;
    transform: translateX(-40px);
}

div.filter div.sort form label#sort{
    position: relative;
    right: -110px;
    top:-20px;
    background-color: #fff;
    font-size: 15px;
    z-index: 9;
}
div.filter div.sort form button{
    background-color: #fff;
    border: 1px solid grey;
    letter-spacing: 2.5px;
    padding: 10px 8px;
    text-transform: uppercase;
    cursor: pointer;
    transform: translateX(-30px);
}