div.trail {
    display: flex;
    margin-top: 2px;
    min-height: 90vh;
    border-top: 1px solid #b5b5b5;
    background-image: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url("../img/texture.jpg");
}

div.title-points {
    position: relative;
    top: -20px;
    left: -105px;
    width: 99vw;
    height: 150px;
    background: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), url("../img/trail.jpg");
    background-position: center;
    background-size: cover;
    border-bottom: 1px solid grey;
}

div.title-points h3 {
    text-align: center;
    font-family: 'Archivo Black', sans-serif;
    font-size: 40px;
    font-weight: 900;
    letter-spacing: 3px;
    margin: 0;
    padding: 35px 0 0;
    color: white;
    -webkit-text-stroke: 0.6px black;
    text-shadow: 0 0 3px black;
}

div.trail div.menu_trail {
    width: 15vw;
    margin: 20px 50px;
}

div.trail div.menu_trail ul {
    list-style: none;
    padding: 0;
    margin: 0;
    border: 1px solid #e5e5e5;
    box-shadow: 1px 1px 1px #e0e0e0;
}

div.trail div.menu_trail ul li{
    height:50px;
    line-height: 50px;
    border-bottom: 1px solid rgb(152, 152, 152);
    text-align: center;
}

div.trail div.menu_trail ul li:nth-of-type(1){
    background-color: rgba(2, 70, 183, 0.74);
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bold;
    font-family: "Roboto", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
    letter-spacing: 1.9px;
}

div.trail div.menu_trail ul li a {
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Roboto", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
    display: block;
    color: #000000;
    background-color: rgba(0, 162, 255, 0.13);
    letter-spacing: 1px;
}
div.trail div.menu_trail ul li a:hover{
       background-color: rgba(0, 162, 255, 0.27);
}

div.trail div.content_trail{
    margin:20px auto;
    width:88vw;
}


/* Sekcja Stwórz trasę */

h3.user_trails_add{
    text-transform: uppercase;
    font-family: Arial, sans-serif;
    text-align: center;
}

div.przyklad{
    width:67vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

div.point_add {
    width: 290px;
    height: 360px;
    margin: 20px 20px 5px 0;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border: 0.5px solid #868686;
    box-shadow: 0 0 1px #d2d2d2;
    border-radius: 10px;
    overflow: hidden;
}

div.point_add:hover{
    opacity: 1;
}

div.point_add p{
    text-align: center;
    height: 32px;
    font-weight: bold;
    font-family: "Roboto", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
    margin-top: 10px;
    font-size: 14px;
}
div.point_add div.average_grade, div.country, div.city{
    height: 20px;
    margin-bottom: 5px;
}
div.country p, div.city p {
    margin:0;
    font-size: 13px;
    font-weight: normal;
}
div.country p span, div.city p span{
    font-weight: bold;
    margin-right: 5px;
}
div.average_grade{
    box-sizing: border-box;
   display: flex;
    flex-direction: row;
    justify-content: space-between;
    width:100%;
    padding: 0 7px 0 12px;
}
div.point_add div.average_grade p {
    display: inline-block;
    width: 90px;
    height: 20px;
    font-size: 12px;
    font-weight: normal;
    text-align: left;
    margin: 0;
}
div.point_add div.average_grade p span{
    font-weight: bold;
    padding-right: 3px;
}
div.point_add div.image_point {
    width: 290px;
    height: 190px;
    overflow: hidden;
}
div.point_add div.image_point img{
    width:100%;
    height:100%;
    transition: .3s;
}
div.point_add div.image_point img:hover{
    transform: scale(1.1);
}
div.empty{
    width: 70vw;
    margin: 0 auto;
}
p#empty{
    text-align: center;
    font-family: 'Bangers', cursive;
    font-size: 30px;
    font-weight: normal;
    letter-spacing: 2px;

}
p#add{
    font-family: 'Bangers', cursive;
    font-size: 25px;
    font-weight: normal;
    letter-spacing: 2px;
    position: absolute;
    top:250px;
    left:46vw;
}
div.buttons {
    display: flex;
justify-content: space-between;
}

div.buttons div.point_add form{
    text-align: right;
}
button.add {
    background-color: #198a00;
    border: 1px solid black;
    color: whitesmoke;
    width: 85px;
    height: 35px;
    border-radius: 10px;
    font-weight: bold;
    margin-right: 10px;
    font-size: 16px;
}

div.buttons input.add_to_user_trail {
    background-color: #e06100;
    border: 1px solid black;
    color: whitesmoke;
    width: 85px;
    height: 35px;
    border-radius: 10px;
    font-weight: bold;
    margin-left: 10px;
    font-size: 14px;
}

/* Szkic trasy użytkownika */

div.user_trail_draft {
    height: 100vh;
}

div.user_trail_draft div#title_draft {
   position: relative;
    top: -30px;
    left: -105px;
    width: 99vw;
    height: 150px;
    background: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), url(../img/trail.jpg);
    background-position: center;
    background-size: cover;
    border-bottom: 1px solid grey;
}

div.user_trail_draft div#title_draft h3 {
       text-align: center;
    font-family: 'Archivo Black', sans-serif;
    font-size: 40px;
    font-weight: 900;
    letter-spacing: 3px;
    margin: 0;
    padding-top: 35px;
    color: white;
    -webkit-text-stroke: 0.6px black;
    text-shadow: 0 0 3px black;
}

div.user_trail_draft div.draft-list_point {
    width: 80%;
    height: 60vh;
    margin: 0 auto;
    padding: 20px;
    overflow: scroll;
    overflow-x: hidden;
    border-radius: 8px;
}
div.user_trail_draft div#save_trail {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
div.user_trail_draft div#save_trail button {
    background-color: #00a200;
    border: 1px solid #373737;
    border-radius: 15px;
    width: 180px;
    height: 45px;
}
div.user_trail_draft div#fail_save_trail {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}
div.user_trail_draft div#fail_save_trail button {
    background-color: rgba(0, 162,0, 0.6);
    border: 1px solid #373737;
    border-radius: 15px;
    width: 180px;
    height: 45px;
    color: white;
    letter-spacing: 1.3px;
    font-size: 17px;
    font-family: Verdana, sans-serif;
    font-weight: bold;
}

div.user_trail_draft div#save_trail button a {
    text-decoration: none;
    color: white;
    letter-spacing: 1.3px;
    font-size: 17px;
    font-family: Verdana, sans-serif;
    font-weight: bold;
}

div.user_trail_draft div.draft-list_point div.draft-point{
    display: flex;
    height: 140px;
    background-color: #fff;
    margin-bottom: 20px;
    padding:10px 15px;
    border: 0.5px solid #0e446c;
    box-shadow: 0 0 3px #0e446c;
    border-radius: 8px;
}

div.user_trail_draft div.draft-list_point div.draft-point div.draft-point_image{
    width: 13%;
    height:100%;
    margin-right: 20px;
}

div.user_trail_draft div.draft-list_point div.draft-point div.draft-point_image img{
    width: 100%;
    height: 100%;
    border-radius: 8px;
}
div.user_trail_draft div.draft-list_point div.draft-point div.text{
    width: 80%;
    height: 90%;
    overflow: hidden;
    line-height: 23px;
    letter-spacing: 1.5px;
}

/* Pasek przewijania*/

div.user_trail_draft div.draft-list_point::-webkit-scrollbar {
width: 8px;
    background-color: #fff;
}
div.user_trail_draft div.draft-list_point::-webkit-scrollbar-track {
border-left: 0.5px solid #000;
}
div.user_trail_draft div.draft-list_point::-webkit-scrollbar-thumb {
background: #0e446c;
    -webkit-box-shadow: inset 0 0 6px #0e446c;
}
div.user_trail_draft div.draft-list_point::-webkit-scrollbar-thumb:hover {
background: #0e446c;
    -webkit-box-shadow: inset 0 0 6px #0e446c;
}
div.user_trail_draft div.draft-list_point::-webkit-scrollbar-thumb:window-inactive {
background: #0e446c;
}

form.delete{
height: 100%;
display: flex;
    flex-direction: row;
    align-items: center;
}
form.delete button{
    font-size: 16px;
    background-color: #df0000;
    color: #ededed;
    font-weight: bold;
    font-family: Arial, sans-serif;
    letter-spacing: 1.3px;
    padding: 8px 10px;
    border: 0.5px solid #d6d6d6;
    border-radius: 8px;
    outline: white;
    cursor: pointer;
    box-shadow: 1px 1px 0.5px #565656;
}
@media only screen and (max-width: 1680px) {
    div.trail div.content_trail {
        margin: 20px auto;
        width: 82vw;
    }

   div.user_trail_draft div#title_draft{
        width: 100vw;
        left: -9vw;
    }
   div.user_trail_draft div.draft-list_point div.draft-point div.draft-point_image{
       width: 200px;
   }

}
@media only screen and (max-width: 1260px) {
    div.title-points {
        left: -115px;
        width: 100vw;

    }
   div#top div.menu ul li.green i#arrow{
        margin-top: 35px;
    }
}
@media only screen and (max-width: 1189px) {
    div.title-points {
        left: -11%;
    }
}
@media only screen and (max-width: 860px) {
    div.user_trail_draft div.draft-list_point{
        width: 90%;
    }
}


@media only screen and (max-width: 610px) {
    div.title-points h3{
        font-size: 33px;
    }
     div.user_trail_draft div.draft-list_point{
        width: 100%;
    }
     div.user_trail_draft div.draft-list_point div.draft-point div.text{
         width: 60%;
     }
}
@media only screen and (max-width: 476px) {
div.user_trail_draft div.draft-list_point div.draft-point{
    flex-direction: column;
    height: 350px;
    width: 70%;
    margin:20px auto;
}
    div.button_delete form.delete button{
        transform: translateX(100px);
        padding: 8px 15px;
    }
    div.user_trail_draft div.draft-list_point div.draft-point div.text{
        width: 100%;
    }
    div.user_trail_draft div.draft-list_point div.draft-point div.draft-point_image{
        width: 100%;
        margin:0 auto;
    }
}