/*Audio Wrap*/
div#audioTrail {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.5);
}

div#audioTrail div.audioTrail {
    position: relative;
    top: 25vh;
    left: calc(50vw - 345px);
    width: 690px;
    min-height: 110px;
    background-color: #fff;
    border: 1px solid #c1c1c1;
    box-shadow: 0 0 3px #a9a9a9;
    border-radius: 15px;
    text-align: center;
}

div#audioTrail div.audioTrail h3 {
    font-family: 'Archivo Black', sans-serif;
    font-size: 16px;
    letter-spacing: 2px;
    font-weight: lighter;
    margin: 10px 0;
    text-align: center;
}

div#audioTrail div.audioTrail span#closeAudioTrail {
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
}

div.pointAudio {
    display: flex;
    flex-direction: row;
    margin: 10px 0;
    padding-left: 30px;
}

p#audioName {
    text-align: left;
    margin-right: 20px;
    display: inline-block;
    width: 45%;
}

/*Trail*/
div.center {
    background-image: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url("../img/texture.jpg");
    padding-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

div.center div#trail-left {
    width: 60vw;
    margin-left: 50px;
}

div.center div#trail-right {
    width: 20vw;
    min-height: 500px;
    margin-left: 50px;
    border-radius: 15px;
    padding-top: 10px;
}

/*Top rate trail in right column.*/
div.center div#trail-right div.trail {
    width: 400px;
    height: 105px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    border: 1px solid #d4d4d4;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.7);
}

div.center div#trail-right div.trail div.trail-image {
    height: 100px;
    width: 150px;
    margin-right: 10px;
}

div.center div#trail-right div.trail div.trail-image img {
    width: 100%;
    height: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

div#trail-right div.trail p#trail-name {
    font-family: 'Pattaya', sans-serif;
    letter-spacing: 1.6px;
    margin: 10px 0 5px 0;
}

div#trail-right div.trail div.more {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 220px;
}

div#trail-right div.trail div.more p {
    margin-bottom: 5px;
    margin-top: 10px;
}

div#trail-right div.trail div.more p span {
    font-weight: bold;
}

div#trail-right div.trail div.more-button {
    text-align: right;
    margin-top: 4px;
}

div#trail-right div.trail div.more-button button {
    background-color: #00e315;
    border: none;
    border-radius: 10px;
    padding: 4px 10px;
}

div#trail-right div.trail div.more-button button a {
    color: white;
    text-decoration: none;
    letter-spacing: 1.1px;
    font-family: Arial, sans-serif;
    font-size: 12px;
    font-weight: bold;
}

/*-------------------------------*/
div.center div#trail-right h4 {
    font-family: 'Chau Philomene One', sans-serif;
    font-weight: normal;
    letter-spacing: 1.4px;
    font-size: 19px;
    margin-top: 0;
    margin-bottom: 10px;
}

div#social-right {
    position: fixed;
    top: 20vh;
    right: 0;
    width: 35px;
    height: 110px;
    background-color: #fff;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
div#social-right div{
    line-height: 35px;
    text-align: center;
    font-size: 35px;
    border-bottom: 0.6px solid black;
}
div#social-right:nth-of-type(3){
    border-bottom: none;
}
div#fb{
    color: #00449b;
}
div#li{
    color: #0072ff;
}
div#contact{
    color: #a20000;
}
div#points_in_trail {
    width: 100%;
    margin: 20px auto;
    background-color: #fff;
    border-radius: 15px;
    border: 1px solid #e0e0e0;
    padding:0 20px;
}

div#points_in_trail ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
div#points_in_trail ul li{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #d6d6d6;
}
div.point_in_trail{
    width:calc(100% - 260px)
}
div#points_in_trail ul li div.image-trail{
    width:250px;
    height: 250px;
}
div#points_in_trail ul li div.image-trail img{
    width: 100%;
    height: auto;
    transform: translateY(20px);
    border-radius: 15px;
}
div#points_in_trail ul li p#source{
    font-family: Arial, sans-serif;
    font-size: 12px;
    font-style: italic;
}
div.panorama_mapa {
    width: 99.8vw;
    height: 45vh;
    background-position: center;
    background-size: cover;
    box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.4);
}

div.panorama_mapa div.x {
    text-align: center;
    margin: 0 auto;
    padding-top: 5vh;
}

div.panorama_mapa div.x h3 {
    text-align: center;
    font-family: 'Archivo Black', sans-serif;
    font-size: 40px;
    font-weight: 900;
    letter-spacing: 3px;
    margin: 0;
    color: white;
    -webkit-text-stroke: 0.8px black;
    text-shadow: 0 0 5px black;
}

div.panorama_mapa div#file-trail {
    margin: 120px 0 0;
    text-align: center;
}

button#pdf {
    background-color: #12a900;
    width: 350px;
    height: 50px;
    border: none;
    box-shadow: none;
    border-radius: 5px;
}

button#pdf a {
    color: white;
    letter-spacing: 1.3px;
    text-decoration: none;
    font-family: Arial, sans-serif;
    font-size: 15px;
    font-weight: lighter;
}

button#audio {
    background-color: #e3df00;
    width: 280px;
    height: 50px;
    font-family: Arial, sans-serif;
    font-size: 15px;
    border: none;
    box-shadow: none;
    border-radius: 5px;
    letter-spacing: 1.3px;
}

/*Basic info trail.*/

div#basic-info {
    width: 100%;
    height: 330px;
    background-color: #fff;
    margin: 0 auto;
    padding: 10px 0;
    border-radius: 15px;
    border: 1px solid #e0e0e0;
}

div#basic-info h3 {
    margin: 5px 10px 5px;
    font-family: Arial, sans-serif;
    font-weight: 600;
    font-size: 23px;
    letter-spacing: 2.0px;
    padding-left: 30px;
}

div#basic-info div.name-trail div#title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

div#basic-info div.name-trail div#title div#buttons_trail {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
}

div#basic-info div.name-trail div#title div#buttons_trail form:nth-of-type(1) button {
    margin-right: 5px;
}

div#basic-info div.name-trail div#title div#buttons_trail form:nth-of-type(1) button i {
    color: #0e446c;
    margin-right: 4px;
}

div#basic-info div.name-trail div#title div#buttons_trail form:nth-of-type(2) button i {
    color: red;
    margin-right: 4px;
}

div#basic-info div.name-trail div#title div#buttons_trail button {
    border: 1px solid #bebebe;
    background-color: #fff;
    margin-right: 10px;
    border-radius: 5px;
    font-family: Arial, sans-serif;
}

div#basic-info div.icons {
    margin: 8px 0 10px 55px;
    display: flex;
}

div#basic-info div.icons p {
    margin-right: 10px;
}

div#basic-info div.icons p span {
    margin-right: 5px;
    font-family: Arial, sans-serif;
    color: #9f9f9f;
}

div#basic-info div.icons p i {
    margin-right: 5px;
}

div#basic-info div.icons p#done i {
    color: #0e446c;
}

div#basic-info div.icons p#heart i {
    color: #e90000;
}
div#basic-info div.icons p#downloads i {
    color: #949494;
}
div#basic-info div.more-trail {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

div#basic-info div.more-trail div.right {
    width: 47%;
    display: flex;
    flex-direction: column;
}

div#basic-info div.more-trail div.left {
    width: 51%;
    display: flex;
    flex-direction: column;
    padding-left: 30px;
}

div#basic-info div.more-trail div {
    display: flex;
    flex-direction: row;
}
div#basic-info div.more-trail div.left div , div#basic-info div.more-trail div.right div {
    height: 65px;
}
div#basic-info div.more-trail div.left div i, div#basic-info div.more-trail div.right div i {
    font-size: 25px;
    margin-right: 7px;
    color: #0099f5;
    opacity: 0.6;
}
div#basic-info div.more-trail div.left div p, div#basic-info div.more-trail div.right div p{
    line-height: 30px;
    font-family: Arial, sans-serif;
}
div#basic-info div.more-trail div.left div p i, div#basic-info div.more-trail div.right div p i{
    font-size: 16px;
    color: black;
}
div#basic-info div.more-trail div.left div p span, div#basic-info div.more-trail div.right div p span{
    font-weight: bold;
    font-size: 15px;
}

/*Map.*/
div.map{
    width:58vw;
}
div.map div.folium-map{
    width: 100%;
}

div.leaflet-control{
display: none;
}
/*Opinion trails.*/
div.opinion-trail {
    border: 0.5px solid #bcbcbc;
    border-radius: 15px;
    background-color: #f3f3f3;
    margin: 30px auto;
    width: 100%;
    padding: 0 30px;
}
div.top_form p#yours_stars-trail {
    margin-top: 15px;
    margin-left: 85px;
}
.stars-trail {
    background: #ffffff;
    height: 30px;
    width: 110px;
    padding-right: 15px;
    padding-bottom: 5px;
    border-radius: 15px;
    margin-top: 8px;
    margin-left: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    /*transform: translateY(-5px);*/
}

.stars-trail input {
    position: absolute;
    left: -99999px;
}

.stars-trail label {
    width: 20px;
    height: 30px;
    padding: 5px;
    color: transparent;
}

.stars-trail label::before {
    content: '★';
    color: #c0c0c0;
    font-size: 30px;
    line-height: 30px;
    margin-right: -100%;
}

.stars-trail label:hover::before,
.stars-trail label:hover ~ label::before,
.stars-trail input:checked ~ label::before {
    color: #ffa500;
}

@media only screen and (max-width: 1490px) {
    div.center div#trail-right {
        margin-left: 20px;
    }

    div.center div#trail-left {
        margin-left: 0;
    }
    div#points_in_trail{
        width: 90%;
    }
    div.opinion-trail{
        width: 95%;
    }
}

@media only screen and (max-width: 1365px) {
    div.center {
        justify-content: left;
    }

    div.center div#trail-left {
        margin-left: 50px;
    }
}

@media only screen and (max-width: 1185px) {
    div.center div#trail-right {
        width: 380px;
    }

    div.center div#trail-left {
        margin-left: 20px;
    }

    div.center div#trail-right div.trail {
        width: 370px
    }

    div.center div#trail-right div.trail div.trail-image {
        width: 120px
    }
}

@media only screen and (max-width: 1012px) {
div.center div#trail-right{
    width: 330px;
}
    div.center div#trail-right div.trail{
        width:330px
    }
    div#trail-right div.trail div.more{
        width: 200px;
    }
    div.center div#trail-right div.trail div.trail-image{
        margin-right: 5px;
    }
}

@media only screen and (max-width: 960px) {
    div.center div#trail-left div#basic-info {
        height: 380px;
    }

    div#basic-info div.more-trail div.left div p i, div#basic-info div.more-trail div.right div p i {
        font-size: 14px;
    }

    div.opinion-trail {
        width: 90%;
    }
}
@media only screen and (max-width: 935px) {
    div.center div#trail-left div#basic-info{
        width: 95%;
    }
}

@media only screen and (max-width: 880px) {
    div.center {
        flex-direction: column;
    }

    div.center div#trail-left {
        width: 95vw;
    }

    div.center div#trail-left div#basic-info {
        height: 350px;
    }

    div.center div#trail-right {
        margin: 0 auto;
    }

    div.map {
        width: 91vw;
    }
}

@media only screen and (max-width: 700px) {
    div#audioTrail div.audioTrail {
        width: 600px;
        left: calc(50vw - 300px);
    }

    audio {
        width: 250px;
        height: 48px;
    }
}

@media only screen and (max-width: 630px) {
    div#points_in_trail ul li {
        flex-direction: column-reverse;
    }
    div.panorama_mapa div#file-trail{
        margin-top: 80px;
    }
    div.point_in_trail {
        width: 100%;
    }

    div#points_in_trail ul li div.image-trail {
        margin: 0 auto;
    }
}

@media only screen and (max-width: 600px) {
    div.center div#trail-left div#basic-info {
        height: 380px;
    }

    div#audioTrail div.audioTrail {
        width: 550px;
        left: calc(50vw - 275px);
    }
}

@media only screen and (max-width: 555px) {
    div.center div#trail-left div#basic-info {
        height: 370px;
    }

    div#audioTrail div.audioTrail {
        width: 500px;
        left: calc(50vw - 250px);
    }
}

@media only screen and (max-width: 500px) {
    div#basic-info div.more-trail div.left div#start, div#basic-info div.more-trail div.right div#end {
        height: 85px;
    }

    div#basic-info div.more-trail div.right div#end p {
        line-height: 22px;
    }

    div.center div#trail-left div#basic-info {
        height: 400px;
    }

    div#basic-info div.name-trail div#title {
        flex-direction: column;
    }

    div#basic-info div.name-trail div#title div#buttons_trail {
        padding-left: 20px;
        margin: 5px 0 10px;
    }

    div.panorama_mapa div.x h3 {
        font-size: 33px;
    }

    div#audioTrail div.audioTrail {
        width: 400px;
        left: calc(50vw - 200px);
    }

    audio {
        width: 200px;
        height: 35px;
    }
}

@media only screen and (max-width: 407px) {
    div.center div#trail-left {
        margin-left: 0;
    }

    div#basic-info h3 {
        padding-left: 5px;
    }

    div#basic-info div.icons {
        margin-left: 20px;
    }
    div#basic-info div.more-trail div.left{
        padding-left: 15px;
    }
     div.center div#trail-left div#basic-info {
        height: 420px;
    }
     div.center div#trail-right div.trail, div.center div#trail-right h4{
         width:340px;
         margin:10px auto 20px;
     }
     div.center div#trail-right div.trail div.trail-description,div#trail-right div.trail div.more{
         width:190px;
     }
      div#audioTrail div.audioTrail {
        width: 330px;
        left: calc(50vw - 165px);
    }

    audio {
        width: 120px;
        height: 30px;
    }
}