/* Ustawienia ogólne */
html, body {
    width: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
}

#top {
    height: 80px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding-left: 100px;
}


div#top div.menu {
    width: 30%;
    font-family: 'Roboto Mono', monospace;
}

div#top div.menu ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    height: 80px;
    margin-top:16px;
}

div#top div.menu ul li {
    line-height: 80px;
    width: 10%
}

div#top div.menu ul li a {
    color: #323232;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    display: flex;
    font-weight: bold;
    flex-direction: row;
    text-align: center;
    letter-spacing: 1.5px;
    text-decoration: none;
    text-transform: uppercase;
}

div#top div.menu ul li {
    color: #323232;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    display: flex;
    font-weight: bold;
    flex-direction: row;
    text-align: center;
    letter-spacing: 1.5px;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
}

div#top div.menu ul li.green:hover {
    color: #0085e9;
}

div#top div.menu ul li.green:hover div#menu-detail-trail {
    top: 70px
}

div#top div.menu ul li.green div#menu-detail-trail.active {
    top: 70px;
    z-index: 100;
}


div.menu ul li.green div#menu-detail-trail {
    display: flex;
    position: absolute;
    height: 60px;
    width: 600px;
    top: -100px;
    left: 30vw;
    background-color: #fff;
    z-index: 99;
    justify-content: space-between;
}

div#top div.menu div#menu-detail-trail ul {
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: space-between;
    width: 100%;
}

div#top div.menu div#menu-detail-trail ul li {
    width: 100%;
    margin: 0;
}

div#top div.menu div#menu-detail-trail ul li:hover a {
    color: #0085e9;
}

div#top div.menu div#menu-detail-trail ul li a {
    color: black;
    font-size: 12px;
    display: block;
    width: 100%;
    text-align: center;
    line-height: 40px;
}

div#top div.menu ul li.green:hover i, div.menu_mapa div#top div.menu ul li.green:hover i {
    color: #0085e9;
}

div#top div.menu ul li.green i {
    margin-top: 37px;
    margin-left: 5px;
    font-size: 15px;
    color: #919191;
}

div#top div.menu_mapa ul li.green i {
    margin-top: 50px;
}

div.login {
    margin-left: 130px;
}

div.login button {
    margin-top: 30px;
    width: 150px;
    height: 48px;
    border-radius: 25px;
    border-style: none;
    background-color: #fff;
}

div.login button a {
    color: white;
    font-weight: bold;
    letter-spacing: 1.5px;
    text-decoration: none;
    font-size: 15px;
}

div.regulations {
    height: 30px;
    padding-left: 200px;
    border-bottom: 1px solid #d9d9d9;
    background-color: rgba(255, 122, 0, 0.05);
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

div.regulations div.right {
    display: flex;
}

div.logo, div.logo_mapa {
    height: 70px;
    width: 160px;
}

div.logo img, div.logo_mapa img {
    margin-top: 5px;
    width: 100%;
    height: 100%;
}

div#select-country-city {
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #4c4c4c;
    box-shadow: 0 0 3px #b8b8b8;
    position: absolute;
    top: 110px;
    left: calc(50vw - 150px);
    width: 300px;
    height: 50px;
    z-index: 9;

}

div#select-country-city label {
    width: 120px;
    font-family: 'Roboto Mono', sans-serif;
    font-size: 12px;
}

div#select-country-city section {
    margin: 0 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

div#select-country-city select {
    background-color: #fff;
    border: none;
    width: 100px;
    margin-right: 22px;
}

div#filter {
    position: absolute;
    width: 200px;
    top: 180px;
    left: 20px;
    min-height: 400px;
    border-radius: 10px;
    display: flex;
    background-color: #fff;
    border: 1px solid #4c4c4c;
    box-shadow: 0 0 3px #b8b8b8;
    flex-direction: column;
    justify-content: space-between;
    z-index: 99;
    padding: 0;
}
div#filter div#search-filter{
    border-bottom: 0.5px solid grey;
    display: flex;
    flex-direction: row;
}
div#filter div#search-filter i{
  padding:15px 0 0 15px;
}
div#filter div#search-filter p {
    margin: 0;
    padding: 12px 0 10px 10px;
}
div#filter div.icons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 60%;
    margin-top: 5px;
    margin-bottom: 0;
    padding-left: 15px;
}

div#filter div.icons div {
    display: flex;
    flex-direction: row;
    height: 26px;
}
div#filter p {
    padding: 10px 0 10px 20px;
    font-family: 'Roboto Mono', sans-serif;
    font-weight: bold;
    letter-spacing: 1.5px;
    color: #373737;
}
div#filter div.icons div p {
    margin: 2px 0 0 7px;
    padding: 0;
    font-size: 13px;
    color: #4f4f4f;
}

div#filter select.location {
    padding: 5px 10px;
    border: 0.5px solid #cbcdcc;
    border-radius: 15px
}

div.search {
    height: 30px;
    line-height: 0;
}

div.search button {
    margin-top: 10px;
    height: 26px;
    background-color: orange;
    border: 0 solid white;
    color: white;
    padding: 10px 15px;
    border-radius: 15px;
    font-weight: bold;
    letter-spacing: 1.5px;
}

/*Content*/

div.content {
    border-top: 1px solid #a9a9a9;
    margin-top: 2px;
    background-image: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url("../img/texture.jpg");

}

@media only screen and (max-width: 1500px) {
    div#top div.menu ul li.green {
        width: 50px;
    }
}

@media only screen and (max-width: 1000px) {
    div#top div.menu ul li.green:hover div#menu-detail-trail {
        top: -100px
    }
}

@media only screen and (max-width: 666px) {
    div#top div.menu {
        width: 40%;
    }
}
@media only screen and (max-width: 579px) {
    div#top div.menu ul {
        margin-top: 0;
}
}