{% load static %}
<!DOCTYPE html>

<head xmlns="http://www.w3.org/1999/html">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>

    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>

    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Pattaya&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Archivo+Black&family=Chau+Philomene+One:ital@1&display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
    <style>
        html,
        body {
            height: 100%;
            margin: 0;
            padding: 0;
        }

        #map {
            height: 400px;
            width: 100%;
        }
    </style>
    <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>


    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <link rel="stylesheet" href="{% static 'css/style_map.css' %}">
    <link rel="stylesheet" href="{% static 'css/style_point.css' %}">
    <link rel="stylesheet" href="{% static 'css/style_all_trails.css' %}">
    <link rel="stylesheet" href="{% static 'css/style_your_trails.css' %}">
    <link rel="stylesheet" href="{% static 'css/style_trail_detail.css' %}">

</head>
<body>
<div id="top">
    <div class="logo"><img src="{% static "img/logo.png" %}" alt="logo"></div>
    <div class="menu">
        <ul>
            <li class="red top_menu"><a href="{% url  'mapFullScreen'%}" ></i>Mapa</a></li>
            <li class="green top_menu" onclick="menuDetailTrail()">Trasy <i class="fas fa-angle-down"></i>
                <div id="menu-detail-trail">
                    <ul>
                        <li><a href="{% url 'trails:points' %}">Ciekawe miejsca</a></li>
                        <li><a href="{% url 'trails:all_trails' %}">Trasy</a></li>
                        {% if user.is_authenticated %}
                            <li><a href="{% url 'yours_trails' %}">Twoje trasy</a></li>
                            <li><a href="{% url 'user_trails:user_trail_add' %}">Stwórz trasę</a></li>
                        {%else%}
                            <li><a href="{% url 'login' %}">Twoje trasy</a></li>
                            <li><a href="{% url 'login' %}">Stwórz trasę</a></li>
                        {% endif %}
                    </ul>
                </div>
            </li>
            <li class="blue top_menu"><a href="{% url 'blog:list_posts' %}">Blog</a></li>
            <li class="gold top_menu"><a href="{% url 'contact:contact_detail' %}">Kontakt</a></li>
        </ul>
    </div>
    <div class="login_mapa">
        {% if user.is_authenticated %}
             <a href="{% url 'done' %}" id="eye"><i class="far fa-eye"></i></a>
            <a href="{% url 'favorite' %}" id="heart"><i class="far fa-heart"></i></a>
        {% endif %}
       {% if user.is_authenticated %}
        <button class="user_menu"><i class="fas fa-user"></i><i class="fas fa-angle-down"></i></button>
        <div class="user_menu">
            <ul>
{#                <li><a href="{% url 'account:user_account' %}">Moje konto</a></li>#}
                <li><a href="#">Ustawienia</a></li>

                {% if perms.blog.view_post%}
                    <li><a href="{% url 'management:blog_manage_post_list' %}">Panel administracyjny</a></li>
                {% elif perms.shop.view_product %}
                    <li><a href="{% url 'management:shop_manage_product_list' %}">Panel administracyjny</a></li>
                {% endif %}

                <li><a href="{% url 'logout' %}">Wyloguj</a></li>
            </ul>
        </div>
        {% else %}
        <button><a href="{% url 'login' %}">Zaloguj się</a></button>
        <button class="register"><a href="{% url 'register' %}">Załóż konto</a></button>
        {% endif %}
    </div>
 <div id="login_rwd"><i class="fas fa-sign-in-alt"></i></div>
</div>
<p id="trail_id" hidden>{{trail.id}}</p>
    <div class="panorama_mapa" style="background-image:  url({{ trail.image.url }})">
        <div class="x">
            <h3>{{trail.name}}</h3>
        </div>
        <div id="file-trail">
            <button id="pdf"><a href="{% url 'trails:pdf_trail' trail.id %}"><i class="fas fa-cloud-download-alt"></i> Pobierz przewodnik w wersji PDF</a></button>
            <button id="audio"><i class="fas fa-volume-up"></i> Odsłuchaj w formie Audio</button>
        </div>
    </div>
<div class="center">
    <div id="trail-left">
        <div id="basic-info">
            <div class="name-trail">
                <div id="title">
                    <h3>{{ trail.name }}:</h3>
                    <div id="buttons_trail">
                        {% if user.is_authenticated %}
                            {% if trail_dones %}
                                <form action="{% url 'trails:trail_done' trail.pk%}" method="post"><input type="text" value="{{ trail.id }}" hidden name="done_trail" />{%   csrf_token %}<button type="submit"><i class="fas fa-eye"></i> Usuń z wykonanych</button></form>
                            {% else %}
                                <form action="{% url 'trails:trail_done' trail.pk%}" method="post"><input type="text" value="{{ trail.id }}" hidden name="done_trail" />{%   csrf_token %}<button type="submit"><i class="fas fa-eye"></i> Dodaj do wykonanych</button></form>
                            {% endif %}
                            {% if trail_liked %}
                                <form action="{% url 'trails:trail_heart' trail.pk%}" method="post"><input type="text" value="{{ trail.id }}" hidden name="heart_trail"/>{%   csrf_token %}<button type="submit"><i class="fas fa-heart"></i> Usuń z ulubionych</button></form>
                            {% else %}
                                <form action="{% url 'trails:trail_heart' trail.pk%}" method="post"><input type="text" value="{{ trail.id }}" hidden name="heart_trail"/>{%   csrf_token %}<button type="submit"><i class="fas fa-heart"></i> Dodaj do ulubionych</button></form>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
                <div class="icons">
                    <p id="done"><i class="fas fa-eye"></i> <span>{{ trail.done.all.count }} x wykonano</span>|</p>
                    <p id="heart"><i class="fas fa-heart"></i><span>{{ trail.heart.all.count }} x W ulubionych</span>|</p>
                    <p id="downloads"><i class="fas fa-file-download"></i><span>{{ trail.downloads|length }} x pobrań</span>|</p>
                    <p id="sound"><i class="fas fa-volume-up"></i><span>{{ trail.sound|length }} x odsłuchań</span>|</p>
                </div>
            </div>
            <div class="more-trail">
                <div class="left">
                    <div id="start">
                        <i class="fas fa-play"></i><p><span>Miejsce startowe: </span> <i id="first"></i></p>
                    </div>
                    <div id="type">
                        <i class="fas fa-road"></i> <p><span>Typ trasy:</span> <i>{{ trail.type }}</i></p>
                    </div>
                    <div id="for_whom">
                        <i class="fas fa-user-friends"></i> <p><span>Dla kogo: </span><i>{{ trail.for_whom }}</i></p>
                    </div>
                    <div id="city">
                        <i class="fas fa-city"></i> <p><span>Miasto: </span><i>{{ trail.city }}</i></p>
                    </div>
                </div>
                <div class="right">
                    <div id="end">
                        <i class="far fa-stop-circle"></i> <p><span>Miejsce docelowe:</span> <i id="last"></i></p>
                    </div>
                    <div id="len">
                        <i class="fas fa-car"></i> <p><span>Długość:</span> <i id="length"></i></p>
                    </div>
                    <div id="region">
                        <i class="fas fa-mountain"></i>
                        <p><span>Region:</span> <i>{{ trail.region }}</i></p>
                    </div>
                    <div id="country">
                        <i class="fas fa-globe-americas"></i> <p><span>Kraj: </span><i>{{ trail.country }}</i></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="map">
            <h3>Trasa na mapie:</h3>

            <div id="map"></div>
        </div>
        <div id="points_in_trail">
            <ul>
                {% for p in points %}
                    <li>
                    <div class="image-trail"><img src="{{ p.image.url }}" alt=""></div>
                        <div class="point_in_trail" id="{{ p.id }}">
                            <div class="title_point"><h3>{{ p.name }}</h3></div>
                            <div class="description_point"><p>{{ p.descriptions }}</p></div>

                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="opinion-trail">
                       <h3>Oceny i opinie</h3>
                        <p>
                       </p>
    <!--                   Opinie -->
                       {% if opinion_trail %}
                           <div class="opinions">
                               {% for element in opinion_trail %}
                                    <div class="opinion">
                                        <div class="top">
                                            <p id="user">{{element.user}}</p>
                                            <p id="rating">Ocena
                                                {% if element.rate == 5.0 %} <span>★★★★★</span>
                                                {% elif element.rate == 4.0 %}<span>★★★★</span>
                                                {% elif element.rate == 3.0 %}<span>★★★</span>
                                                {% elif element.rate == 2.0 %}<span>★★</span>
                                                {% elif element.rate == 1.0 %}<span>★</span>
                                                {%endif%}</p>
                                            </div>
                                        <p id="opinion">{{element.opinion}}</p>
                                    </div>
                               {% endfor %}
                           </div>
                       {% else %}
        <!--                   Jeśli brak opinie to...-->
                           <p>Ten obiekt nie posiada jeszcze recenzji. Bądź pierwszy.</p>
                       {% endif %}
                       <h3>Napisz własną opinię:</h3>
                       {% if user.is_authenticated %}
                           <form action="" method="post">
                               <div class="top_form">
                                   <input type="text" class="nick" name="nick" placeholder="Podaj swój nick", value="{{request.user}}" disabled style="width: 100px;text-align:center; margin-right: 170px">
                                   <input type="text" class="nick" name="trail_id" placeholder="id punbktu" value="{{trail_id}}" hidden>
                                   <p id="yours_stars-trail">Twoja ocena</p>
                                   <div class="stars-trail">
                                        <input type="radio" id="star5" name="star" value="5">
                                        <label for="star5"> Five Stars </label>
                                        <input type="radio" id="star4" name="star" value="4">
                                        <label for="star4"> Four Stars </label>
                                        <input type="radio" id="star3" name="star" value="3">
                                        <label for="star3"> Three Stars </label>
                                        <input type="radio" id="star2" name="star" value="2">
                                        <label for="star2"> Two Stars </label>
                                        <input type="radio" id="star1" name="star" value="1">
                                        <label for="star1"> One Star </label>
                                  </div>
                               </div>
                               <div class="bottom_form">
                                   <textarea name="recension" id="" placeholder="Twoja recenzja"></textarea>
                                   <button>Zapisz Opinię</button>
                               </div>
                               {% csrf_token %}
                           </form>
                       {%else%}
                            <p>Aby dodać opinię, proszę się zalogować.</p>
                       {% endif %}
        </div>
    </div>
    <div id="trail-right">
        <h4>Najwyżej ocenione Trasy</h4>
        {% for trail in top_rate_trails %}
            <div class="trail">
                <div class="trail-image">
                    <img src="{{ trail.image.url }}" alt="">
                </div>
                <div class="trail-description">
                    <p id="trail-name">{{ trail.name }}</p>
                    <div class="more">
                        <p id="rate"><span>Ocena: </span>{{ trail.average_grade }}</p>
                        <p id="done"><span>Zwiedziło: </span>{{ trail.done_count }}</p>
                    </div>
                    <div class="more-button">
                        <button><a href="{% url 'trails:trail_detail' trail.id %}">Więcej</a></button>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div id="social-right">
        <div id="fb"><a href="https://www.facebook.com/Stiner-100928478828163"><i
                class="fab fa-facebook-square"></i></a></div>
        <div id="li"><a href="https://www.linkedin.com/company/stiner/"><i class="fab fa-linkedin"></i></a></div>
        <div id="youtube"><i class="fab fa-youtube"></i></div>
    </div>
</div>


<script src="https://kit.fontawesome.com/e4892fcf67.js" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<!-- Async script executes immediately and must be after any DOM elements used in callback. -->
<script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyClqc9xBi9tJwWrRWJfZk5p2fKv6UmPoas&callback=initMap&libraries=&v=weekly&"
        async
></script>

<script>
    let login_rwd = document.getElementById('login_rwd')
    let menuDetail = document.getElementById('menu-detail-trail')
    let login_mapa_menu = document.querySelector('.login_mapa')
    //------------------------------------------
    //The method responsible for choosing login / registration at low screen resolution
    if (login_rwd) {
        login_rwd.addEventListener('click', function () {
            login_mapa_menu.classList.toggle('mini')
        })
    }

    //Top Menu
    function menuDetailTrail() {
        menuDetail.classList.toggle('active')
    }

    <!--"Mapa"-->
    let menu = document.querySelector("button.user_menu");
    let icon = document.querySelector("i.fa-angle-down");
    let user_menu = document.querySelector("div.user_menu");
    let yours_trails = document.querySelector("li.yours_trails");
    let tr = document.querySelector("div.tr")
    let distance = document.getElementById('length');

    if (menu) {
        menu.addEventListener('click', function () {
            user_menu.classList.toggle("active");
            icon.classList.toggle("active");
        });
    }
    var x = 52.22977
    var y = 21.01178

    // Obsługa punktów na mapie

    let id_trail = document.querySelector("p#trail_id");
    const waypoints = []
    let first = document.getElementById('first')
    let last = document.getElementById('last')
    let firstLastPoints = []

    function setFirstPoint(data) {
        first.innerText = Object.values(data)[1]
    }

    function setLastPoint(data) {
        last.innerText = Object.values(data)[1]
    }

    let map;

    function initMap() {
        var styles = [
            {
                featureType: "poi",
                stylers: [
                    {visibility: "off"}
                ]
            }
        ];
        map = new google.maps.Map(document.getElementById("map"), {
            center: {lat: x, lng: y},
            zoom: 8,

        });
        var directionsService = new google.maps.DirectionsService();
        var directionsDisplay = new google.maps.DirectionsRenderer();
        directionsDisplay.setMap(map)
        var request = {
            origin: '52.247778, 21.014167',
            destination: '52.214444, 21.031667',
            travelMode: google.maps.TravelMode.DRIVING,
            unitSystem: google.maps.UnitSystem.IMPERIAL
        }
        directionsService.route(request, (result, status) => {
            directionsDisplay.setDirections(result)
        })
    }


</script>
