
div.contact p#contact{
    background-color: #0f0c6a;
    color: whitesmoke;
    margin: 0;
    height:60px;
    line-height: 60px;
    text-align: center;
    font-size: 24px;
    font-family:Verdana, Arial, sans-serif;
    letter-spacing: 3px;
    margin-top: 10px;
}
div.contact div.person{
    width:50vw;
    margin: 80px auto 130px;

}
div.contact div.person div.person-text{
     border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    margin-bottom: 30px;
}
div.contact div.person div.person-text h1{
    font-weight: normal;
    font-family: sans-serif;
    letter-spacing: 2px;
    color: #0b0950;
}
div.contact div.person div.person-text p{
    font-size: 18px;
    letter-spacing: 1.6px;
    color: #0f0c6a;
}

div.contact div.person div.person-info {
    display: flex;
}
div.contact div.person div.person-info div.image{
    width:240px;
    height:200px;
    margin-left: 20px;
    margin-top: 80px;
}
div.contact div.person div.person-info div.image img{
   height: auto;
    max-width: 100%;
    display:block;
    border-radius: 130px;
}

div.contact div.person div.person-info div.info{
    margin-left: 50px;
}

div.contact div.person div.person-info div.info div.motto p:nth-of-type(1){
    font-weight: bold;
    font-family: sans-serif;
    letter-spacing: 1.5px;
    font-size: 19px;
}
div.contact div.person div.person-info div.info div.motto p:nth-of-type(2){
     font-family: sans-serif;
    letter-spacing: 1.1px;
}

div.contact div.person div.person-info div.info div.data{
    margin-top:40px;
}
div.contact div.person div.person-info div.info div.data h3{
    font-family: sans-serif;
    letter-spacing: 1.2px;
    font-size: 18px;
}

div.contact div.person div.person-info div.info div.data p{
    font-size: 18px;
}

div.contact div.person div.person-info div.info div.data p i{
    color: #1268a2;
    margin-right: 15px;
}

div.contact div#data_company{
    background-color: #0e0b53;
    color: whitesmoke;
    height:40vh;
}

div.contact div#data_company i {
    font-size: 30px;
    text-align: center;
    display: block;
    padding-top: 50px;
    color: #44a3e2;
}

div.contact div#data_company p{
    text-align: center;
    font-size: 22px;
    letter-spacing: 2px;
}
div.contact div#data_company div.data{
    margin-top:70px;
}
div.contact div#data_company div.data p{
    font-size: 16px;
}

/*Formularz*/

div.contact div.form{
    width: 40vw;
    margin: 0 auto;
}
div.contact div.form h2{
    letter-spacing: 1.5px;
    margin: 60px 0 15px;
    font-family: sans-serif;
    border-bottom: 1px solid #d6d6d6;
    padding: 0 5px 20px 10px;
}
div.contact div.form p#help{
    margin-bottom: 40px;
    font-family: sans-serif;
    letter-spacing: 1.5px;
    padding: 0 10px 20px;
    border-bottom: 1px solid #cfcfcf;
}
div.contact div.form h3{
    margin-left: 50px;
    margin-bottom: 25px;
    font-family: sans-serif;
    letter-spacing: 2px;
}
div.contact div.form form{
    height:300px;
    margin-left: 50px;
}
div.contact div.form form p{
    height: 40px;
    margin-bottom: 20px;
    font-family: sans-serif;
}
div.contact div.form form p input{
    width:360px;
    margin-left: 36px;
    height: 35px;
}
div.contact div.form form p textarea{
    width:360px
}
div.contact div.form form input[type=submit]{
    margin: 140px 0 30px 310px;
    width: 140px;
    height:40px;
    background-color: whitesmoke;
    color: #3375a4;
    border: 1px solid #2e628d;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 17px;
    transition: 0.5s;
    border-radius: 20px;
}

div.contact div.form form input[type=submit]:hover{
    background-color: #2c668f;
    color: whitesmoke;
    border: 1px solid #2e628d;
    cursor:pointer;
}
div.footer-contact{
    background-color: #fff;
    margin-top:90px;
    height: 5vh;
    line-height: 5vh;
    box-shadow: 2px -2px 4px 0 rgba(0,0,0,0.4);
    border-top: 1px solid rgba(0,0,0,0.4);
    text-align: center;
}
div.footer-contact a{
    text-decoration: none;
    color: #0e446c;
    letter-spacing: 1.4px;
    font-size: 17px;
    font-weight: bold;
}
@media only screen and (max-width: 1680px) {
    div.contact div#data_company{
    height:45vh;
}
    div.contact div#data_company div.data{
    margin-top:45px;
}

}