body{
    padding: 0;
    margin: 0;
}
div.login{
    display: flex;
    flex-direction: row;
    padding: 0;
}

/* Część formularzowa */
div.login div.login_form{
    width: 23vw;
}

div.login div.login_form div.logo{
    margin: 50px 0 30px;
    text-align: center;
}
div.login div.login_form h3{
    text-align: center;
    font-weight: normal;
    font-family:Helvetica, Arial, Verdana, sans-serif;
    font-size: 25px;
    letter-spacing: 1.8px;
}
div.login div.login_form {
    margin: 50px 0 0 100px;
}

div.login div.login_form form input{
    width: 250px;
    border: none;
    border-bottom: 1px solid green;
    margin: 0 0 15px 6px;
}
div.login div.login_form form input:focus{
    outline: none;
    border-bottom: 3px solid #007100;
}
div.login div.login_form form p{
    margin: 20px 0;
}
div.login div.login_form form p#reset{
    margin: 5px 0;
    text-align: center;
    font-size: 15px;
}
div.login div.login_form form p#reset a{
    text-decoration: none;
    color: #0d3757;
    margin-left: 40px;
}
div.login div.login_form form button{
    border: 1px solid #235171;
    background-color: #3375a4;
    color: #fff;
    width:200px;
    height:40px;
    margin:5px 100px;
    font-size: 18px;
    border-radius: 20px;
    letter-spacing: 3.6px;
}

/* Część obrazkowa */

div.login div.login_image {
    width: 77vw;
    height: 100vh;
    background-image: url("../img/citys.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

@media only screen and (max-width: 1538px) {
    div.login div.login_form {
        margin: 100px 20px 0 40px;
    }
}

@media only screen and (max-width: 1337px) {
    div.login div.login_form {
        margin: 50px 0 0 40px;
        position: fixed;
        top: 150px;
        left: calc(50vw - 290px);
        width: 500px;
        height: 400px;
        background-color: #fff;
        border: 1px solid #9d9d9d;
        box-shadow: 0 0 3px #bfbfbf;
        border-radius: 10px;
    }

    div.login div.login_form form p {
        text-align: center;
        font-family: Arial, sans-serif;
        font-weight: bold;
        font-size: 15px;
        letter-spacing: 1.3px;
    }

    div.login div.login_form form button {
        margin-left: 150px;
        margin-top: 10px;
    }

    div.login div.login_image {
        width: 100vw;
        height: 100vh;
    }

    div.login div.login_form div.logo {
        margin-top: 20px;
    }
}

@media only screen and (max-width: 510px) {
    div.login div.login_form {
        width: 400px;
        height: 310px;
        left: calc(50vw - 240px);
    }

    div.login div.login_form form p {
        font-size: 13px;
    }
    div.login div.login_form form input{
        width:200px;
    }
    div.login div.login_form form p#reset{
        margin-top: 5px;
        margin-bottom: 10px;
    }
div.login div.login_form form p#reset a{
    font-size: 13px;
}
    div.login div.login_image {
        width: 100vw;
        height: 100vh;
    }

    div.login div.login_form div.logo {
        margin-top: 10px;
        height:70px;
    }
    div.login div.login_form h3{
        margin: 5px 0;
        font-size: 20px;
    }
    div.login div.login_form form p {
        margin: 5px 0 5px;
    }
    div.login div.login_form form p:nth-of-type(1){
        margin-top: 20px;
    }
    div.login div.login_form form button{
        width:150px;
        margin: 5px 0 0 120px;
        font-size: 16px;
        height: 35px;
    }
}
@media only screen and (max-width: 410px) {
div.login div.login_form form input{
    width:150px;
}
     div.login div.login_form {
         width: 350px;
         height: 310px;
         left: calc(50vw - 215px);
     }
      div.login div.login_form form button {
        margin: 0 0 0 100px;
    }
}
@media only screen and (max-width: 355px) {
    div.login div.login_form  {
        width: 320px;
          left: calc(50vw - 200px);
           height: 280px;
    }
    div.login div.login_form div.logo{
        height: 70px;
          margin-bottom: 10px;
    }
    div.login div.login_form div.logo img{
        height: 100%;
    }
    div.login div.login_form form p{
        font-size: 13px;
    }
    div.login div.login_form form button{
        margin-left: 85px;
    }
}