div.title-news {
    width: 99.1vw;
    height: 300px;
    background-position: center;
    background-size: cover;
}

div.title-news h3 {
    margin: 0;
    padding-top: 55px;
    text-align: center;
    font-family: 'Archivo Black', sans-serif;
    font-size: 40px;
    font-weight: 900;
    letter-spacing: 3px;
    color: white;
    -webkit-text-stroke: 0.6px black;
    text-shadow: 0 0 3px black;
}

div.content_news {
    background-image: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url("../img/texture.jpg");
    min-height: 90vh;
    display: flex;
    flex-direction: row;
    padding: 30px 100px;
    justify-content: space-between;
}

div.content_news div.text {
    width: 55vw;
}

div.content_news div.text p {
    font-family: Arial, sans-serif;
    font-size: 15px;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    border: 1px solid #c4c4c4;
    padding: 30px 30px;
    width: 100%;
}

div.top_rate-trails {
    width: 20vw;
    padding: 0 15px;
}

div.top_rate-trails h4, div.main-page h4, div.text h4 {
    font-family: 'Chau Philomene One', sans-serif;
    font-weight: normal;
    letter-spacing: 1.4px;
    font-size: 19px;
    margin-top: 0;
    margin-bottom: 10px;
}

div.top_rate-trails div.trails {
    padding-left: 15px;
}

div.top_rate-trails div.trails div.trail {
    display: flex;
    flex-direction: row;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    border: 1px solid #c4c4c4;
    margin-bottom: 10px;
    width: 400px;
}

div.top_rate-trails div.trails div.trail div.image {
    width: 120px;
    height: 100px;
}

div.top_rate-trails div.trails div.trail div.image img {
    width: 100%;
    height: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

div.top_rate-trails div.trails div.trail div.name {
    margin-left: 10px;
    width: 270px;
}

div.top_rate-trails div.trails div.trail div.name p#name {
    font-family: 'Pattaya', sans-serif;
    letter-spacing: 1.6px;
    margin: 10px 0 14px 0;
}

div.top_rate-trails div.trails div.trail div.name div.more {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 30px;
}

div.top_rate-trails div.trails div.trail div.name div.more p {
    font-family: Arial, sans-serif;
    font-size: 14px;
    margin: 0;
}

div.top_rate-trails div.trails div.trail div.name div.more p span {
    font-weight: bold;
    margin-right: 5px;
}

div.top_rate-trails div.trails div.trail div.name div#more-button {
    width: 260px;
    text-align: right;
    margin-top: 10px;
}

div.top_rate-trails div.trails div.trail div.name div#more-button button {
    margin-right: 10px;
    background-color: #00bf0f;
    border-radius: 10px;
    border: none;
    width: 70px;
    height: 24px;
}

div.top_rate-trails div.trails div.trail div.name div#more-button button a {
    text-decoration: none;
    color: white;
    display: block;
    font-family: Arial, sans-serif;
    letter-spacing: 1.1px;
}
/*Advertisement.*/
div.advertisement{
    height:200px;
    width: 59vw;
    margin-top: 40px;
}
div.advertisement p#advertisement{
    font-family: Arial, sans-serif;
    color: #797979;
    font-size: 13px;
    margin-bottom: 5px;
}
div.advertisement div#ad{
    height: 150px;
    width:100%;
    box-shadow: 0 0 3px #c8c8c8;
    border-radius: 10px;
    border: 1px solid #dddddd;
}
div.advertisement div#ad a{
    display: block;
    width:100%;
    height:100%;
}
div.advertisement div#ad a img{
    width:100%;
    height:100%;
    border-radius: 10px;
}
/*Top rate points.*/
div.top_rate-points{
    margin-top: 40px;
}
div.wrap-points {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 59vw;
}

div.point {
    width: 260px;
    height: 320px;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    border: 1px solid #c4c4c4;
}

div.point div.image {
    width: 260px;
    height: 170px;
}

div.point div.image img {
    width: 100%;
    height: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

div.point div.more p.name {
    font-family: 'Pattaya', sans-serif;
    letter-spacing: 1.5px;
    text-align: center;
    margin: 10px 0;
    height:28px;
}
div.point div.more p#country, div.point div.more p#city{
    margin: 5px 0;
    font-size: 14px;
    text-align: center;
}
div.point div.more p#country span, div.point div.more p#city span{
    font-weight: bold;
}
div.point div.more div.more_info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 10px;
}
div.point div.more div.more_info p{
    font-family: Arial, sans-serif;
    font-size: 13px;
    margin:5px 0 7px;
}
div.point div.more div.more_info p span{
    font-weight: bold;
}
div.point div.more-buttons {
    width: 260px;
    text-align: right;
}

div.point div.more-buttons button {
    margin-right: 10px;
    background-color: #de8500;
    border-radius: 10px;
    border: none;
    width: 70px;
    height: 27px;
}

div.point div.more-buttons button a {
    text-decoration: none;
    color: white;
    display: block;
    font-family: Arial, sans-serif;
    letter-spacing: 1.1px;
}

@media only screen and (max-width: 1650px) {
    div.title-news {
        width: 99.9vw;
    }

    div.point {
        width: 230px;
        height: 320px;
    }

    div.point div.image {
        width: 230px;
        height: 170px;
    }

    div.point div.more-buttons {
        width: 220px;

    }
}

@media only screen and (max-width: 1575px) {
    div.top_rate-trails div.trails div.trail {
        width: 350px;
    }

    div.point {
        width: 210px;
        height: 300px;
    }

    div.point div.image {
        width: 210px;
        height: 150px;
    }

    div.point div.more-buttons {
        width: 200px;

    }
}

@media only screen and (max-width: 1440px) {
    div.wrap-points {
        flex-wrap: wrap;
    }

    div.point {
        width: 270px;
        height: 320px;
        margin-top: 10px;
    }

    div.point div.image {
        width: 270px;
        height: 170px;
    }

    div.point div.more-buttons {
        width: 260px;

    }
}

@media only screen and (max-width: 1380px) {
    div.wrap-points {
        justify-content: space-around;
    }

    div.point {
        width: 310px;
        height: 360px;
        margin-top: 10px;
    }

    div.point div.image {
        width: 310px;
        height: 190px;
    }

    div.more_info {
        margin-top: 10px;
    }

    p#city {
        margin-top: 10px;
    }

    div.point div.more-buttons {
        width: 300px;
        margin-top: 5px;
    }

    div.point div.more-buttons button {
        width: 80px;
        height: 35px;
    }
}

@media only screen and (max-width: 1230px) {
    div.content_news {
        padding: 30px 50px;
        justify-content: left;
        box-sizing: border-box;
        width:99.9vw;
    }


    div.top_rate-trails{
        margin-left: 70px;
    }
    div.text {
        width: 100%;
    }

    div.text p {
        box-sizing: border-box;
    }

    div.advertisement {
        width: 55vw;
    }

    div.top_rate-trails div.trails div.trail div.name {
        width: 200px;
    }

    div.top_rate-trails div.trails div.trail div.name div#more-button {
        width: 220px;
    }

    div.wrap-points {
        width: 55vw;
    }
     div.point {
        width: 270px;
        height: 360px;
        margin-top: 10px;
    }

    div.point div.image {
        width: 270px;
        height: 190px;
    }

    div.more_info {
        margin-top: 10px;
    }

    p#city {
        margin-top: 10px;
    }

    div.point div.more-buttons {
        width: 260px;
        margin-top: 5px;
    }
}
@media only screen and (max-width: 1105px) {
    div.top_rate-trails{
        margin-left: 30px;
    }
    div.advertisement{
        height: 160px;
    }
    div.advertisement div#ad{
        height:130px;
    }
}
@media only screen and (max-width: 1030px) {
    div.content_news{
        flex-direction: column;
    }
    div.content_news div.text{
        width:90vw;
    }
    div.advertisement div#ad{
        width:90vw;
    }
    div.wrap-points{
        width: 90vw;
    }
    div.top_rate-trails{
        margin:30px 0;
        width:90vw;
    }
    div.top_rate-trails div.trails{
        display: flex;
        width:90vw;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    div.top_rate-trails div.trails div.trail{
        margin:20px 30px;
    }
    div.top_rate-trails div.trails div.trail {
    height: 150px;
    width: 350px;
}
    div.top_rate-trails div.trails div.trail div.image{
        height: 150px;
        width: 170px;
    }
    div.top_rate-trails div.trails div.trail div.name{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-bottom: 10px;
    }

    div.top_rate-trails div.trails div.trail div.name div#more-button {
        width: 190px;
    }
}

@media only screen and (max-width: 920px) {
    div.content_news {
        padding: 30px 20px;
    }

    div.top_rate-trails {
        padding: 0;
    }

    div.top_rate-trails div.trails div.trail {
        margin: 15px 10px;
    }
}

@media only screen and (max-width: 815px) {
    div.point div.more p.name {
        font-size: 17px;
    }

    div.top_rate-trails div.trails div.trail {
        width: 500px;
    }

    div.top_rate-trails div.trails div.trail div.name, div.top_rate-trails div.trails div.trail div.name div#more-button {
        width: 320px
    }

    div.top_rate-trails div.trails div.trail div.name p#name {
        font-size: 17px;
    }
}

@media only screen and (max-width: 525px) {
    div.top_rate-trails div.trails div.trail {
        width: 450px;
        margin-left: 0;
    }
    div.advertisement{
        height: 130px;
    }
    div.advertisement div#ad{
        height: 90px;
    }
    div.point{
            width: 240px;
    height: 310px;
    }
    div.point div.image {
    width: 240px;
    height: 140px;
}
    div.point div.more-buttons{
        width: 230px;
    }
    div.point div.more-buttons button{
        height: 31px;
        width: 75px;
    }
    div.top_rate-trails div.trails div.trail div.name, div.top_rate-trails div.trails div.trail div.name div#more-button {
        width: 270px
    }

    div.top_rate-trails div.trails div.trail div.name p#name {
        font-size: 17px;
    }
}

@media only screen and (max-width: 470px) {
    div.top_rate-trails div.trails div.trail {
        width: 360px;
        height: 120px;
    }

    div.top_rate-trails div.trails div.trail div.image {
        height: 120px;
    }

    div.top_rate-trails div.trails div.trail div.name, div.top_rate-trails div.trails div.trail div.name div#more-button {
        width: 240px
    }
}
@media only screen and (max-width: 385px) {
     div.advertisement{
        height: 110px;
    }
    div.advertisement div#ad{
        height: 70px;
    }
    div.top_rate-trails div.trails div.trail {
        width: 330px;
        height: 100px;
    }

    div.top_rate-trails div.trails div.trail div.image {
        height: 100px;
    }

    div.top_rate-trails div.trails div.trail div.name, div.top_rate-trails div.trails div.trail div.name div#more-button {
        width: 220px
    }

}