div.blog_title {
    width: 99.1vw;
    height: 80vh;
    background-image: url("../img/city.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

div.content_center{
    display: flex;
    background-color: #fbfbfb;
}
div.text h3{
    font-family: Verdana, sans-serif;
}
div.text p{
    font-family: Arial, sans-serif;
    letter-spacing: 1.3px;
}
div.right_table{
    width:20vw;
    padding:50px;
}

div.right_table div.reklama{
    width:310px;
    height:260px;
      margin: 0 auto;
    background-color: white;
    background-image: url("../img/baner.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0 0 0 1px #bdbdbd;
}
div.posts{
    display: flex;
    width:60vw;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 50px 0 50px 200px;
    justify-content: space-between;
}
div.posts div.post{
    width:300px;
    margin: 10px 25px;
    height:600px;
}

div.posts div.post div.image{
    width:90%;
    margin: 0 auto;
    height: 200px;
}
div.posts div.post div.image img{
    width:100%;
    height:100%;
    border: 1px solid #e2e2e2;
    box-shadow: 0 0 2px #bcbcbc;
}
div.posts div.post div.title{
    text-align: center;
    padding: 0 10px;
    height:50px;
}
div.posts div.post div.title p {
    color: #151515;
    font-size: 22px;
    font-weight: bold;
    font-family: 'Roboto Mono', monospace;
    margin: 10px 0;
    text-transform: uppercase;
}

div.posts div.post div.body {
    margin: 0;
    font-family: Arial, sans-serif;
    padding: 0 10px 0 15px;
    letter-spacing: 1.6px;
    height: 50px;
}

div.posts div.post div.info {
    font-family: Arial, sans-serif;
    padding: 0 20px 0 15px;
    letter-spacing: 1.6px;
    font-size: 13px;
    text-align: right;
}
@media only screen and (max-width: 1680px) {

div.posts{
    width:70vw;
    margin: 50px 0 50px 50px;
}

}
@media only screen and (max-width: 1537px) {
    div.posts div.post {
    width: 300px;
    margin: 10px 25px;
    height: 380px;
}
}
