
div.karaibs {
    background: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), url("../img/karaiby.jpg");
    height: 190px;
    background-position: center;
    background-size: cover;
    border-bottom: 1px solid grey;
}
div.karaibs  h3 {
    text-align: center;
    font-family: 'Archivo Black', sans-serif;
    font-size: 40px;
    font-weight: 900;
    letter-spacing: 3px;
    margin: 0;
    padding: 35px 0 0;
    color: white;
    -webkit-text-stroke: 0.6px black;
    text-shadow: 0 0 3px black;
}
div.content div.content-bottom {
    display: flex;
    flex-direction: row;
}

div.content div.content-bottom div.content-right {
    width: 15vw;
}

div.content_center {
    display: flex;
    width: 75vw;
    flex-direction: column;
    margin: 0 auto;
}
div.content_center h3{
    margin-left:70px;
    font-family: 'Chau Philomene One', sans-serif;
    font-weight: normal;
    letter-spacing: 2px;
    font-size: 25px;
}
div.content-right h3{
     margin:30px 0 0 0;
    font-family: 'Chau Philomene One', sans-serif;
    font-weight: normal;
    letter-spacing: 1.3px;
    font-size: 19px;
}
div.text h3{
    font-family: Verdana, sans-serif;
}
div.text p{
    font-family: Arial, sans-serif;
    letter-spacing: 1.3px;
}
div.right_table{
    width:10vw;
    padding:50px;
}


div.posts{
    display: flex;
    width:75vw;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 10px 0 30px 200px;
    justify-content: space-between;
}
div.posts a{
    color: black;
    text-decoration: none;
}
div.posts div.post{
    width:300px;
    margin: 10px 25px;
    height:500px;
    border:1px solid #aeaeae;
    background-color: #fff;
}
div.posts div.post section{
    background-color: #fff;
    width:85%;
    height: 170px;
    margin: 0 auto;
    transform: translateY(-30px);
}

div.posts div.post div.image{
    width:100%;
    margin: 0 auto;
    height: 200px;
}
div.posts div.post div.image img{
    width:100%;
    height:100%;
    border: 1px solid #e2e2e2;
    box-shadow: 0 0 2px #bcbcbc;
}
div.posts div.post div.title{
    text-align: center;
    padding: 0 10px;
    height:50px;
}
div.posts div.post div.title p {
    color: #151515;
    font-size: 22px;
    font-weight: bold;
    font-family: 'Roboto Mono', monospace;
    margin: 10px 0;
    text-transform: uppercase;
}

div.posts div.post div.body {
    margin: 0;
    font-family: Arial, sans-serif;
    padding: 0 10px 0 15px;
    letter-spacing: 1.6px;
    height: 50px;
}

div.posts div.post div.info {
    font-family: Arial, sans-serif;
    padding: 0 20px 0 15px;
    letter-spacing: 1.6px;
    font-size: 13px;
    text-align: right;
}

@media only screen and (max-width: 1680px) {

    div.posts {
        width: 70vw;
        margin: 10px 0 50px 50px;
    }

    div.posts div.post {
        height: 380px;

    }

}

@media only screen and (max-width: 1537px) {
    div.posts div.post {
        width: 310px;
        height: 350px;
        margin: 10px;
    }
    div.right_table{
        padding:50px 10px;
    }
}

@media only screen and (max-width: 1500px) {
    div.posts div.post {
        margin: 10px;
    }
}
@media only screen and (max-width: 1415px) {
    div.posts div.post {
        width: 300px;
        margin: 10px;
    }
}

@media only screen and (max-width: 1388px) {
    div.posts {
        width: calc(99.5vw - 330px);
    }

    div.right_table {
        width: 310px;
        padding: 50px 10px;
    }
}

@media only screen and (max-width: 1340px) {
    div.posts div.post {
        width: 250px;

    }

    div.posts div.post div.image {
        width: 95%;
        margin: 0 auto;
        height: 170px;
    }
}

@media only screen and (max-width: 1190px) {
    div.posts div.post {
        width: 360px;
        height: 420px;
    }

    div.posts div.post div.image {
        width: 95%;
        margin: 0 auto;
        height: 250px;
    }
}

@media only screen and (max-width: 1140px) {
    div.posts div.post {
        width: 320px;
        height: 380px;
    }

    div.posts div.post div.image {
        height: 230px;
    }
}

@media only screen and (max-width: 1060px) {
    div.posts div.post {
        width: 280px;
        height: 350px;
    }

    div.posts div.post div.image {
        height: 200px;
    }
}

@media only screen and (max-width: 980px) {


    div.content div.content-bottom {
        flex-direction: column;
    }

    div.right_table {
        padding: 0;
        margin: 20px auto 10px;
    }

    div.posts {
        width: 100%;
        margin: 10px auto;
    }

    div.text {
        padding-bottom: 10px;
    }

    div.text p {
        margin-bottom: 0;
    }
}

@media only screen and (max-width: 949px) {
    div.posts{
        justify-content: center;
    }
    div.posts div.post {
        width: 350px;
         height: 410px;
    }

    div.posts div.post div.image {
        height: 250px;
    }
}
@media only screen and (max-width: 785px) {
    div.posts div.post {
        width: 300px;
    }

    div.posts div.post div.image {
        height: 210px;
    }
}
@media only screen and (max-width: 685px){
      div.posts div.post {
        width: 250px;
    }

    div.posts div.post div.image {
        height: 160px;
    }
}
@media only screen and (max-width: 570px){
 div.posts div.post {
        width: 90vw;
        height: 440px;
    }

    div.posts div.post div.image {
        height: 270px;
    }
}
@media only screen and (max-width: 400px){
      div.posts div.post div.image {
        height: 230px;
    }
}
@media only screen and (max-width: 340px){
     div.posts div.post {
        height: 400px;
    }
    div.posts div.post div.image {
        height: 200px;
    }
}