/* Sekcja Trasy*/

div.wrap-trails{
    display: flex;
    flex-direction: column;
}
div.wrap-trails div.title-trails{
    position: relative;
    top: -20px;
    left: -105px;
    width: 99vw;
    height: 150px;
    background: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), url("../img/trail.jpg");
    background-position: center;
    background-size: cover;
    border-bottom: 1px solid grey;
}
div#hamburger{
    display: none;
    font-size: 30px;
    font-weight: bold;
    transform: translateX(-10px);
    cursor:pointer;
}
div#x_hamburger{
    display: none;
    position: absolute;
    width: 30px;
    z-index: 2;
    top: 70px;
    left: 215px;
}

div#x_hamburger i {
    font-size: 22px;
}

div.wrap-trails div.trail-center {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

div.right {
    width: 63vw;
}

div.all_trails {
    overflow: hidden;
    width: 61vw;
    font-family: Arial, sans-serif;
    padding-right: 20px;

}

div.all_trails h3 {
    color: #434343;
    letter-spacing: 1.2px;
    padding-left: 10px;
}

div.wrap-trails div.title-trails h3 {
    text-align: center;
    font-family: 'Archivo Black', sans-serif;
    font-size: 40px;
    font-weight: 900;
    letter-spacing: 3px;
    margin: 35px 0 0;
    color: white;
    -webkit-text-stroke: 0.6px black;
    text-shadow: 0 0 3px black;
}

div.all_trails div.all_trail-trails{
    display: flex;
    flex-direction: row;
    overflow:hidden;
    transition: .6s;
    margin:7px 0 7px 7px;
}

div.all_trails div.all_trail-trails div.all_trails-trail {
    min-width: 280px;
    max-width: 280px;
    height: 320px;
    margin: 5px 0 5px 5px;
    text-align: center;
    background-color: #fff;
    border: 0.5px solid #868686;
    box-shadow: 0 0 1px #d2d2d2;
    overflow: hidden;
    border-radius: 10px;
}

div.all_trails div.all_trail-trails div.all_trails-trail p {
    font-size: 14px;
    margin: 5px;
}

div.all_trails div.all_trail-trails div.all_trails-trail p#name-trail {
    font-weight: bold;
    letter-spacing: 1.3px;
    margin-top: 10px;
    margin-bottom: 10px;
}

div.all_trails div.all_trail-trails div.all_trails-trail p span {
    font-weight: bold;
}

div.all_trails div.all_trail-trails div.all_trails-trail p.description {
    height: 50px;
    width: 90%;
}

div.all_trails div.all_trail-trails div.all_trails-trail div.image_trail {
    width: 100%;
    height: 60%;
    margin: 0 auto;
    overflow: hidden;
}

div.all_trails div.all_trail-trails div.all_trails-trail div.image_trail img {
    width: 100%;
    height: 100%;
    transform: scale(1.0);
    transition: all 0.3s;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

div.all_trails div.all_trail-trails div.all_trails-trail div.image_trail:hover img {
    transform: scale(1.1);
}

div.all_trails div.all_trail-trails div.all_trails-trail div.all_trails-trail_more {
    margin-top: 15px;
    margin-right: 0;
    padding-left: 5px;
}

div.all_trails div.all_trail-trails div.all_trails-trail div.all_trails-trail_more div {
    display: flex;
    flex-direction: row;
}

div.all_trails div.all_trail-trails div.all_trails-trail div.all_trails-trail_more div p {
    font-size: 13px;
    margin: 10px 5px 5px;
}

div.all_trails div.all_trail-trails div.all_trails-trail div.all_trails-trail_more button {
    background-color: #e06100;
    border: 1px solid #c0c0c0;
    box-shadow: 1px 1px 0 black;
    width: 60px;
    height: 30px;
    border-radius: 15px;
    margin-left: 50px;
}

div.all_trails div.all_trail-trails div.all_trails-trail div.all_trails-trail_more button a {
    color: whitesmoke;
    font-weight: bold;
    font-size: 12px;
    letter-spacing: 1.6px;
    text-decoration: none;
}
div.all_trails button#left, div.all_trails button#right {
    position: relative;
    color: white;
    background-color: red;
    width: 40px;
    height: 40px;
    border: 1px solid black;
    border-radius: 25px;
    font-size: 25px;
    font-weight: bold;
    top: -190px;
}
div.all_trails button#left, div.all_trails button#right {
    top: -190px;
}

div.all_trails button#right {
    left: 56.5vw;
}

/*Sekcja filtrów tras*/

div.wrap-trails div.trail-center div.filter_trails {
    width: 15vw;
    min-height: 70vh;
}

div.wrap-trails div.trail-center div.filter_trails.active {
    position: absolute;
    display: block;
    top: 100px;
    left: 0;
    z-index: 99;
    width: 240px;
}

div.wrap-trails div.trail-center div.filter_trails h3 {
    color: #646464;
    letter-spacing: 1.7px;
    font-size: 20px;
    padding-left: 5px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

div.wrap-trails div.trail-center div.filter_trails div.filter {
    background-color: #fff;
    font-family: "Roboto", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
    border: 0.5px solid #868686;
    box-shadow: 0 0 1px #d2d2d2;
    min-height: 60vh;
    font-size: 14px;
    border-radius: 10px;
}

div.wrap-trails div.trail-center div.filter_trails div.filter form div {
    display: flex;
    flex-direction: column;
    border-bottom: 0.5px solid #a5a5a5;
    padding: 10px 10px;
}
div.wrap-trails div.trail-center div.filter_trails div.filter form div.region{
    height: 160px;
}
div.wrap-trails div.trail-center div.filter_trails div.filter form div.country {
    height: 195px;
    overflow: hidden;
}

div.wrap-trails div.trail-center div.filter_trails div.filter form div.city {
    height: 195px;
    overflow: hidden;
}

div.wrap-trails div.trail-center div.filter_trails div.filter form div.city p.city {
    background-color: white;
    width: 100%;
    position: relative;
    display: block;
    height: 25px;
    top: -80px;
    margin: 10px 0 10px 0;
    padding:5px 0 10px 0;
}
div.wrap-trails div.trail-center div.filter_trails div.filter form div.city.active{
    height:255px;
}
div.wrap-trails div.trail-center div.filter_trails div.filter form div.city.active p.city{
    top: 0;
     margin:0;
    padding:0;
}
div.wrap-trails div.trail-center div.filter_trails div.filter form div label{
    padding: 5px 0 10px 16px;
}

div.wrap-trails div.trail-center div.filter_trails div.filter form div label input[type='checkbox']{
    margin-right: 10px;
}

div.wrap-trails div.trail-center div.filter_trails div.filter form div label:nth-of-type(1){
    padding: 5px 0 10px 10px;
    font-weight: bold;
}
div.wrap-trails div.trail-center div.filter_trails div.filter form div.name input{
    width: 190px;
    height: 22px;
    margin-left: 25px;
    padding-left: 25px;
}
div.wrap-trails div.trail-center div.filter_trails div.filter form div p{
    color: #3587ea;
    text-align: center;
    cursor: pointer;
    letter-spacing: 0.8px;
    position: relative;
}
div.wrap-trails div.trail-center div.filter_trails div.filter form div.accept_filter{
    padding: 0;
    width:100%;
    height:50px;
}
div.wrap-trails div.trail-center div.filter_trails div.filter form div.accept_filter button{
    width: 286px;
    height: 50px;
    letter-spacing: 1.4px;
    background-color: #f8ff00;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

div.wrap-trails div.trail-center div.filter_trails div.filter form div.top_rate label.star {
    color: gold;
}

/*Sekcja Najwyżej ocenianych tras*/

div.top_rate-center, div.popular-center {
    overflow: hidden;
    width: 61vw;
    font-family: Arial, sans-serif;
    padding-right: 20px;
}

div.top_rate-center h3, div.popular-center h3 {
    color: #434343;
    letter-spacing: 1.2px;
    padding-left: 10px;
}

div.top_rate-trails, div.popular-trails {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    transition: .6s;
    margin: 7px 0 7px 7px;
}

div.top_rate-trails div.top_rate-trail, div.popular-trails div.popular-trail {
    min-width: 280px;
    max-width: 280px;
    height: 320px;
    margin: 5px 5px 0 0;
    text-align: center;
    border: 0.5px solid #868686;
    box-shadow: 0 0 1px #d2d2d2;
    background-color: #fff;
    overflow: hidden;
    border-radius: 10px;
}

div.top_rate-trail p, div.popular-trail p {
    font-size: 14px;
    margin: 5px;
}

div.top_rate-trail p#top_rate-name_trail, div.popular-trail p#popular-name_trail {
    font-weight: bold;
    letter-spacing: 1.3px;
    margin-top: 10px;
    margin-bottom: 10px;
}

div.top_rate-trail p span, div.popular-trail p span {
    font-weight: bold;
}

div.top_rate-trail p.description, div.popular-trail p.description {
    height: 80px;
    width: 90%;
    font-size: 14px;
}

div.top_rate-trail div.image_trail, div.popular-trail div.image_trail {
    width: 100%;
    height: 60%;
    margin: 0 auto;
    overflow: hidden;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

div.top_rate-trail div.image_trail img, div.popular-trail div.image_trail img {
    width: 100%;
    height: 100%;
    transform: scale(1.0);
    transition: 0.3s;
}
div.top_rate-trail div.image_trail:hover img, div.popular-trail div.image_trail:hover img{
    transform: scale(1.1);
}

div.top_rate-trail div.top_rate-trail_more, div.popular-trail div.popular-trail_more {
    margin-top: 15px;
    margin-right: 0;
    padding-left: 5px;
}

div.top_rate-trail div.top_rate-trail_more div, div.popular-trail div.popular-trail_more div {
    display: flex;
    flex-direction: row;
}

div.top_rate-trail div.top_rate-trail_more p, div.popular-trail div.popular-trail_more p {
    font-size: 13px;
    margin: 10px 5px 5px;

}

div.top_rate-trail_more button, div.popular-trail_more button {
    background-color: #e06100;
    border: 1px solid #c0c0c0;
    box-shadow: 1px 1px 0 black;
    width: 60px;
    height: 30px;
    border-radius: 15px;
    margin-left: 50px;
}

div.top_rate-trail_more button a, div.popular-trail_more button a {
    color: whitesmoke;
    font-weight: bold;
    font-size: 12px;
    letter-spacing: 1.6px;
    text-decoration: none;
}

div.top_rate-center button#left-rate, div.top_rate-center button#right-rate {
    position: relative;
    color: white;
    background-color: red;
    width: 40px;
    height: 40px;
    border: 1px solid black;
    border-radius: 25px;
    font-size: 25px;
    font-weight: bold;
    top: -190px;

}
div.top_rate-center button#right-rate, div.popular-center button#right-popular{
    left: 56.3vw;
}

div.popular-center button#left-popular, div.popular-center button#right-popular {
    position: relative;
    color: white;
    background-color: #0700ff;
    width: 40px;
    height: 40px;
    border: 1px solid black;
    border-radius: 25px;
    font-size: 25px;
    font-weight: bold;
    top: -190px;
}
@media only screen and (max-width: 1680px) {

    div.wrap-trails div.trail-center div.filter_trails div.filter form div.name input {
        width: 80%;
        margin-left: 10px;
        padding-left: 15px;
    }

    div.wrap-trails div.trail-center div.filter_trails div.filter form div.accept_filter button {
        width: 100%;
    }

    div.wrap-trails div.title-trails {
        width: 100vw;
        left: -9vw
    }
}

@media only screen and (max-width: 1110px) {
    div.wrap-trails div.trail-center {
        justify-content: space-around;
    }

    div#hamburger {
        display: block;
    }

    div.wrap-trails div.trail-center div.filter_trails.rwd,
    div.wrap-your_trails div.your_trail-center div.filter_trails.rwd {
        background-color: #fff;
        display: block;
        position: absolute;
        top: 0;
        left: 10px;
        z-index: 1;
        width: 300px;
        min-height: 100vh;
        transition: 0.4s;
        border: 1px solid #b7b7b7;
    }

    div.wrap-trails div.trail-center div.filter_trails.rwd div.filter,
    div.wrap-your_trails div.your_trail-center div.filter_trails.rwd div.filter {
        border: none;
    }

    div.wrap-trails div.trail-center div.filter_trails.rwd h3 {
        margin-left: 20px;
    }

    div.wrap-trails div.trail-center div.filter_trails.rwd div.filter div.name input {
        width: 220px;
    }

    div.wrap-trails div.trail-center div.filter_trails.rwd button#button-filter,
    div.wrap-your_trails div.your_trail-center div.filter_trails.rwd button#button-filter_your-trail {
        width: 300px;
        top:620px;
        left: 10px;
    }

    div.wrap-trails div.trail-center div.filter_trails,
    div.wrap-your_trails div.your_trail-center div.filter_trails {
        display: none;
    }

    div.right {
        width: 90vw;
    }

    div.all_trails {
        width: 90vw;
    }

    div.all_trails button#right {
        transform: translateX(295px);
    }
    div.top_rate-center{
        width:90vw;
    }
    div.top_rate-center button#right-rate {
        transform: translateX(295px);
    }
    div.popular-center{
        width:90vw;
    }
    div.popular-center button#right-popular {
        transform: translateX(295px);
    }

}
@media only screen and (max-width: 1060px) {

     div.all_trails button#right{
        transform: translateX(215px);
    }
     div.top_rate-center button#right-rate{
        transform: translateX(215px);
    }
     div.popular-center button#right-popular{
        transform: translateX(215px);
    }
}
@media only screen and (max-width: 1000px) {

     div.all_trails button#right{
        transform: translateX(200px);
    }
     div.top_rate-center button#right-rate{
        transform: translateX(200px);
    }
     div.popular-center button#right-popular{
        transform: translateX(200px);
    }
}
@media only screen and (max-width: 950px) {

     div.all_trails button#right{
        transform: translateX(180px);
    }
     div.top_rate-center button#right-rate{
        transform: translateX(180px);
    }
     div.popular-center button#right-popular{
        transform: translateX(180px);
    }
}
@media only screen and (max-width: 870px) {

     div.all_trails button#right{
        transform: translateX(140px);
    }
     div.top_rate-center button#right-rate{
        transform: translateX(140px);
    }
     div.popular-center button#right-popular{
        transform: translateX(140px);
    }
}
@media only screen and (max-width: 725px) {

     div.all_trails button#right{
        transform: translateX(100px);
    }
     div.top_rate-center button#right-rate{
        transform: translateX(100px);
    }
     div.popular-center button#right-popular{
        transform: translateX(100px);
    }
}
@media only screen and (max-width: 585px) {

     div.all_trails button#right{
        transform: translateX(70px);
    }
     div.top_rate-center button#right-rate{
        transform: translateX(70px);
    }
     div.popular-center button#right-popular{
        transform: translateX(70px);
    }
}
@media only screen and (max-width: 465px) {

     div.top_rate-center button#right-rate{
        transform: translateX(35px);
    }
     div.popular-center button#right-popular{
        transform: translateX(35px);
    }
     div.right{
         margin:0 auto;
         width:420px;
     }
     div.all_trails{
         width:390px;
         padding-right: 0;
     }

    div.all_trails button#right {
        transform: translateX(35px);
    }

    div.top_rate-center, div.popular-center {
        padding-right: 0;
        width: 390px;
    }

    div.top_rate-center button#right-rate {
        transform: translateX(35px);
    }
}

@media only screen and (max-width: 440px) {
    div#hamburger {
        position: relative;
        left: 10px;
        transform: translateY(-15px);
    }
}
@media only screen and (max-width: 395px){
div.all_trails,div.top_rate-center, div.popular-center,div.top_rate-center, div.popular-center{
    width:94vw
}
}