
div.karaibs {
    background: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), url("../img/karaiby.jpg");
    height: 190px;
    background-position: center;
    background-size: cover;
    border-bottom: 1px solid grey;
}
div.karaibs  h3 {
    text-align: center;
    font-family: 'Archivo Black', sans-serif;
    font-size: 40px;
    font-weight: 900;
    letter-spacing: 3px;
    margin: 0;
    padding: 35px 0 0;
    color: white;
    -webkit-text-stroke: 0.6px black;
    text-shadow: 0 0 3px black;
}
div.content div.content-bottom {
    display: flex;
    flex-direction: row;
}

div.content div.content-bottom div.content-right {
    width: 20vw;
    min-height: 500px;
    margin-left: 50px;
    padding-top: 10px;
}

div.content_center {
    display: flex;
    flex-direction: column;
}
div.content_center h3{
    margin-left:70px;
    font-family: 'Chau Philomene One', sans-serif;
    font-weight: normal;
    letter-spacing: 2px;
    font-size: 25px;
}
div.content-right h3{
     margin:30px 0 0 0;
    font-family: 'Chau Philomene One', sans-serif;
    font-weight: normal;
    letter-spacing: 1.3px;
    font-size: 19px;
}
div.text h3{
    font-family: Verdana, sans-serif;
}
div.text p{
    font-family: Arial, sans-serif;
    letter-spacing: 1.3px;
}

div.posts{
    display: flex;
    width:65vw;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 50px;
    margin-right: 50px;
    justify-content: space-between;
}
div.posts a{
    color: black;
    text-decoration: none;
}
div.posts div.post{
    width:300px;
    margin: 10px 25px 20px;
    height:360px;
    border:1px solid #aeaeae;
    background-color: #fff;
}
div.posts div.post section{
    background-color: #fff;
    width:85%;
    height: 170px;
    margin: 0 auto;
    transform: translateY(-30px);
}

div.posts div.post div.image{
    width:100%;
    margin: 0 auto;
    height: 200px;
}
div.posts div.post div.image img{
    width:100%;
    height:100%;
    border: 1px solid #e2e2e2;
    box-shadow: 0 0 2px #bcbcbc;
}
div.posts div.post div.title{
    text-align: center;
    padding: 0 10px;
    height:50px;
}
div.posts div.post div.title p {
    color: #151515;
    font-size: 22px;
    font-weight: bold;
    font-family: 'Roboto Mono', monospace;
    margin: 10px 0;
    text-transform: uppercase;
}

div.posts div.post div.body {
    margin: 0;
    font-family: Arial, sans-serif;
    padding: 0 10px 0 15px;
    letter-spacing: 1.6px;
    height: 50px;
}

div.posts div.post div.info {
    font-family: Arial, sans-serif;
    padding: 0 20px 0 15px;
    letter-spacing: 1.6px;
    font-size: 13px;
    text-align: right;
}

div.top_rate-points {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
}

div.top-rate-point {
    width: 400px;
    height: 100px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.7);
    border: 1px solid #dddddd;
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
}

div.top-rate-point-image {
    width: 120px;
    height: 100px;
    margin-right: 10px;
}

div.top-rate-point-image img {
    width: 100%;
    height: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

div.point-description {
    width: 280px
}

div.point-description div.more {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 20px;
}

div.top-rate-point div.point-description div.more p {
    margin: 5px 0;
}

div.top-rate-point div.point-description div.more p span {
    font-weight: bold;
}

div.top-rate-point div.point-description div.more-button {
    text-align: right;
    padding-right: 20px;
    margin-top: 2px;
}

div.top-rate-point div.point-description div.more-button button {
    background-color: #00c403;
    border: none;
    border-radius: 10px;
    padding: 6px 10px;
}

div.top-rate-point div.point-description div.more-button button a {
    color: white;
    font-family: Arial, sans-serif;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1.1px;
    text-decoration: none;
}

div.top-rate-point div.point-description p#name {
    font-family: 'Pattaya', sans-serif;
    letter-spacing: 1.6px;
    margin: 10px 0 5px 0;
}


@media only screen and (max-width: 1680px) {

    div.posts {
        width: 65vw;
        margin: 10px 0 50px 50px;
    }

    div.posts div.post {
        height: 380px;
        width: 300px;
        margin: 0;
    }

}

@media only screen and (max-width: 1537px) {
    div.posts div.post {
        width: 310px;
        height: 350px;
        margin: 10px;
    }
    div.right_table{
        padding:50px 10px;
    }
}

@media only screen and (max-width: 1500px) {
    div.posts div.post {
        margin: 10px;
    }
}

@media only screen and (max-width: 1415px) {
    div.posts div.post {
        width: 280px;
        margin: 10px;
    }

    div.top-rate-point {
        width: 320px;
    }
}

@media only screen and (max-width: 1388px) {
    div.posts {
        width: 65vw;
    }

    div.right_table {
        width: 310px;
        padding: 50px 10px;
    }
}

@media only screen and (max-width: 1340px) {
    div.posts div.post {
        width: 250px;
    }

    div.posts div.post div.image {
        width: 95%;
        margin: 0 auto;
        height: 170px;
    }

    div.posts div.post div.title p {
        font-size: 19px;
    }

    div.posts div.post div.body {
        margin-top: 15px;
    }

    div.posts div.post div.info {
        margin-top: 35px;
    }
}

@media only screen and (max-width: 1190px) {
    div.posts div.post {
        width: 360px;
        height: 420px;
    }

    div.posts div.post div.image {
        width: 95%;
        margin: 0 auto;
        height: 250px;
    }
}

@media only screen and (max-width: 1140px) {
    div.posts div.post {
        width: 320px;
        height: 380px;
    }

    div.posts div.post div.image {
        height: 230px;
    }
}

@media only screen and (max-width: 1060px) {
    div.posts div.post {
        width: 280px;
        height: 350px;
    }

    div.posts div.post div.image {
        height: 200px;
    }

    div.posts div.post div.info {
        margin-top: 20px;
    }
}

@media only screen and (max-width: 980px) {

    div.content div.content-bottom {
        flex-direction: column;
    }

    div.right_table {
        padding: 0;
        margin: 20px auto 10px;
    }

    div.posts {
        width: 100%;
        margin: 10px auto;
    }

    div.text {
        padding-bottom: 10px;
    }

    div.text p {
        margin-bottom: 0;
    }

    div.content div.content-bottom div.content-right {
        width: 90vw;
    }

    div.top-rate-point {
        width: 370px;
    }
}

@media only screen and (max-width: 949px) {
    div.posts{
        justify-content: center;
    }
    div.posts div.post {
        width: 350px;
         height: 410px;
    }

    div.posts div.post div.image {
        height: 250px;
    }
}

@media only screen and (max-width: 785px) {
    div.posts div.post {
        width: 300px;
        height: 380px;
    }

    div.posts div.post div.image {
        height: 210px;
    }

    div.top-rate-point p {
        font-size: 16px;
    }

    div.posts div.post div.body p {
        font-size: 15px;
    }
}

@media only screen and (max-width: 685px) {
    div.posts div.post {
        width: 250px;
        height: 330px;
    }

    div.posts div.post div.image {
        height: 160px;
    }

    div.posts div.post div.title {
        margin-bottom: 25px;
    }

    div.posts div.post div.info p {
        margin-top: 10px;
    }

    div.posts div.post div.body {
        margin-top: 0;
    }

    div.posts div.post div.body p {
        margin-top: 0;
    }
}

@media only screen and (max-width: 570px) {
    div.posts div.post {
        width: 90vw;
        height: 440px;
    }

    div.posts div.post div.image {
        height: 270px;
    }
}

@media only screen and (max-width: 435px) {
    div.content div.content-bottom div.content-right {
        margin-left: 10px;
    }
}

@media only screen and (max-width: 400px) {
    div.posts div.post div.image {
        height: 230px;
    }
     div.posts div.post {
        height: 390px;
    }
}
@media only screen and (max-width: 340px){

    div.posts div.post div.image {
        height: 200px;
    }
     div.posts div.post {
        height: 370px;
    }
}