div.message-create-message{
    width:40%;
    height:60px;
    background-color: #ffedb8;
    margin: 20px auto;
    border: 0.5px solid #868686;
    box-shadow: 0 0 1px #d2d2d2;
}

div.message-create-message h3{
    font-family: 'Roboto Mono', monospace;
    color: #343434;
    text-align: center;
    text-shadow: 1px 1px 1px grey;
}