div#top div.menu_mapa ul li {
    line-height: 80px;
}

div#top div.menu_mapa ul li.green i {
    margin-top: 35px;
}

div#done-wrap {
    min-height: 75vh;
    background-image: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url("../img/texture.jpg");
}

div#done-top {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.25)), url("../img/cathedral.jpg");
    background-position: center;
    background-size: cover;
    border-bottom: 1px solid grey;
    width: 99.8vw;
    height: 220px;
}

div#done-top h3 {
    text-align: center;
    font-family: 'Archivo Black', sans-serif;
    font-size: 37px;
    font-weight: 900;
    letter-spacing: 3px;
    padding-top: 50px;
    margin: 0;
    color: white;
    -webkit-text-stroke: 0.6px black;
    text-shadow: 0 0 3px black;
}

/*Sort done.*/

div.sort_menu {
    width: 65vw;
    margin: 0 auto;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

div.sort_menu div.sort {
    width: 20%;
    height: 80px;
}

div.sort_menu div.sort p, div.filter p, div.search-done p {
    font-family: 'Roboto Mono', monospace;
    font-size: 14px;
    color: #4e4e4e;
    margin: 15px 0 10px;
    height: 20px;
}

select#sort {
    width: 140px;
    height: 40px;
    padding: 10px;
    border: 1px solid #28608a;
    background-color: white;
}

div.sort_menu div.filter {
    width: 50%;
    height: 80px;
}

div.filter-select select {
    width: 140px;
    height: 40px;
    padding: 10px;
    border: 1px solid #28608a;
    background-color: white;
    margin-right: 10px;
}

div.sort_menu div.search-done {
    width: 25%;
    height: 80px;
}

div.sort_menu div.search-done form input {
    height: 34px;
    padding-left: 10px;
}

div.sort_menu div.search-done form button {
    height: 40px;
    width: 50px;
    background-color: #fff;
    border: 1px solid #757575;
    border-left: none;
    transform: translateX(-5px);
}

