/* Sekcja Ciekawe miejsca */

div.search_points{
    text-align: center;
    margin: 20px auto;
    width:55%;
    padding: 20px 0 15px;
    background-color: #fff;
    border: 0.5px solid #868686;
    box-shadow: 0 0 1px #d2d2d2;
    border-radius: 15px;
}
div.search_points form label{
    font-family: Arial, sans-serif;
    font-weight: bold;
    color: #2b2b2b;
    z-index: -9;
}
div.search_points form  input{
    margin-right: 20px;
    height: 22px;
       transform: translateY(-3px);
}
div.search_points form select{
    margin-right: 20px;
    height: 30px;
    width: 120px;
    transform: translateY(-3px);
}

div.search_points form button{
    background-color: #6fdd00;
    transform: translateY(-3px);
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1.6px;
    padding: 8px 15px;
    border-radius: 10px;
    border: 0.5px solid #868686;
    box-shadow: 0 0 1px #d2d2d2;
}


div.point_list_interest_point{
    display: flex;
    flex-wrap: wrap;
}
div.buttons-interesting{
    display: flex;
    justify-content: flex-end;
}
div.buttons-interesting a{
    margin-right: 10px;
}
div.buttons-interesting a input{
   background-color: #e06100;
    border: 1px solid black;
    color: whitesmoke;
    width: 85px;
    height: 35px;
    border-radius: 10px;
    font-weight: bold;
    margin-left: 10px;
    font-size: 14px;
    cursor: pointer;
}

@media only screen and (max-width: 1680px) {

div.search_points{
    width:65%;
}

div.point_list_interest_point{
 justify-content: space-between;
    width: 89vw;
    margin: 0 auto;
    transform: translateX(-50px);
}

}