/* Ustawienia ogólne */
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#top {
    border-bottom: 1px solid #cbcdcc;
    height: 10vh;
    display: flex;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

#top div.logo {
    margin: 18px 10px 10px 33px;
    height: 7vh;
    width: 110px;
}

#top div.logo img {
    width: 100%;
    height: 100%;
}

div#top div.menu {
    width: 65%;
    height: 10vh;
    font-family: 'Roboto Mono', monospace;
}

div#top div.menu ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    height: 10vh;
}

div#top div.menu ul li {
    width: 25%;
    line-height: 9vh;
}

div#top div.menu ul li a {
    display: block;
    text-align: center;
    color: black;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 2px;
    text-decoration: none;
}

div#top div.menu ul li.red a {
    color: red;
}

div#top div.menu ul li.blue a {
    color: blue;
}

div#top div.menu ul li.green a {
    color: green
}

div#top div.menu ul li.gold a {
    color: #ab0fb5;
}

div#top div.menu ul li a i {
    font-size: 25px;
    margin-right: 10px;
    color: #3b372b;
}

div#top div.menu ul li.red a i {
    color: red;
}

div#top div.menu ul li.green a i {
    color: green;
}

div#top div.menu ul li.blue a i {
    color: blue;
}

div#top div.menu ul li.gold a i {
    color: #ab0fb5;
}

div.login {
    margin-left: 130px;
}

div.login button {
    margin-top: 30px;
    width: 150px;
    height: 48px;
    border-radius: 25px;
    border-style: none;
    background-color: #009900;
}

div.login button a {
    color: white;
    font-weight: bold;
    letter-spacing: 1.5px;
    text-decoration: none;
    font-size: 15px;
}

div#filter {
    display: flex;
    height: 7vh;
    line-height: 6.5vh;
    margin: 0 20px;
    justify-content: space-between;
    width: 81vw;
}

div#filter select.location {
    padding: 5px 10px;
    border: 0.5px solid #cbcdcc;
    border-radius: 15px
}

div#filter i {
    margin: 12px 0 0 0;
    font-size: 23px;
}

div.search {
    height: 30px;
    line-height: 0;
}

div.search button {
    margin-top: 10px;
    height: 26px;
    background-color: orange;
    border: 0 solid white;
    color: white;
    padding: 10px 15px;
    border-radius: 15px;
    font-weight: bold;
    letter-spacing: 1.5px;
}

/*Content*/

div.content {
    margin-top: 10px;
}

div#top div.menu div.tr {
    width: 100%;
    height: 180px;
    background-color: #fdfdfd;
    border: 0.5px solid #e9e8e8;
    color: #2e6993;
    transform: translateY(-400px);
    z-index: -1;
    box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.4);
}

div#top div.menu div.tr.active {
    height: 240px;
    position: relative;
}

div#top div.menu div.tr ul {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0;
}

div#top div.menu div.tr ul li {
    height: 100%;
    width: 100%;
    line-height: 0;
    padding: 12px 0;
}

div#top div.menu div.tr ul li:hover {
    background-color: #f8f8f8;
}

div#top div.menu div.tr ul li a {
    display: block;
    font-size: 14px;
    letter-spacing: 3px;
    text-transform: uppercase;
    line-height: 35px;
    margin: 0;
    padding: 0;
    color: #2e6993;
}

div#top div.menu ul li.green:hover div.tr {
    transform: translateY(-3px);
    z-index: 1;
}

