/* Strona Mapa */
#top_mapa{
border-bottom:1px solid #cbcdcc;
height: 13vh;
display:flex;
}
#top_mapa div.logo_mapa{
margin:10px;
height:11vh;
width: 150px;
}
#top_mapa div.logo_mapa img{
width:100%;
height:100%;
}
div#top_mapa div.menu_mapa {
width:65%;
height:12vh;
font-family: 'Roboto Mono', monospace;
}
div#top_mapa div.menu_mapa ul{
display:flex;
justify-content:space-between;
list-style:none;
height:11vh;
}
div#top_mapa div.menu_mapa ul li {
width: 25%;
line-height:13.5vh;
}
div#top_mapa div.menu_mapa ul li a{
display:block;
text-align: center;
color: black;
font-weight:bold;
font-size:16px;
letter-spacing:2px;
text-decoration:none;
}
div#top_mapa div.menu_mapa ul li.red a{
color:red;
}
div#top_mapa div.menu_mapa ul li.blue a{
color:blue;
}
div#top_mapa div.menu_mapa ul li.green a{
color:green
}
div#top_mapa div.menu_mapa ul li.gold a {
    color: #ab0fb5;
}

div#top_mapa div.menu_mapa ul li a i{
font-size:25px;
margin-right:10px;
color: #3b372b;
}
div#top_mapa div.menu_mapa ul li.red a i{
color:red;
}
div#top_mapa div.menu_mapa ul li.green a i{
color:green;
}
div#top_mapa div.menu_mapa ul li.blue a i{
color:blue;
}
div#top_mapa div.menu_mapa ul li.gold a i{
    color: #ab0fb5;
}


div.login_mapa{
margin-left:130px;
}

div.login_mapa button{
    margin-top:30px;
    width:150px;
    height:50px;
    border-radius:25px;
    border-style: none;
    background-color:#009900;
}
div.login_mapa button a{
color:white;
font-weight:bold;
letter-spacing:1.5px;
text-decoration:none;
font-size:15px;
}

div#filter_mapa{
display:flex;
height:7vh;
line-height:7vh;
margin: 0 20px;
justify-content:space-between;
width:81vw;
}

div#filter_mapa select.location{
padding:5px 10px;
border: 0.5px solid #cbcdcc;
border-radius:15px

}

div#filter_mapa i{
margin:12px 0 0 2px;
font-size:23px;
}
div.search_mapa{
height:30px;
line-height:0;
}

div.search_mapa button{
margin-top:15px;
height:26px;
background-color:orange;
border:0 solid white;
color:white;
padding:10px 15px;
border-radius:15px;
font-weight:bold;
letter-spacing:1.5px;
}
button.panel_admin{
    margin: 10px;
    background-color: #007FFF;
    height:38px;
    padding: 5px;
    border: none;
    border-radius: 10px;
}
button.panel_admin a{
   display: block;
    line-height: 100%;
    color:white;
    font-weight: bold;
}

/*Renderowanie mapy*/

iframe.map_render{
    width:99vw;
    height: 79vh;
}

/*Reszta stron*/
html, body {width: 100%;height: 100%;margin: 0;padding: 0;}

#top{
border-bottom:1px solid #cbcdcc;
height: 13vh;
display:flex;
}
#top div.logo{
margin:10px;
height:11vh;
width: 150px;
}
#top div.logo img{
width:100%;
height:100%;
}
div#top div.menu {
width:65%;
height:10vh;
font-family: 'Roboto Mono', monospace;
}
div#top div.menu ul{
display:flex;
justify-content:space-between;
list-style:none;
height:11vh;
}
div#top div.menu ul li {
width: 25%;
line-height:10vh;
}
div#top div.menu ul li a{
display:block;
text-align: center;
color: black;
font-weight:bold;
font-size:16px;
letter-spacing:2px;
text-decoration:none;
}
div#top div.menu ul li.red a{
color:red;
}
div#top div.menu ul li.blue a{
color:blue;
}
div#top div.menu ul li.green a{
color:green
}
div#top div.menu ul li.gold a{
    color: #ab0fb5;
}

div#top div.menu ul li a i{
font-size:25px;
margin-right:10px;
color: #3b372b;
}
div#top div.menu ul li.red a i{
color:red;
}
div#top div.menu ul li.green a i{
color:green;
}
div#top div.menu ul li.blue a i{
color:blue;
}
div#top div.menu ul li.gold a i{
    color: #ab0fb5;
}

div.login{
    margin-left:130px;
}

div.login button{
    margin-top:30px;
    width:150px;
    height:50px;
    border-radius:25px;
    border-style: none;
    background-color:#009900;
}
div.login button a{
color:white;
font-weight:bold;
letter-spacing:1.5px;
text-decoration:none;
font-size:15px;
}

div#filter{
display:flex;
height:7vh;
line-height:6.5vh;
margin: 0 20px;
justify-content:space-between;
width:81vw;
}

div#filter select.location{
padding:5px 10px;
border: 0.5px solid #cbcdcc;
border-radius:15px
}

div#filter i{
margin:12px 0 0 0;
font-size:23px;
}
div.search{
height:30px;
line-height:0;
}

div.search button{
margin-top:10px;
height:26px;
background-color:orange;
border:0 solid white;
color:white;
padding:10px 15px;
border-radius:15px;
font-weight:bold;
letter-spacing:1.5px;
}



/*Content*/



div.blog_title{
    width:98.5vw;
    height:80vh;
    background-image: url("../../static/img/city.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
div.blog_title div.title{
    color: white;
    position: relative;
    top:380px;
    border:1px solid white;
    background-color: rgba(0, 0, 0, 0.8);
    width:40vw;
    padding: 5px 0;
    margin: 0 auto;
    text-align: center;
}
div.blog_title div.title p{
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Roboto Mono', monospace;
    letter-spacing: 2px;
}
div.posts{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 50px 0;
}
div.posts div.post{
    width:45vw;
    margin: 10px auto;
    height:600px;
}

div.posts div.post div.image{
    width:100%;
    height: 300px;
}
div.posts div.post div.image img{
    width:100%;
    height:100%;
}
div.posts div.post div.title{
    position: relative;
    top:-180px;
    border:3px solid white;
    width: 400px;
    left:15%;
    background-color: rgba(0, 0, 0, 0.87);
    text-align: center;

}
div.posts div.post div.title p{
    color: white;
    font-size: 29px;
    font-weight: bold;
    font-family: 'Roboto Mono', monospace;
    margin: 10px;
    text-transform: uppercase;
}
div.posts div.post div.body{
    margin:0;
}
/* sekcja moderowania stron*/

div#top_manage{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid green;
}


div.management{
    display: flex;
    flex-direction: row;
}
div.management div.management_menu{
    padding: 20px 10px;
    width:20vw;
    height:70vh;
    background-color: rgba(185, 255, 200, 0.75);
    border-right: 1px solid green;
    border-bottom: 1px solid green;
}

div.management div.management_menu span{
    font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
    font-weight: bold;
    font-size: 19px;
}
div.management div.management_menu p.management_menu_section{
    font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
    font-weight: bold;
}
div.management div.management_menu button{
    background-color: green;
    width:200px;
    height:25px;
    box-shadow: 1px 1px 0 white;
    border: 1px solid white;
}
div.management div.management_menu button a{
    color: white;
    text-transform: uppercase;
    text-decoration: none;
}

/*block content moderowania stron */
div.posts_manage{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 50px 0;
    width:80vw;
}
div.posts_manage div.post_manage{
    width:45vw;
    margin: 10px auto;
    height:600px;
}

div.posts_manage div.post_manage div.image{
    width:100%;
    height: 300px;
}
div.posts_manage div.post_manage div.image img{
    width:100%;
    height:100%;
}
div.posts_manage div.post_manage div.title{
    position: relative;
    top:-180px;
    border:3px solid white;
    width: 400px;
    left:15%;
    background-color: rgba(0, 0, 0, 0.87);
    text-align: center;

}
div.posts_manage div.post_manage div.title p{
    color: white;
    font-size: 29px;
    font-weight: bold;
    font-family: 'Roboto Mono', monospace;
    margin: 10px;
    text-transform: uppercase;
}
/*Dodawanie postów na stronie*/
div.create_post{
    width:80vw;
}
div.create_post h2{
    padding-left: 50px;
}

div.form_post{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 50px 0;
    margin-left: 100px;
}
/*Wyjście z panelu moderatora*/

div.management div.management_menu button.exit_manage{
    margin-top:50px;
    background-color: red;
}



/* Zakładka sklep */

div.promotion{
    height: 40vh;
    background-image: url("../img/grece.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

div.promotion div.text_promotion{
    width:600px;
    position: relative;
    top:110px;
    left:25%;
    background-color: rgba(255, 255, 255, 0.42);
    padding: 8px;
}
div.promotion div.text_promotion p{
    margin:0;
    font-size: 25px;
    font-family: "Bitstream Vera Sans Mono", Monaco, "Courier New", Courier, monospace;
    text-align: center;
}
div.about_us{
    margin-top:50px;
    height: 25vh;
    text-align: center;
    font-family: "Roboto", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
    color: #4f4f4f;
}
div.about_us p{
    font-weight: normal;
    font-family: Arial;
    padding:20px 50px;
    letter-spacing: 2px;
    color: #6c6c6c;
}
div.categories_list{
       text-align: center;
        font-family: "Roboto", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
      color: #4f4f4f;
}

div.categories_list div.category{

}