div.blog_title {
    width: 99.1vw;
    height: 80vh;
    background-image: url("../img/city.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

div.content_center{
    display: flex;
    /*background-color: #fbfbfb;*/
}
div.text h3{
    font-family: Verdana, sans-serif;
}
div.text p{
    font-family: Arial, sans-serif;
    letter-spacing: 1.3px;
}
div.right_table{
    width:20vw;
    padding:50px;
}

div.right_table div.reklama{
    width:310px;
    height:260px;
      margin: 0 auto;
    background-color: white;
    background-image: url("../img/baner.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0 0 0 1px #bdbdbd;
}
div.posts{
    display: flex;
    width:60vw;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 50px 0 50px 200px;
    justify-content: space-between;
}
div.posts div.post{
    width:300px;
    margin: 10px 25px;
    height:600px;
}

div.posts div.post div.image{
    width:90%;
    margin: 0 auto;
    height: 200px;
}
div.posts div.post div.image img{
    width:100%;
    height:100%;
    border: 1px solid #e2e2e2;
    box-shadow: 0 0 2px #bcbcbc;
}
div.posts div.post div.title{
    text-align: center;
    padding: 0 10px;
    height:50px;
}
div.posts div.post div.title p {
    color: #151515;
    font-size: 22px;
    font-weight: bold;
    font-family: 'Roboto Mono', monospace;
    margin: 10px 0;
    text-transform: uppercase;
}

div.posts div.post div.body {
    margin: 0;
    font-family: Arial, sans-serif;
    padding: 0 10px 0 15px;
    letter-spacing: 1.6px;
    height: 50px;
}

div.posts div.post div.info {
    font-family: Arial, sans-serif;
    padding: 0 20px 0 15px;
    letter-spacing: 1.6px;
    font-size: 13px;
    text-align: right;
}
@media only screen and (max-width: 1680px) {

    div.posts {
        width: 70vw;
        margin: 50px 0 50px 50px;
    }

    div.posts div.post {
        height: 380px;
    }

}

@media only screen and (max-width: 1537px) {
    div.posts div.post {
        width: 310px;
        margin: 10px;
    }
    div.right_table{
        padding:50px 10px;
    }
}

@media only screen and (max-width: 1500px) {
    div.posts div.post {
        margin: 10px;
    }
}
@media only screen and (max-width: 1415px) {
    div.posts div.post {
        width: 300px;
        margin: 10px;
    }
}

@media only screen and (max-width: 1388px) {
    div.posts {
        width: calc(99.5vw - 330px);
    }

    div.right_table {
        width: 310px;
        padding: 50px 10px;
    }
}

@media only screen and (max-width: 1340px) {
    div.posts div.post {
        width: 250px;
    }

    div.posts div.post div.image {
        width: 95%;
        margin: 0 auto;
        height: 170px;
    }
}

@media only screen and (max-width: 1190px) {
    div.posts div.post {
        width: 360px;
        height: 420px;
    }

    div.posts div.post div.image {
        width: 95%;
        margin: 0 auto;
        height: 250px;
    }
}

@media only screen and (max-width: 1140px) {
    div.posts div.post {
        width: 320px;
    }

    div.posts div.post div.image {
        height: 230px;
    }
}

@media only screen and (max-width: 1060px) {
    div.posts div.post {
        width: 280px;
    }

    div.posts div.post div.image {
        height: 200px;
    }
}

@media only screen and (max-width: 980px) {
    div.content_center {
        flex-direction: column-reverse;
    }

    div.right_table {
        padding: 0;
        margin: 20px auto 10px;
    }

    div.posts {
        width: 95vw;
        margin: 10px auto;
    }

    div.text {
        padding-bottom: 10px;
    }

    div.text p {
        margin-bottom: 0;
    }
}

@media only screen and (max-width: 949px) {
    div.posts{
        justify-content: center;
    }
    div.posts div.post {
        width: 350px;
    }

    div.posts div.post div.image {
        height: 250px;
    }
}
@media only screen and (max-width: 785px) {
    div.posts div.post {
        width: 300px;
    }

    div.posts div.post div.image {
        height: 210px;
    }
}
@media only screen and (max-width: 685px){
      div.posts div.post {
        width: 250px;
    }

    div.posts div.post div.image {
        height: 160px;
    }
}
@media only screen and (max-width: 570px){
 div.posts div.post {
        width: 90vw;
        height: 440px;
    }

    div.posts div.post div.image {
        height: 270px;
    }
}
@media only screen and (max-width: 400px){
      div.posts div.post div.image {
        height: 230px;
    }
}
@media only screen and (max-width: 340px){
     div.posts div.post {
        height: 400px;
    }
    div.posts div.post div.image {
        height: 200px;
    }
}