div#title_post{
    height: 300px;
    background-position: center;
    background-size: cover;
}
div#title_post div#title h3{
    margin:0;
    padding-top: 35px;
    text-align: center;
    font-family: 'Archivo Black', sans-serif;
    font-size: 40px;
    font-weight: 900;
    letter-spacing: 3px;
    color: white;
    -webkit-text-stroke: 0.6px black;
    text-shadow: 0 0 3px black;
}

div.content_post {
    min-height: 70vh;
    background-image: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url("../img/texture.jpg");
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 20px;
}

div.content_post div.left {
    width: 65vw;
    padding-top: 30px;
    margin-left: 50px;
}

div.content_post div.right {
    width: 25vw;
    padding-top: 30px;
}

div.content_post div.left h4, div.content_post div.right h4 {
    font-family: 'Chau Philomene One', sans-serif;
    font-weight: normal;
    letter-spacing: 1.4px;
    font-size: 19px;
    margin-top: 0;
    margin-bottom: 10px;
}
div.content_post div.right h4 {
    font-size: 17px;
}
div.content_post div.right div.ads{
    width: 25vw;
    height: auto;
    display: flex;
}
div.content_post div.right div.ads div.ad{
    width:23vw;
    margin: 10px auto;
}
div.ads div.ad div.image-ad{
    width:100%;
    height:90px;
    border:1px solid #d2d2d2;
    border-radius: 10px;
}
div.ads div.ad div.image-ad img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
div.body_post{
    border: 1px solid #d7d7d7;
    border-radius: 10px;
    padding:0 20px 30px;
    background-color: rgba(255,255,255, 0.7);
}
div.body_post p{
    font-family: Arial, sans-serif;
    letter-spacing: 1.2px;
    font-size: 15px;
    line-height: 22px;
}
div.image_post{
    width:100%;
    min-height:250px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 40px auto 0;
}
div.image_p{
    width: 490px;
    max-width:50%;
    height:300px;
    text-align: center;
}
div.image_post div.image_p img{
    width: auto;
    max-width: 100%;
    height: 100%;
    border-radius: 15px;
    border: 1px solid #cdcdcd;
    box-shadow: 0 0 3px #cbcbcb;
}
@media only screen and (max-width: 1500px){
div.content_post div.right{
    width: 30vw;
}
    div.content_post div.right div.ads, div.content_post div.right div.ads div.ad{
        width:100%;
    }
}
@media only screen and (max-width: 1290px){
    div.content_post{
        flex-direction:column-reverse;
    }
    div.content_post div.right, div.content_post div.left{
        width: 80vw;
        margin: 0 auto;
    }
    div.ads div.ad div.image-ad{
        height: 110px;
    }
}
@media only screen and (max-width: 830px){
div.image_post{
    flex-direction: column;
}
    div.image_p{
        max-width: 100%;
        margin-top:20px;
    }
    div#title_post div#title h3{
        font-size: 35px;
    }
}@media only screen and (max-width: 560px){
    div.image_p{
        height: 250px;
    }
}
@media only screen and (max-width: 505px){
    div.ads div.ad div.image-ad{
        height: 80px;
    }
     div#title_post div#title h3{
        font-size: 30px;
    }
}
@media only screen and (max-width: 442px) {
        div.image_p{
        height: 220px;
    }
}@media only screen and (max-width: 370px) {
        div.image_p{
        height: 200px;
    }
}
