div.order-general {
    width: 100vw;
    min-height: 82.5vh;
    margin: 9px auto;
    background-color: #f3f3f3;
}

div.order-general h1 {
    background-color: #3d9400;
    color: whitesmoke;
    font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
    text-align: center;
    margin: 5px 0;
    padding: 7px;
    font-size: 18px;
    letter-spacing: 1.8px;
}

div.order-general div.order div.order-info {
    margin: 20px auto;
    background-color: #fff;
    border: 1px solid black;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.4);
    width: 500px;
}

div.order-general div.order div.order-info h3 {
    margin: 0;
    text-align: center;
    background-color: #53b4ff;
    color: #ffffff;
    padding: 8px 0;
    font-family: Arial, sans-serif;
    font-size: 19px;
    letter-spacing: 1.8px;
}

p.total_price {
    margin-left: 30px;
    font-weight: bold;
    font-family: Verdana, Arial, sans-serif;
}

form.order-form {
    margin: 20px auto;
    padding: 0;
    background-color: #fff;
    border: 1px solid black;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.4);
    width: 600px;
}

form.order-form h3 {
    margin: 0;
    text-align: center;
    background-color: #53b4ff;
    color: #ffffff;
    letter-spacing: 1.8px;
    padding: 8px 0;
    font-family: Arial, sans-serif;
    font-size: 19px;
}

form.order-form p {
    margin-left: 30px;
    display: flex;
}

form.order-form p label {
    font-weight: bold;
    font-family: Arial, sans-serif;
    display: block;
    min-width: 150px;
}

form.order-form p input {
    width: 300px;
    padding: 3px 0;
}

p#enter_order {
    width: 540px;
    display: block;
    text-align: right;
}

input#enter_order {
    background-color: #00a000;
    font-family: "Roboto", Arial, sans-serif;
    padding: 10px 12px;
    border: 0.5px solid #262626;
    box-shadow: 1px 1px 2px 1px rgba(112, 112, 112, 0.7);
    color: #ffffff;
    letter-spacing: 1.8px;
    font-weight: bold;
    width: 170px;
}