/* Sekcja Trasy*/

div.wrap-trails{
    display: flex;
    flex-direction: column;
}
div.wrap-trails div.title-trails{
     background-color: #fff;
    border: 0.5px solid #868686;
    box-shadow: 0 0 1px #d2d2d2;
    padding: 5px 20px 10px;
    margin: 5px 5px 30px;
    border-radius: 20px;
    letter-spacing: 1.3px;
    font-family: Arial, sans-serif;
}
div#hamburger{
    display: none;
    font-size: 30px;
    font-weight: bold;
    transform: translateX(-10px);
    cursor:pointer;
}
div#x_hamburger{
    display: none;
    position: absolute;
    width: 30px;
  z-index:2;
   top:2px;
    left:270px;
}
div#x_hamburger i{
    font-size: 30px;
}
div.wrap-trails div.trail-center{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
div.all_trails{
    overflow: hidden;
    width:67vw;
    font-family: Arial, sans-serif;
    padding-right: 20px;

}
div.all_trails h3{
    color: #434343;
    letter-spacing: 1.2px;
    padding-left: 10px;
}

div.wrap-trails div.title-trails h3{
    text-align: center;
}

div.all_trails div.all_trail-trails{
    display: flex;
    flex-direction: row;
    overflow:hidden;
    transition: .6s;
    margin:7px 0 7px 7px;
}

div.all_trails div.all_trail-trails div.all_trails-trail{
    min-width:350px;
    max-width:350px;
    height:450px;
    margin: 5px 0 5px 5px;
    text-align: center;
    background-color: #fff;
    border: 0.5px solid #868686;
    box-shadow: 0 0 1px #d2d2d2;
}
div.all_trails div.all_trail-trails div.all_trails-trail p#name-trail{
    font-weight: bold;
    font-size: 17px;
    letter-spacing: 1.3px;
    margin-bottom: 25px;
}
div.all_trails div.all_trail-trails div.all_trails-trail p span{
    font-weight: bold;
}
div.all_trails div.all_trail-trails div.all_trails-trail p.description{
    height: 80px;
     width:90%;
}
div.all_trails div.all_trail-trails div.all_trails-trail div.image_trail{
    width:100%;
    height:60%;
    margin: 0 auto;
}

div.all_trails div.all_trail-trails div.all_trails-trail div.image_trail img{
    width:100%;
    height:100%;
}

div.all_trails div.all_trail-trails div.all_trails-trail div.all_trails-trail_more{
    margin-top: 15px;
    margin-right:0;
}
div.all_trails div.all_trail-trails div.all_trails-trail div.all_trails-trail_more div{
        margin-right: 150px;
    padding-left: 20px;
}
div.all_trails div.all_trail-trails div.all_trails-trail div.all_trails-trail_more div p{
    font-size: 14px;
    margin: 5px;
}

div.all_trails div.all_trail-trails div.all_trails-trail div.all_trails-trail_more button{
    background-color: #e06100;
    border: 1px solid #c0c0c0;
    box-shadow: 1px 1px 0 black;
    width:90px;
    height:40px;
    border-radius: 15px;
}

div.all_trails div.all_trail-trails div.all_trails-trail div.all_trails-trail_more button a {
    color: whitesmoke;
    font-weight: bold;
    font-size: 17px;
    letter-spacing: 1.6px;
    text-decoration: none;
}

div.all_trails button#left, div.all_trails button#right{
    top:-250px;
}
div.all_trails button#right{
    left: 62.5vw;
}

/*Sekcja filtrów tras*/

div.wrap-trails div.trail-center div.filter_trails {
     width: 15vw;
    min-height: 70vh;
}

div.wrap-trails div.trail-center div.filter_trails h3{
    color: #646464;
    letter-spacing: 1.7px;
    font-size: 20px;
    padding-left: 5px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

div.wrap-trails div.trail-center div.filter_trails div.filter{
    background-color: #fff;
    font-family: "Roboto", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
    border: 0.5px solid #868686;
    box-shadow: 0 0 1px #d2d2d2;
    min-height: 60vh;
    font-size: 14px;
}
div.wrap-trails div.trail-center div.filter_trails div.filter form div{
    display: flex;
    flex-direction: column;
    border-bottom: 0.5px solid #a5a5a5;
    padding: 10px 10px;
}
div.wrap-trails div.trail-center div.filter_trails div.filter form div.city{
    height: 195px;
    overflow: hidden;
}
div.wrap-trails div.trail-center div.filter_trails div.filter form div.city p.city{
    background-color: white;
    width: 100%;
    position: relative;
    display: block;
    height:25px;
    top: -80px;
    margin: 10px 0 10px 0;
    padding:5px 0 10px 0;
}
div.wrap-trails div.trail-center div.filter_trails div.filter form div.city.active{
    height:255px;
}
div.wrap-trails div.trail-center div.filter_trails div.filter form div.city.active p.city{
    top: 0;
     margin:0;
    padding:0;
}
div.wrap-trails div.trail-center div.filter_trails div.filter form div label{
    padding: 5px 0 10px 16px;
}

div.wrap-trails div.trail-center div.filter_trails div.filter form div label input[type='checkbox']{
    margin-right: 10px;
}

div.wrap-trails div.trail-center div.filter_trails div.filter form div label:nth-of-type(1){
    padding: 5px 0 10px 10px;
    font-weight: bold;
}
div.wrap-trails div.trail-center div.filter_trails div.filter form div.name input{
    width: 190px;
    height: 22px;
    margin-left: 25px;
    padding-left: 25px;
}
div.wrap-trails div.trail-center div.filter_trails div.filter form div p{
    color: #3587ea;
    text-align: center;
    cursor: pointer;
    letter-spacing: 0.8px;
    position: relative;
}
div.wrap-trails div.trail-center div.filter_trails div.filter form div.accept_filter{
    padding: 0;
    width:100%;
    height:50px;
}
div.wrap-trails div.trail-center div.filter_trails div.filter form div.accept_filter button{
    width:287px;
    height:50px;
    letter-spacing: 1.4px;
    background-color: #f8ff00;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
      position: fixed;
    top: 917px;
    left:136px;
}

div.wrap-trails div.trail-center div.filter_trails div.filter form div.top_rate label.star {
    color: gold;
}

/*Sekcja Najwyżej ocenianych tras*/

div.top_rate-center, div.popular-center{
     overflow: hidden;
    width:67vw;
    font-family: Arial, sans-serif;
    padding-right: 20px;
}
div.top_rate-center h3, div.popular-center h3{
    color: #434343;
    letter-spacing: 1.2px;
    padding-left: 10px;
}
div.top_rate-trails, div.popular-trails{
       display: flex;
    flex-direction: row;
    overflow:hidden;
    transition: .6s;
    margin:7px 0 7px 7px;
}
div.top_rate-trails div.top_rate-trail, div.popular-trails div.popular-trail{
    min-width:350px;
    max-width:350px;
    height:450px;
    margin: 5px;
    text-align: center;
    border: 0.5px solid #868686;
    box-shadow: 0 0 1px #d2d2d2;
}

div.top_rate-trail p#top_rate-name_trail, div.popular-trail p#popular-name_trail{
    font-weight: bold;
    font-size: 17px;
    letter-spacing: 1.3px;
    margin-bottom: 25px;
}
div.top_rate-trail p span, div.popular-trail p span{
    font-weight: bold;
}
div.top_rate-trail p.description, div.popular-trail p.description{
    height: 80px;
     width:90%;
}
div.top_rate-trail div.image_trail, div.popular-trail div.image_trail{
    width:100%;
    height:60%;
    margin: 0 auto;
}
div.top_rate-trail div.image_trail img, div.popular-trail div.image_trail img{
    width:100%;
    height:100%;
}
div.top_rate-trail div.top_rate-trail_more, div.popular-trail div.popular-trail_more{
    margin-top: 15px;
    margin-right:0;
}
div.top_rate-trail div.top_rate-trail_more div, div.popular-trail div.popular-trail_more div{
    margin-right: 150px;
   padding-left: 20px;
}
div.top_rate-trail div.top_rate-trail_more p, div.popular-trail div.popular-trail_more p{
    font-size: 14px;
    margin: 5px;
}
div.top_rate-trail_more button, div.popular-trail_more button{
    background-color: #e06100;
    border: 0.5px solid #868686;
    box-shadow: 0 0 1px #d2d2d2;;
    width:90px;
    height:40px;
    border-radius: 15px;
}
div.top_rate-trail_more button a, div.popular-trail_more button a  {
    color: whitesmoke;
    font-weight: bold;
    font-size: 17px;
    letter-spacing: 1.6px;
    text-decoration: none;
}

div.top_rate-center button#left-rate, div.top_rate-center button#right-rate{
    position: relative;
    color: white;
    background-color: red;
    width: 40px;
    height: 40px;
    border: 1px solid black;
    border-radius: 25px;
    font-size: 25px;
    font-weight: bold;
       top:-250px;

}
div.top_rate-center button#right-rate, div.popular-center button#right-popular{
    left: 62.5vw;
}

div.popular-center button#left-popular, div.popular-center button#right-popular{
    position: relative;
    color: white;
    background-color: #0700ff;
    width: 40px;
    height: 40px;
    border: 1px solid black;
    border-radius: 25px;
    font-size: 25px;
    font-weight: bold;
       top:-250px;
}
@media only screen and (max-width: 1680px) {

    div.wrap-trails div.trail-center div.filter_trails div.filter form div.name input{
        width: 170px;
        margin-left: 10px;
        padding-left: 15px;
}

    div.wrap-trails div.trail-center div.filter_trails div.filter form div.accept_filter button {
        width: 230px;
    }

}

@media only screen and (max-width: 1110px) {
    div#hamburger {
        display: block;
    }

    div.wrap-trails div.trail-center div.filter_trails.rwd,
    div.wrap-your_trails div.your_trail-center div.filter_trails.rwd {
        background-color: #fff;
        display: block;
        position: absolute;
        top: 300px;
        left: 10px;
        z-index: 1;
        width: 300px;
        min-height: 100vh;
        transition: 0.4s;
        border: 1px solid #b7b7b7;
    }

    div.wrap-trails div.trail-center div.filter_trails.rwd div#x_hamburger,
    div.wrap-your_trails div.your_trail-center div.filter_trails.rwd div#x_hamburger {
        display: block;
    }

    div.wrap-trails div.trail-center div.filter_trails.rwd div.filter,
    div.wrap-your_trails div.your_trail-center div.filter_trails.rwd div.filter {
        border: none;
    }

    div.wrap-trails div.trail-center div.filter_trails.rwd h3 {
        margin-left: 20px;
    }

    div.wrap-trails div.trail-center div.filter_trails.rwd div.filter div.name input {
        width: 220px;
    }

    div.wrap-trails div.trail-center div.filter_trails.rwd button#button-filter,
    div.wrap-your_trails div.your_trail-center div.filter_trails.rwd button#button-filter_your-trail {
        width: 300px;
    }

    div.wrap-trails div.trail-center div.filter_trails,
    div.wrap-your_trails div.your_trail-center div.filter_trails {
        display: none;
    }

    div.right {
        width: 100vw;
    }

    div.all_trails {
        width: 90vw;
    }

    div.all_trails button#right {
        transform: translateX(235px);
    }
    div.top_rate-center{
        width:90vw;
    }
    div.top_rate-center button#right-rate{
        transform: translateX(235px);
    }
    div.popular-center{
        width:90vw;
    }
    div.popular-center button#right-popular{
        transform: translateX(235px);
    }

}
@media only screen and (max-width: 1060px) {

     div.all_trails button#right{
        transform: translateX(215px);
    }
     div.top_rate-center button#right-rate{
        transform: translateX(215px);
    }
     div.popular-center button#right-popular{
        transform: translateX(215px);
    }
}
@media only screen and (max-width: 1000px) {

     div.all_trails button#right{
        transform: translateX(200px);
    }
     div.top_rate-center button#right-rate{
        transform: translateX(200px);
    }
     div.popular-center button#right-popular{
        transform: translateX(200px);
    }
}
@media only screen and (max-width: 950px) {

     div.all_trails button#right{
        transform: translateX(180px);
    }
     div.top_rate-center button#right-rate{
        transform: translateX(180px);
    }
     div.popular-center button#right-popular{
        transform: translateX(180px);
    }
}
@media only screen and (max-width: 870px) {

     div.all_trails button#right{
        transform: translateX(140px);
    }
     div.top_rate-center button#right-rate{
        transform: translateX(140px);
    }
     div.popular-center button#right-popular{
        transform: translateX(140px);
    }
}
@media only screen and (max-width: 725px) {

     div.all_trails button#right{
        transform: translateX(100px);
    }
     div.top_rate-center button#right-rate{
        transform: translateX(100px);
    }
     div.popular-center button#right-popular{
        transform: translateX(100px);
    }
}
@media only screen and (max-width: 585px) {

     div.all_trails button#right{
        transform: translateX(70px);
    }
     div.top_rate-center button#right-rate{
        transform: translateX(70px);
    }
     div.popular-center button#right-popular{
        transform: translateX(70px);
    }
}
@media only screen and (max-width: 465px) {

     div.all_trails button#right{
        transform: translateX(35px);
    }
     div.top_rate-center button#right-rate{
        transform: translateX(35px);
    }
     div.popular-center button#right-popular{
        transform: translateX(35px);
    }
}