/* Sekcja Ciekawe miejsca */

div.search_points{
    text-align: center;
    margin: 20px auto;
    width:55%;
    padding: 20px 0 15px;
    background-color: #fff;
    border: 0.5px solid #868686;
    box-shadow: 0 0 1px #d2d2d2;
    border-radius: 15px;
}
div.search_points form label{
    font-family: Arial, sans-serif;
    font-weight: bold;
    color: #2b2b2b;
    z-index: -9;
}
div.search_points form  input{
    margin-right: 20px;
    height: 22px;
       transform: translateY(-3px);
}
div.search_points form select{
    margin-right: 20px;
    height: 30px;
    width: 120px;
    transform: translateY(-3px);
}

div.search_points form button{
    background-color: #6fdd00;
    transform: translateY(-3px);
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1.6px;
    padding: 8px 15px;
    border-radius: 10px;
    border: 0.5px solid #868686;
    box-shadow: 0 0 1px #d2d2d2;
}


div.point_list_interest_point{
    display: flex;
    flex-wrap: wrap;
}
div.buttons-interesting{
    display: flex;
    justify-content: flex-end;
}
div.buttons-interesting a{
    margin-right: 10px;
}
div.buttons-interesting a input{
   background-color: #e06100;
    border: 1px solid black;
    color: whitesmoke;
    width: 85px;
    height: 35px;
    border-radius: 10px;
    font-weight: bold;
    margin-left: 10px;
    font-size: 14px;
    cursor: pointer;
}

@media only screen and (max-width: 1680px) {

    div.search_points {
        width: 65%;
    }

    div.point_list_interest_point {
        justify-content: space-between;
        width: 89vw;
        margin: 0 auto;
        transform: translateX(-50px);
    }

}

@media only screen and (max-width: 1260px) {
    div.search_points {
        width: 85%;
    }
}

@media only screen and (max-width: 1140px) {
    div.search_points {
        width: 100%;
    }
}

@media only screen and (max-width: 1140px) {
    div.search_points {
        width: 100%;
    }
}

@media only screen and (max-width: 970px) {
    div.search_points form input {
        width: 100px;
        height: 19px;
    }

    div.search_points form select {
        height: 27px;
        width: 100px;
    }

    div.search_points form button {
        font-size: 13px;
        padding: 5px 10px;
    }
}

@media only screen and (max-width: 835px) {
    div.search_points form label {
        font-size: 13px;
    }
}

@media only screen and (max-width: 755px) {
    div.search_points form button {
        margin-top: 15px;
        font-size: 15px;
        padding: 9px 20px;
    }
}

@media only screen and (max-width: 675px) {
    div.search_points {
        width: 70%;
    }

    div.search_points form button {
        font-size: 13px;
        padding: 5px 10px;
    }
}

@media only screen and (max-width: 655px) {
    div.search_points {
        width: 80%;
    }
}

@media only screen and (max-width: 576px) {
    div.search_points {
        width: 90%;
    }
}

@media only screen and (max-width: 512px) {
    div.search_points {
        padding-bottom: 5px;
    }

    div.search_points form label {
        display: block;
        height: 40px;
        font-size: 16px;
        text-align: left;
        margin-left: 30px;
    }

    div.search_points form label input {
        margin-left: 35px;
        width: 190px
    }

    div.search_points form label.location select {
        width: 200px
    }

    div.search_points form label.type select {
        width: 200px;
        margin-left: 30px;
    }

    div.search_points form button {
        margin-top: 10px;
        font-size: 14px;
        padding: 7px 20px;
    }
}

@media only screen and (max-width: 470px) {

    div.search_points form label {
        margin-left: 10px;
    }
     div.search_points form label input {
        margin-left: 35px;
        width: 150px
    }

    div.search_points form label.location select {
        width: 160px
    }

    div.search_points form label.type select {
        width: 160px;
        margin-left: 30px;
    }
}
@media only screen and (max-width: 395px) {

    div.search_points form label {
        margin-left: 25px;
    }
     div.search_points form label input {
        width: 100px
    }

    div.search_points form label.location select {
        width: 110px
    }

    div.search_points form label.type select {
        width: 110px;
    }
}
<<<<<<< HEAD
@media only screen and (max-width: 1560px) {

div.search_points {
    width: auto;
}
}

}
=======
@media only screen and (max-width: 341px) {

    div.search_points form label {
        margin-left: 5px;
    }
}
>>>>>>> 82347d22e5a60a0185e83714d9429f4986adaeaa
