button#button-filter_search {
    width: 99%;
    height: 100%;
    letter-spacing: 1.4px;
    background-color: #f8ff00;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

div.right-search {
    width: 69vw;
    margin-left: 50px;
}

div.right-search div#info-error h3, div.right-search div#title-search h3 {
    text-align: center;
    font-family: 'Bangers', cursive;
    font-size: 30px;
    font-weight: normal;
    letter-spacing: 2px;
    transform: translateX(-150px);
}

div.right-search div#title-search h3 {
    font-size: 25px;
}

div.right-search div#search-trail-wrap {
    width: 100%;
}

div.right-search div#search-trail-wrap ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
}

div.right-search div#search-trail-wrap ul li {
    margin-right: 10px;
    margin-bottom: 30px;
}

div.right-search div#search-trail-wrap ul li div#search-trail {
    width: 300px;
    height: 370px;
    margin: 5px 0 5px 5px;
    text-align: center;
    background-color: #fff;
    border: 0.5px solid #868686;
    box-shadow: 0 0 1px #d2d2d2;
}

ul li div#search-trail p#search-trail_name {
    font-weight: bold;
    font-size: 17px;
    letter-spacing: 1.3px;
    margin-bottom: 15px;
    font-family: Arial, sans-serif;
}

ul li div#search-trail p:nth-of-type(2), ul li div#search-trail p:nth-of-type(3) {
    margin-top: 10px;
    margin-bottom: 10px;
}

ul li div#search-trail p:nth-of-type(2) span, ul li div#search-trail p:nth-of-type(3) span {
    font-weight: bold;
}

ul li div#search-trail div#search_image {
    width: 300px;
    height: 200px;
}

ul li div#search-trail div#search_image img {
    width: 100%;
    height: 100%;
}

div#search-trail_more {
    display: flex;
    justify-content: space-between;
    padding: 0 10px 0 20px;
}

div#search-trail_more div p {
    margin: 18px 0 2px;
}

div#search-trail_more div p span {
    font-weight: bold;
}

ul li div#search-trail div#search-trail_more div p:nth-of-type(2) {
    margin-top: 1px;
}

div#search-trail_more button {
    background-color: #e06100;
    border: 1px solid #c0c0c0;
    box-shadow: 1px 1px 0 black;
    width: 90px;
    height: 40px;
    border-radius: 15px;
    margin-top: 15px;
}

div#search-trail_more button a {
    display: inline-block;
    color: whitesmoke;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 1.6px;
    text-decoration: none;
    margin-top: 2px;
}