{% extends 'base_trail.html' %}

{% block content %}
    <div class="wrap-your_trails">
        <div class="title-your_trail">
            <h3>Twoje trasy</h3>
            <p class="title">Wynik wyszukania wśród Twoich tras zwiedzania.</p>
        </div>
        <div class="your_trail-center">
             <div class="filter_trails">
                <h3> Filtrowanie tras: </h3>
                <div class="filter">
                        <form action="" method="post">
                            <div class="name">
                                <label>Nazwa:</label>
                                <input type="text" placeholder="Wyszukaj trasę po nazwie">
                            </div>
                            <div class="country">
                                <label>Kraj:</label>
                                <label><input type="checkbox">Polska</label>
                                <label><input type="checkbox">Niemcy</label>
                                <label><input type="checkbox">Czechy</label>
                                <p>Pokaż więcej</p>
                            </div>
                            <div class="region">
                                <label>Region:</label>
                                 <label><input type="checkbox">Mazury</label>
                                 <label><input type="checkbox">Śląsk</label>
                                 <label><input type="checkbox">Morze</label>
                                <p>Pokaż więcej</p>
                            </div>
                            <div class="city">
                                <label>Miasto:</label>
                                    {% for i in city %}
                                            <label><input type="checkbox">{{i}}</label>
                                    {% endfor %}
                                <p class="city">Pokaż więcej</p>
                            </div>
                            <div class="accept_filter"><button id="button-filter_your-trail">ZASTOSUJ FILTRY</button></div>
                            {% csrf_token %}
                        </form>
                </div>
        </div>

        </div>
    </div>
<script>
    //    Obsługa przycisku Pokaż więcej
let more = document.querySelector('p.city');
let div_city = document.querySelector('div.city')

more.addEventListener('click', function () {
    div_city.classList.toggle("active");

})


// const button = document.getElementById('button-filter')
//
//     window.addEventListener(
//         'scroll',
//         () => {
//             if (window.scrollY >= 800) {
//             button.style.position = 'static'
//             console.log(window.scrollY)
//         }else {
//             button.style.position = 'fixed'
//             console.log(window.scrollY)
//         }
//     }
//     )
</script>
{% endblock %}