{% load static %}
<!DOCTYPE html>

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />

        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>

    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.5.1/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.5.1/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0; }
    div.leaflet-routing-container {
        background-color: rgba(255,255,255, 0.7);
    padding: 25px;} </style>


    <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <style>
        #map_1de6ef4f1218487da9d6da057bb8f454 {
                   z-index: 0;
                    margin-top:7px;
                    width: 100vw;
                    height: 600px;
                    left: 0.0%;
                    top: 0.0%;
                    box-shadow: 1px 1px 4px 1px rgba(0,0,0,0.4);
                }
    </style>


    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/style_map.css' %}">
    <link rel="stylesheet" href="{% static 'css/style_point.css' %}">
    <link rel="stylesheet" href="{% static 'css/style_all_trails.css' %}">
    <link rel="stylesheet" href="{% static 'css/style_your_trails.css' %}">
    <link rel="stylesheet" href="{% static 'css/style_trail_detail.css' %}">
</head>
<body>
<div id="top_mapa">
    <div class="logo_mapa"><img src="{% static "img/logo.png" %}" alt="logo"></div>
    <div class="menu_mapa">
        <ul>
            <li class="red top_menu"><a href="{% url  'mapFullScreen'%}" ></i>Mapa</a></li>
            <li class="green top_menu" onclick="menuDetailTrail()">Trasy <i class="fas fa-angle-down"></i>
                <div id="menu-detail-trail">
                    <ul>
                        <li><a href="{% url 'trails:points' %}">Ciekawe miejsca</a></li>
                        <li><a href="{% url 'trails:all_trails' %}">Trasy</a></li>
                        {% if user.is_authenticated %}
                            <li><a href="{% url 'yours_trails' %}">Twoje trasy</a></li>
                            <li><a href="{% url 'user_trails:user_trail_add' %}">Stwórz trasę</a></li>
                        {%else%}
                            <li><a href="{% url 'login' %}">Twoje trasy</a></li>
                            <li><a href="{% url 'login' %}">Stwórz trasę</a></li>
                        {% endif %}
                    </ul>
                </div>
            </li>
            <li class="blue"><a href="{% url 'blog:list_posts' %}"><i class="fas fa-book-open"></i>Blog</a></li>
            <li class="gold"><a href="{% url 'contact:contact_detail' %}"><i class="fas fa-at"></i>Kontakt</a></li>
        </ul>
    </div>
    <div class="login_mapa">
       {% if user.is_authenticated %}
        <button class="user_menu"><i class="fas fa-user"></i> <span>{{user.username}}</span><i class="fas fa-angle-down"></i></button>
        <div class="user_menu">
            <ul>
{#                <li><a href="{% url 'account:user_account' %}">Moje konto</a></li>#}
                <li><a href="#">Ustawienia</a></li>

                {% if perms.blog.view_post%}
                    <li><a href="{% url 'management:blog_manage_post_list' %}">Panel administracyjny</a></li>
                {% elif perms.shop.view_product %}
                    <li><a href="{% url 'management:shop_manage_product_list' %}">Panel administracyjny</a></li>
                {% endif %}

                <li><a href="{% url 'logout' %}">Wyloguj</a></li>
            </ul>
        </div>
        {% else %}
        <button><a href="{% url 'login' %}">Zaloguj się</a></button>
        <button class="register"><a href="{% url 'register' %}">Załóż konto</a></button>
        {% endif %}
    </div>
</div>
<p id="trail_id" hidden>{{user_trail.id}}</p>
<div class="panorama_mapa" >
<div class="x">
    <h3>{{user_trail.name}}</h3>
    </div>
</div>
<div class="center">
    <div class="folium-map" id="map_1de6ef4f1218487da9d6da057bb8f454" ></div>
    <div id="points_in_trail">
        <ul>
            {% for p in points %}
                <li>
                    <div class="point_in_trail" id="{{p.id}}">
                        <div class="title_point" ><h3>{{p.name}}</h3></div>
                        <div class="description_point" ><p>{{p.descriptions}}</p></div>
                        <div class="more" onclick="add_active_to_point({{p.id}})"><p style="cursor:pointer">Rozwiń</p></div>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="opinion">
                   <h3>Oceny i opinie</h3>
                    <p>
                      {{object.0.name}}
                   </p>
<!--                   Opinie -->
                   {% if opinion %}
                       <div class="opinions">
                           {% for element in opinion %}
                                <div class="opinion">
                                    <div class="top">
                                        <p id="user">{{element.user}}</p>
                                        <p id="rating">Ocena
                                            {% if element.rating is 5 %} <span>★★★★★</span>
                                            {% elif element.rating is 4 %}<span>★★★★</span>
                                            {% elif element.rating is 3 %}<span>★★★</span>
                                            {% elif element.rating is 2 %}<span>★★</span>
                                            {% elif element.rating is 1 %}<span>★</span>
                                            {%endif%}</p>
                                        </div>
                                    <p id="opinion">{{element.opinion}}</p>
                                </div>
                           {% endfor %}
                       </div>
                   {% else %}
    <!--                   Jeśli brak opinie to...-->
                       <p>Ten obiekt nie posiada jeszcze recenzji. Bądź pierwszy.</p>
                   {% endif %}
                   <h3>Napisz własną opinię:</h3>
                   {% if user.is_authenticated %}
                       <form action="" method="post">
                           <div class="top_form">
                               <input type="text" class="nick" name="nick" placeholder="Podaj swój nick", value="{{request.user}}" disabled style="width: 100px;text-align:center; margin-right: 170px">
                               <input type="text" class="nick" name="trail_id" placeholder="id punbktu" value="{{trail_id}}" hidden>
                               <p id="yours_stars">Twoja ocena</p>
                               <div class="stars">
                                    <input type="radio" id="star5" name="star" value="5">
                                    <label for="star5"> Five Stars </label>
                                    <input type="radio" id="star4" name="star" value="4">
                                    <label for="star4"> Four Stars </label>
                                    <input type="radio" id="star3" name="star" value="3">
                                    <label for="star3"> Three Stars </label>
                                    <input type="radio" id="star2" name="star" value="2">
                                    <label for="star2"> Two Stars </label>
                                    <input type="radio" id="star1" name="star" value="1">
                                    <label for="star1"> One Star </label>
                              </div>
                           </div>
                           <div class="bottom_form">
                               <textarea name="recension" id="" placeholder="Twoja recenzja"></textarea>
                               <button>Zapisz Opinię</button>
                           </div>
                           {% csrf_token %}
                       </form>
                   {%else%}
                        <p>Aby dodać opinię, proszę się zalogować.</p>
                   {% endif %}
               </div>
</div>
<script src="https://kit.fontawesome.com/e4892fcf67.js" crossorigin="anonymous"></script>
<!--Skrypty do mapy-->
<script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js"></script>
<script src="https://unpkg.com/leaflet-routing-machine@3.2.12/dist/leaflet-routing-machine.js"></script>
<script>
<!--    "Przycisk rozwijania menu"-->

<!--"Mapa"-->
let menu = document.querySelector("button.user_menu");
let icon = document.querySelector("i.fa-angle-down");
let user_menu = document.querySelector("div.user_menu");
let yours_trails = document.querySelector("li.yours_trails");
let tr = document.querySelector("div.tr")

if (menu) {
    menu.addEventListener('click', function () {
        user_menu.classList.toggle("active");
        icon.classList.toggle("active");
    });
}
var x =52.22977
var y =21.01178
//danie inicjujące lokalizje mapy

var map_1de6ef4f1218487da9d6da057bb8f454 = L.map(

                "map_1de6ef4f1218487da9d6da057bb8f454",
                {
                     center: [x, y],
                    crs: L.CRS.EPSG3857,
                    zoom: 16,
                   zoomControl: true,
                    preferCanvas: false,
                }
            );

L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}{r}.png', {
               attribution: '© OpenStreetMap contributors'
             }).addTo(map_1de6ef4f1218487da9d6da057bb8f454);

    // Obsługa menu Trasy
    if (yours_trails){
     tr.classList.toggle("active");
}
// Obsługa punktów na mapie

let id_trail = document.querySelector("p#trail_id");
let points = []
const waypoints = []

 function get_point_in_trail(){
                //Pobieranie danych z API odnośnie punktów w trasie
                marker =fetch(`/user_trails/api/${id_trail.textContent}`)
                        .then(response => response.json())
                        .then(data=> {
                            data.forEach(addElements);
                            function addElements(item, index) {
                                waypoints.push(L.latLng( parseFloat(item.coordinateX), parseFloat(item.coordinateY)))
                             }
                        })
         setTimeout(add_points_to_waypoints, 1000)
            }

get_point_in_trail()

 function add_points_to_waypoints(){
                                 //Dodanie punktów do trasy zwiedzania
                                 L.Routing.control({
                                       waypoints,
                                     fitSelectedRoutes: true,
                                    draggableWaypoints: false,
                                    routeWhileDragging: false,
                                    lineOptions : {
                                        addWaypoints: false
                                    }
                                     }).addTo(map_1de6ef4f1218487da9d6da057bb8f454);
                            }

//Obsługa klawiszy Rozwiń


function add_active_to_point (element) {
    let point_in_trail = document.getElementById(`${element}`)
        point_in_trail.classList.toggle("active");
    console.log(element)
    }
</script>
