{% extends 'base_trail.html' %}
{% load static %}
{% block title %}Twoje trasy{% endblock %}
{% block content %}
    <div class="wrap-trails">
        <div class="title-trails">
            <h3>Twoje trasy</h3>
        </div>
        {% if not search %}
        <div class="trail-center">
             <div class="filter_trails">
                 <div id="x_hamburger_your"><i class="fas fa-times"></i></div>
                <h3> Filtrowanie tras: </h3>
                <div class="filter">
                        <form action="" method="post">
                        <div class="name">
                            <label>Nazwa:</label>
                            <input type="text" name="name" placeholder="Wyszukaj trasę po nazwie">
                        </div>
                        <div class="country">
                            <label>Kraj:</label>
                                {% for c in country_trail %}
                                    <label><input type="checkbox" name="country" value="{{c}}">{{c}}</label>
                                {% endfor %}
                        </div>
                        <div class="region">
                            <label>Region:</label>
                                {% for r in region_trail %}
                                    <label><input type="checkbox" name="region" value="{{r}}">{{r}}</label>
                                {% endfor %}
                        </div>
                        <div class="city">
                            <label>Miasto:</label>
                                {% for i in city %}
                                        <label><input type="checkbox" name="city" value="{{i}}">{{i}}</label>
                                {% endfor %}
                        </div>
                         <div class="type">
                            <label>Typ trasy:</label>
                             {% for r in type_trail %}
                             <label><input type="checkbox" name="type" value="{{r}}">{{r}}</label>
                            {% endfor %}
                        </div>
                        <div class="top_rate">
                            <label>Ocena:</label>
                             <label class="star"><input type="checkbox" name="star" value="5">&#9733;&#9733;&#9733;&#9733;&#9733;</label>
                             <label class="star"><input type="checkbox" name="star" value="4">&#9733;&#9733;&#9733;&#9733;</label>
                             <label class="star"><input type="checkbox" name="star" value="3">&#9733;&#9733;&#9733;</label>
                             <label class="star"><input type="checkbox" name="star" value="2">&#9733;&#9733;</label>
                             <label class="star"><input type="checkbox" name="star" value="1">&#9733;</label>
                        </div>
                        <div class="popular">
                            <label>Popularne:</label>
                                <label><input type="checkbox"  name="popular" value="True">Tak</label>
                                <label><input type="checkbox"  name="popular" value="False">Nie</label>
                        </div>
                        <div class="accept_filter">
                            <button id="button-filter_search">ZASTOSUJ FILTRY</button>
                        </div>
                        {% csrf_token %}
                    </form>
                </div>
        </div>
            <div id="hamburger"><i class="fas fa-bars"></i></div>

                 <div class="search-trail-wrap">
                     <ul>
                         {% for i in user_trails %}
                         <li>
                                <div id="search-trail">
                                    <div id="search_image"><img src="{{i.image.url}}" alt=""></div>
                                    <p id="search-trail_name">{{i.name}}</p>
                                    <p><span>Kraj: </span>{{i.country}}</p>
                                    <p><span>Miasto: </span>{{i.city}}</p>
                                    <div id="search-trail_more" style="display: flex">
                                        <div>
                                            <p>Wykonało: <span> {{i.watched}} </span></p>
                                            <p>Ocena: <span> {{i.average_grade}}</span> </p>
                                        </div>
                                    <button><a href="{% url 'user_trails:user_trail_detail' i.id %}">Więcej</a></button>
                                    </div>
                                </div>
                            </li>
                         {% endfor %}
                     </ul>
                 </div>

        </div>
        {% else %}
         <div class="trail-center">
             <div class="filter_trails">
                 <div id="x_hamburger_your"><i class="fas fa-times"></i></div>
                <h3> Filtrowanie tras: </h3>
                <div class="filter">
                        <form action="" method="post">
                        <div class="name">
                            <label>Nazwa:</label>
                            <input type="text" name="name" placeholder="Wyszukaj trasę po nazwie">
                        </div>
                        <div class="country">
                            <label>Kraj:</label>
                                {% for c in country_trail %}
                                    <label><input type="checkbox" name="country" value="{{c}}">{{c}}</label>
                                {% endfor %}
                        </div>
                        <div class="region">
                            <label>Region:</label>
                                {% for r in region_trail %}
                                    <label><input type="checkbox" name="region" value="{{r}}">{{r}}</label>
                                {% endfor %}
                        </div>
                        <div class="city">
                            <label>Miasto:</label>
                                {% for i in city %}
                                        <label><input type="checkbox" name="city" value="{{i}}">{{i}}</label>
                                {% endfor %}
                        </div>
                         <div class="type">
                            <label>Typ trasy:</label>
                             {% for r in type_trail %}
                             <label><input type="checkbox" name="type" value="{{r}}">{{r}}</label>
                            {% endfor %}
                        </div>
                        <div class="top_rate">
                            <label>Ocena:</label>
                             <label class="star"><input type="checkbox" name="star" value="5">&#9733;&#9733;&#9733;&#9733;&#9733;</label>
                             <label class="star"><input type="checkbox" name="star" value="4">&#9733;&#9733;&#9733;&#9733;</label>
                             <label class="star"><input type="checkbox" name="star" value="3">&#9733;&#9733;&#9733;</label>
                             <label class="star"><input type="checkbox" name="star" value="2">&#9733;&#9733;</label>
                             <label class="star"><input type="checkbox" name="star" value="1">&#9733;</label>
                        </div>
                        <div class="popular">
                            <label>Popularne:</label>
                                <label><input type="checkbox"  name="popular" value="True">Tak</label>
                                <label><input type="checkbox"  name="popular" value="False">Nie</label>
                        </div>
                        <div class="accept_filter">
                            <button id="button-filter_search">ZASTOSUJ FILTRY</button>
                        </div>
                        {% csrf_token %}
                    </form>
                </div>
        </div>
            <div id="hamburger"><i class="fas fa-bars"></i></div>

            <div class="right-search">
             {% if search == 'Brak wyników wyszukiwania' %}
                <div id="info-error">
                    <h3>{{search}}</h3>
                </div>
             {% else %}
                <div id="title-search">
                    <h3>Wynik wyszukiwania:</h3>
                </div>
                <div id="search-trail-wrap">
                    <ul>
                        {% for s in search %}
                            <li>
                                <div id="search-trail">
                                    <div id="search_image"><img src="{{s.image.url}}" alt=""></div>
                                    <p id="search-trail_name">{{s.name}}</p>
                                    <p><span>Kraj: </span>{{s.country}}</p>
                                    <p><span>Miasto: </span>{{s.city}}</p>
                                    <div id="search-trail_more" style="display: flex">
                                        <div>
                                            <p>Wykonało: <span> {{s.watched}} </span></p>
                                            <p>Ocena: <span> {{s.average_grade}}</span> </p>
                                        </div>
                                    <button><a href="{% url 'user_trails:user_trail_detail' s.id %}">Więcej</a></button>
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
             {% endif %}
         </div>

        </div>
         {% endif %}
    </div>
<script>
let hamburger = document.getElementById('hamburger')
let filterTrails = document.querySelector('.filter_trails')
let x_hamburger = document.getElementById('x_hamburger_your')
if(hamburger){
    hamburger.addEventListener('click', function (){
        filterTrails.classList.toggle('rwd')
        hamburger.style.display = 'none'
        x_hamburger.style.display = 'block'
    })
}
if(x_hamburger){
    x_hamburger.addEventListener('click', function (){
        filterTrails.classList.toggle('rwd')
         hamburger.style.display = 'block'
        x_hamburger.style.display = 'none'
    })
}
const button = document.getElementById('button-filter_search')

    window.addEventListener(
        'scroll',
        () => {
            if (window.scrollY >= 170) {
            button.style.position = 'static'

        }else {
            button.style.position = 'fixed'
        }
    }
    )
</script>
{% endblock %}