{% extends 'base_trail.html' %}

{% block content %}

        <div class="trails">
            <div class="title">
                <h3>Twoje trasy</h3>
            </div>
            <div class="wrap">
            <div class="form_trails">
                <form action="" method="get">
                    <label>Nazwa</label> <input type="text">
                    <label>Region</label> <input type="text">
                    <label>Autor</label>
                    <select name="Autor" id="" style="width: 80px; padding: 1px ;border-radius: 10px" >
                         <option value="">----</option>
                         <option value="">Ja</option>
                         <option value="">Stiner</option>
                        </select>
                    <label>Oceny</label>
                    <select name="Ocena" id="" style="width: 90px; padding: 1px; border-radius: 10px" >
                         <option value="">Wszystkie</option>
                         <option value="">*****</option>
                         <option value="">****</option>
                         <option value="">***</option>
                         <option value="">**</option>
                         <option value="">*</option>
                    </select>
                    <button>Szukaj</button>
                </form>
            </div>
            <div class="list-trail">
                {% for item in user_trails %}
                    <div class="trail">
                        <div class="image">
                        </div>
                        <div class="name">
                            <p>{{item.name}}</p>
                        </div>
                        <div class="region">
                            <p>Polska</p>
                        </div>
                    </div>
                {% endfor %}
                </div>
            </div>
            </div>

{% endblock %}