{% extends 'base_trail.html' %}
{% load static %}

{% block content %}
<div class="wrap-your_trails">
    <div class="title-your_trail">
        <h3>Twoje trasy</h3>
        <p class="title">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
            the industry's
            standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to
            make a
            type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
            remaining
            essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem
            Ipsum passages,
            and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem
            Ipsum</p>
    </div>
    <div class="your_trail-center">
        <div class="filter_trails">
            <div id="x_hamburger"><i class="fas fa-times"></i></div>
            <h3> Filtrowanie tras: </h3>
            <div class="filter">
                <form action="" method="post">
                    <div class="name">
                        <label>Nazwa:</label>
                        <input type="text" placeholder="Wyszukaj trasę po nazwie">
                    </div>
                    <div class="country">
                        <label>Kraj:</label>
                        <label><input type="checkbox">Polska</label>
                        <label><input type="checkbox">Niemcy</label>
                        <label><input type="checkbox">Czechy</label>
                        <p>Pokaż więcej</p>
                    </div>
                    <div class="region">
                        <label>Region:</label>
                        <label><input type="checkbox">Mazury</label>
                        <label><input type="checkbox">Śląsk</label>
                        <label><input type="checkbox">Morze</label>
                        <p>Pokaż więcej</p>
                    </div>
                    <div class="city">
                        <label>Miasto:</label>
                        {% for i in city %}
                        <label><input type="checkbox">{{i}}</label>
                        {% endfor %}
                        <p class="city">Pokaż więcej</p>
                    </div>
                    <div class="accept_filter">
                        <button id="button-filter_your-trail">ZASTOSUJ FILTRY</button>
                    </div>
                    {% csrf_token %}
                </form>
            </div>
        </div>
        <div id="hamburger"><i class="fas fa-bars"></i></div>
        <div class="user_trail_wrap">
            <ul>
                {% for i in user_trails %}
                <li>
                    <div class="user_trail">
                        <div class="img"><img src="{%if i.image.url %}{{i.image.url}} {%else%} {% static " img/grece.jpg"
                            %} {%endif%}" alt="">
                        </div>
                        <div class="content_trail">
                            <div class="title"><h3>{{i.name}}</h3></div>
                            <div class="description"><p><span>Opis:</span>{{i.descriptions}}</p></div>
                            <div class="more">
                                <p><span>Ocena:</span> Xx.Xx</p>
                                <p><span>Zwiedzających: </span>Xxx</p>
                                <p><a href="{% url 'user_trails:user_trail_detail' i.id %}">Więcej</a></p>
                            </div>
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>

    </div>
</div>
<script>
    //    Obsługa przycisku Pokaż więcej
    let more = document.querySelector('p.city');
    let div_city = document.querySelector('div.city')

    more.addEventListener('click', function () {
        div_city.classList.toggle("active");

    })
    const button = document.getElementById('button-filter_your-trail')

    window.addEventListener(
        'scroll',
        () => {
            if (window.scrollY >= 170) {
                button.style.position = 'static'
                console.log(window.scrollY)
            } else {
                button.style.position = 'fixed'
                console.log(window.scrollY)
            }
        }
    )
</script>
{% endblock %}