{% extends "base1.html" %}
{% load static %}
{% block content %}
     <div class="content">
        <div class="news_manage">
            {% for news in object_list %}
                <div class="news_manage">
                    <div class="image"><img src='{{ news.image.url }}' alt=""></div>
                    <div class="title"><p>{{ news.title }}</p></div>
                    <div class="body"><p>{{ news.descriptions|truncatechars:300 }}</p></div>
                    <button id="delete"><a href="">Usuń</a></button>
                    <button id="edit"><a href="">Edytuj</a></button>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}