{% extends "base.html" %}
{% load static %}
{% block title %} Inspiracje {% endblock %}
{% block content %}

    <link href="https://fonts.googleapis.com/css2?family=Pattaya&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Archivo+Black&family=Chau+Philomene+One:ital@1&display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bangers&display=swap" rel="stylesheet">
    <div class="content">
        <div class="karaibs">
            <h3>Inspiracje</h3>
        </div>
        <div class="content-bottom">
            <div class="content_center">
                <h3>Podróżnicze inspiracje:</h3>
                <div class="posts">
                    {% for post in posts %}
                    <a href="{% url 'blog:post_detail' post.id %}">
                        <div class="post">
                            <div class="image"><img src='{{ post.image.url }}' alt=""></div>
                            <section>
                                <div class="title"><p>{{ post.title }}</p></div>
                                <div class="body"><p>{{ post.short_description }}</p></div>
                                <div class="info"><p>{{ post.created }} {{ post.owner }}</p></div>
                            </section>
                        </div>
                    </a>
                    {% endfor %}
                </div>
            </div>
            <div class="content-right">
                <h3>Inspirujące miejsca</h3>
                <div class="top_rate-points">
                    {% for point in top_rate_points %}
                        <div class="top-rate-point">
                            <div class="top-rate-point-image">
                                <img src="{{ point.image.url }}" alt="">
                            </div>
                            <div class="point-description">
                                <p id="name">{{ point.name| slice:":20" }}...</p>
                                <div class="more">
                                    <p id="rate"><span>Ocena: </span> {{ point.average_grade }}</p>
                                    <p id="done"><span>Zwiedziło: </span>{{ point.done_count }}</p>
                                </div>
                                <div class="more-button">
                                    <button><a href="{% url 'trails:point_detail' point.id %}">Więcej</a></button>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <a href="https://www.linkedin.com/in/sebastian-jadczak-b74a40182">&copy; Sebastian Jadczak</a>
    </div>
{% endblock %}