{% extends "base.html" %}
{% load static %}
{% block title %}{{ post.title }}{% endblock %}
{% block content %}
    <div id="title_post" style="background-image: url({{ post.image.url }})">
        <div id="title">
            <h3>{{ post.title }}</h3>
        </div>
    </div>
    <div class="content_post">
        <div class="left">
            <h4>{{ post.title }}</h4>
            <div class="body_post">
                <p>{{ post.body }}</p>
            </div>
            <div class="gallery-post">
                {% if  post.additional_photo_first %}
                    <div class="image_post">
                        <div class="image_p">
                            <img src="{{ post.additional_photo_first.url }}" alt="">
                        </div>
                        <div class="image_p">
                            <img src="{{ post.additional_photo_second.url }}" alt="">
                        </div>
                    </div>
                {% endif %}
            </div>

        </div>
        <div class="right">
            <h4>Partnerzy:</h4>
            <div class="ads">
                {% for ad in ads %}
                    <div class="ad">
                        <div class="image-ad">
                            <a href="{{ ad.url }}"><img src="{{ ad.image.url }}" alt=""></a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
<div class="footer">
    <a href="https://www.linkedin.com/in/sebastian-jadczak-b74a40182">&copy; Sebastian Jadczak</a>
</div>
{% endblock %}