{% extends 'favorite/favorite_base.html' %}
{% load static %}
{% block content %}
    <div class="sort_menu">
        <div class="sort">
            <p>Sortuj według:</p>
            <select name="" id="sort">
                <option value="1">1</option>
            </select>
        </div>
        <div class="filter">
            <p>Filtruj według:</p>
            <div class="filter-select">
                <select name="" id="city">
                    <option value="1">1</option>
                </select>
                <select name="" id="ocena">
                    <option value="1">1</option>
                </select>
                <select name="" id="ocena">
                    <option value="1">1</option>
                </select>
            </div>
        </div>
        <div class="search-favorite">
            <p></p>
            <form action="" method="post">
                <input type="text" placeholder="Szukaj...">
                <button type="submit"><i class="fas fa-search"></i></button>
            </form>
        </div>
    </div>
    <div class="favorite_your_trail">
                <h3>Ulubione Twoje trasy</h3>
                <div id="favorite__your_trails">
                    <ul>
                        {% for trail in your_trail_favorite %}
                            <li>
                                <div class="your_trail">
                                    <div class="image_trail">
                                        <img src="{{ trail.image.url }}" alt="">
                                    </div>
                                    <div class="trail_description">
                                        <p id="name-trail">{{ trail.name }}</p>
                                        <div class="country">
                                            <p><span>Kraj:</span> {{ trail.country }}</p>
                                        </div>
                                        <div class="city">
                                            <p><span>Miasto:</span> {{ trail.city }}</p>
                                        </div>
                                        <div class="average_grade">
                                            <p><span>Ocena:</span> {{ trail.average_grade }}</p>
                                            <p><span>Zwiedziło:</span> {{ trail.done.all.count }}</p>
                                        </div>
                                        <div class="button-interesting">
                                            <button><a href="{% url 'trails:trail_detail' trail.id %}">Szczegóły</a>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
    <script>
        let allElements = document.getElementById('your_trail')
        allElements.classList.add('underline')
    </script>
{% endblock %}