{% extends 'favorite/favorite_base.html' %}
{% load static %}
{% block content %}
    <div class="sort_menu">
        <div class="sort">
            <p>Sortuj według:</p>
            <select name="" id="sort">
                <option value="1">1</option>
            </select>
        </div>
        <div class="filter">
            <p>Filtruj według:</p>
            <div class="filter-select">
                <select name="" id="city">
                    <option value="1">1</option>
                </select>
                <select name="" id="ocena">
                    <option value="1">1</option>
                </select>
                <select name="" id="ocena">
                    <option value="1">1</option>
                </select>
            </div>
        </div>
        <div class="search-favorite">
            <p></p>
            <form action="" method="post">
                <input type="text" placeholder="Szukaj...">
                <button type="submit"><i class="fas fa-search"></i></button>
            </form>
        </div>
    </div>
    <div class="favorite_point">
        <h3>Ulubione Punkty</h3>
        <div id="favorite_points">
            <ul>
                {% for point in point_favorite %}
                    <li>
                        <div class="point">
                            <div class="image_point">
                                <img src="{{ point.image.url }}" alt="">
                            </div>
                            <div class="point_description">
                                <p id="name-point">{{ point.name }}</p>
                                <div class="country">
                                    <p><span>Kraj:</span> {{ point.country }}</p>
                                </div>
                                <div class="city">
                                    <p><span>Miasto:</span> {{ point.location }}</p>
                                </div>
                                <div class="average_grade">
                                    <p><span>Ocena:</span> {{ point.average_grade }}</p>
                                    <p><span>Zwiedziło:</span> {{ point.done.all.count }}</p>
                                </div>
                                <div class="button-interesting">
                                    <button><a href="{% url 'trails:point_detail' point.id %}">Szczegóły</a>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <script>
        let allElements = document.getElementById('point')
        allElements.classList.add('underline')
    </script>
{% endblock %}