{% extends 'favorite/favorite_base.html' %}
{% load static %}
{% block content %}
    <div class="sort_menu">
        <div class="sort">
            <p>Sortuj według:</p>
            <select name="sort" id="sort-list" onchange="location = finalurl();">
                <option value="" id="placeholder-sort" disabled selected hidden>Sort</option>
                <option id="done" value="done">Zwiadzających</option>
                <option id="rate" value="rate">Ocena</option>
            </select>
        </div>
        <div class="filter">
            <p>Filtruj według:</p>
            <div class="filter-select">
                <select name="" id="filter-city" onchange="location = filteringcity();">
                    <option value="" id="placeholder-city" disabled selected hidden>Miasto</option>
                    {% for c in city %}
                        <option id="city" value="{{ c }}">{{ c }}</option>
                    {% endfor %}
                </select>
                <select name="" id="filter-country" onchange="location = filteringcountry();">
                    <option value="" id="placeholder-country" disabled selected hidden>Kraj</option>
                    {% for c in country %}
                        <option value="{{ c }}">{{ c }}</option>
                    {% endfor %}
                </select>
                <select name="" id="filter-author" onchange="">
                    <option value=""  id="placeholder" disabled selected>Autor</option>
                    <option value="your">Wszystkie</option>
                </select>
            </div>
        </div>
        <div class="search-favorite">
            <p></p>
            <form action="" method="post">
                <input name="search" type="text" placeholder="Szukaj...">
                {% csrf_token %}
                <button type="submit"><i class="fas fa-search"></i></button>
            </form>
        </div>
    </div>
    <div class="favorite_points">
        <h3>Ulubione Punkty</h3>
        <div id="favorite_points">
            <ul>
                {% for point in point_favorite %}
                    <li>
                        <div class="point">
                            <div class="image_point">
                                <img src="{{ point.image.url }}" alt="">
                            </div>
                            <div class="point_description">
                                <p id="name-point">{{ point.name }}</p>
                                <div class="country">
                                    <p><span>Kraj:</span> {{ point.country }}</p>
                                </div>
                                <div class="city">
                                    <p><span>Miasto:</span> {{ point.location }}</p>
                                </div>
                                <div class="average_grade">
                                    <p><span>Ocena:</span> {{ point.average_grade }}</p>
                                    <p><span>Zwiedziło:</span> {{ point.done.all.count }}</p>
                                </div>
                                <div class="button-interesting">
                                    <button><a href="{% url 'trails:point_detail' point.id %}">Szczegóły</a>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <script>
        let allElements = document.getElementById('point')
        allElements.classList.add('underline')
    </script>
{% endblock %}