{% load static %}
<!doctype html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html" charset="utf-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style type="text/css">
        @font-face {
            font-family: 'Lato';
            src: url("../static/Lato/Lato-Regular.ttf") format('truetype');
        }

        p{
            font-family: 'Lato', serif;
            font-size: 20px
        }


    </style>
</head>
<body>
<p>{{ point.name }}ęś</p>
<p id="pi">Sęś</p>
</body>

</html>