{% extends "base.html" %}
{% load static %}
{% block content %}

    <div class="account">
        <div class="column-left">
            <div class="basic_info">
                <div class="photo"><img src="{{request.user.profile.photo.url}}" alt=""></div>
                <div class="name_user">
                    <h3>{{fullname}}</h3>
                    <div class="location">
                        <p>{{request.user.profile.city}}, {{request.user.profile.country}}</p>
                    </div>
                    <div class="date_of_birth">
                        <p>{{date_of_birth}}</p>
                    </div>
                </div>
                <div class="edit_user_profile"><button>Edytuj</button></div>
            </div>
            <div class="info">
                <div class="data_contact">
                    <h3>Dane kontaktowe</h3>
                    <div class="contact">
                        <div class="email"><p>email: {{request.user.profile.email}}</p></div>
                        <div class="phone"><p>phone: {{request.user.profile.phone}}</p></div>
                    </div>
                    <h3>Adres</h3>
                    <div class="street"><p>Ulica: </p><span>{{request.user.profile.street}}</span></div>
                    <div class="number_house"><p>Nr. domu: </p><span>{{request.user.profile.house_number}}</span></div>
                    <div class="apartment_number"><p>Nr. Mieszkania: </p><span>{{request.user.profile.apartment_number}}</span></div>
                    <div class="postal_code"><p>Kod pocztowy: </p><span>{{request.user.profile.postal_code}}</span></div>
                    <h3>Języki</h3>
                    <div class="main_language"><p>Język Ojczysty: </p><span>{{request.user.profile.main_language}}</span></div>
                    <div class="other_language"><p>Inne Języki: </p><span>{{request.user.profile.other_language}}</span></div>
                </div>
            </div>
            <div class="preference">
                <h3>Preferencje</h3>
                <div class="country"><p>Ulubiony Kraj: </p><span>{{request.user.preference.favorite_country}}</span></div>
                <div class="region"><p>Ulubiony region: </p><span>{{request.user.preference.favorite_region}}</span></div>
                <div class="city"><p>Ulubione miasto: </p><span>{{request.user.preference.favorite_city}}</span></div>
                <div class="place"><p>Ulubione miejsce: </p> <span>{{request.user.preference.favorite_place}}</span></div>
                <div class="restaurant"><p>Ulubiona restauracja: </p><span>{{request.user.preference.favorite_restaurant}}</span></div>
            </div>
        </div>
        <div class="column-right">
            <div class="first-statistic advertising"></div>
            <div class="second-statistic">
                <h3>Twój profil</h3>
                <div class="contact"><i class="fas fa-star"></i><p class="profile">Kontakt</p></div>
                <div class="adres"><i class="fas fa-star"></i><p class="profile">Adres</p></div>
                <div class="language"><i class="fas fa-star"></i><p class="profile">Języki</p></div>
                <div class="preference"><i class="far fa-star"></i><p class="profile">Preferencje</p></div>
                <div class="summary">
                    <h3>Twój profil Wypełniony w:</h3>
                    <div class="precent-wrap">
                        <div class="precent">
                            <p>{{średnia}}</p><i class="fas fa-percent"></i>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}