{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
     <link href="https://fonts.googleapis.com/css2?family=Bangers&display=swap" rel="stylesheet">
    <script>
        L_NO_TOUCH = false;
        L_DISABLE_3D = false;
    </script>
    <script data-ad-client="ca-pub-5722846627217105" async
            src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.5.1/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Pattaya&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Archivo+Black&family=Chau+Philomene+One:ital@1&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bangers&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.5.1/dist/leaflet.css"/>
    <title>{{ point.name }}</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bangers&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/style_map.css' %}">
    <link rel="stylesheet" href="{% static 'css/style_trail.css' %}">
    <link rel="stylesheet" href="{% static 'css/style_point.css' %}">
    <link rel="stylesheet" href="{% static 'css/style_all_trails.css' %}">
    <link rel="stylesheet" href="{% static 'css/style_your_trails.css' %}">
    <link rel="stylesheet" href="{% static 'css/style_save_draft_trail.css' %}">
    <link rel="stylesheet" href="{% static 'css/style_trail_add.css' %}">
    <link rel="stylesheet" href="{% static 'css/style_interesting_points.css' %}">
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    <style>
        #map_1de6ef4f1218487da9d6da057bb8f454 {
            position: relative;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
        }

        #map_1de6ef4f1218487da9d6da057bb8f454 {
            z-index: 0;
            margin-top: 2px;
            width: 95.0%;
            height: 100.0%;
            left: 0.0%;
            top: 0.0%;
        }

        /* Obsługa scrolowania mapy tylko z ctrl + scroll*/
        .map-scroll:before {
            content: 'Use ctrl + scroll to zoom the map';
            position: absolute;
            top: 50%;
            left: 35%;
            z-index: 999;
            font-size: 34px;
        }

        .map-scroll:after {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
            content: '';
            background: #00000061;
            z-index: 999;
        }
    </style>
</head>
<body>
<div id="top">
    <div class="logo"><a href="{% url 'map' %}"><img src="{% static "img/logo.png" %}" alt="logo"></a></div>
    <div class="menu">
        <ul>
            <li class="red top_menu"><a href="{% url  'mapFullScreen'%}" ></i>Mapa</a></li>
             <li class="green top_menu" onclick="menuDetailTrail()">Trasy <i class="fas fa-angle-down"></i>
                <div id="menu-detail-trail">
                    <ul>
                        <li><a href="{% url 'trails:points' %}">Ciekawe miejsca</a></li>
                        <li><a href="{% url 'trails:all_trails' %}">Trasy</a></li>
                        {% if user.is_authenticated %}
                            <li><a href="{% url 'yours_trails' %}">Twoje trasy</a></li>
                            <li><a href="{% url 'user_trails:user_trail_add' %}">Stwórz trasę</a></li>
                        {%else%}
                            <li><a href="{% url 'login' %}">Twoje trasy</a></li>
                            <li><a href="{% url 'login' %}">Stwórz trasę</a></li>
                        {% endif %}
                    </ul>
                </div>
            </li>
            <li class="blue top_menu"><a href="{% url 'blog:list_posts' %}">Blog</a></li>
            <li class="gold top_menu"><a href="{% url 'contact:contact_detail' %}">Kontakt</a></li>
        </ul>
    </div>
    <div class="login_mapa">
        {% if user.is_authenticated %}
              <a href="{% url 'done' %}" id="eye"><i class="far fa-eye"></i></a>
            <a href="{% url 'favorite' %}" id="heart"><i class="far fa-heart"></i></a>
        {% endif %}
        {% if user.is_authenticated %}
        <button class="user_menu" style="cursor: pointer"><i class="fas fa-user"></i><i class="fas fa-angle-down"></i></button>
        <div class="user_menu">
            <ul>
                <li><a href="{% url 'account:password_reset' %}">Ustawienia</a></li>

                {% if perms.blog.view_post%}
                <li><a href="{% url 'management:blog_manage_post_list' %}">Panel administracyjny</a></li>
                {% elif perms.shop.view_product %}
                <li><a href="{% url 'management:shop_manage_product_list' %}">Panel administracyjny</a></li>
                {% endif %}

                <li><a href="{% url 'logout' %}">Wyloguj</a></li>
            </ul>
        </div>
        {% else %}
        <button class="log"><a href="{% url 'login' %}">Zaloguj się</a></button>
        <button class="register"><a href="{% url 'register' %}">Załóż konto</a></button>
        {% endif %}
    </div>
    <div id="login_rwd"><i class="fas fa-sign-in-alt"></i></div>
</div>
<div class="point-image" style="background-image: url({{point.image.url}}); ">
    <div class="title-point">
        <h3> {{point.name}}</h3>
    </div>
    <div id="file-point">
        {% if user.is_authenticated %}
            <button id="pdf" ><a href="{% url 'trails:pdf_point' point.id %}"> <i class="fas fa-cloud-download-alt"></i> Pobierz przewodnik w wersji PDF</a></button>
            {% if point.sound %}
                <button id="audio" onclick="openAudio()"><i class="fas fa-volume-up"></i> Odsłuchaj w formie Audio</button>
            {% else %}
                <button id="audio-none"><i class="fas fa-volume-up"></i> Odsłuchaj w formie Audio</button>
            {% endif %}
        {% else %}
            <button id="pdf" ><a href="{% url 'login' %}"> <i class="fas fa-cloud-download-alt"></i> Pobierz przewodnik w wersji PDF</a></button>
            <button id="audio"><a href="{% url 'login' %}"><i class="fas fa-volume-up"></i> Odsłuchaj w formie Audio</a></button>
        {% endif %}
        </div>
</div>
<div class="center">
    <div id="point-left">
        <div id="basic-info">
            <div class="name">
                <div class="title-point">
                    <h3 id="point-name">{{ point.name }}:</h3>
                     <div id="buttons_point">
                         {% if user.is_authenticated %}
                            {% if point_dones %}
                                <form action="{% url 'trails:point_done' point.pk%}" method="post"><input type="text" value="{{ point.id }}" hidden name="point_done" />{%   csrf_token %}<button type="submit"><i class="fas fa-eye"></i> Usuń z wykonanych</button></form>
                            {% else %}
                                <form action="{% url 'trails:point_done' point.pk%}" method="post"><input type="text" value="{{ point.id }}" hidden name="point_done" />{%   csrf_token %}<button type="submit"><i class="fas fa-eye"></i> Dodaj do wykonanych</button></form>
                            {% endif %}

                            {% if point_liked %}
                                <form action="{% url 'trails:heart_add' point.pk%}" method="post"><input type="text" value="{{ point.id }}" hidden name="heart_id"/>{%   csrf_token %}<button type="submit"><i class="fas fa-heart"></i> Usuń z ulubionych</button></form>
                            {% else %}
                                <form action="{% url 'trails:heart_add' point.pk%}" method="post"><input type="text" value="{{ point.id }}" hidden name="heart_id"/>{%   csrf_token %}<button type="submit"><i class="fas fa-heart"></i> Dodaj do ulubionych</button></form>
                            {% endif %}
                         {% endif %}
                     </div>
                </div>

                <div class="icons">
                    <p id="done"><i class="fas fa-eye"></i> <span>{{ point.done.all.count }} x wykonano</span>|</p>
                    <p id="heart"><i class="fas fa-heart"></i><span>{{ point.heart.all.count }} x W ulubionych</span>|</p>
                    <p id="downloads"><i class="fas fa-file-download"></i><span>{{ point.downloads.all.count }} x pobrań</span>|</p>
                    <p id="sound"><i class="fas fa-volume-up"></i><span>{{ point.sound.all.count }} x odsłuchań</span>|</p>
                </div>
            </div>
            <div class="more">
                <div class="left">

                    <div id="type">
                        <i class="fas fa-road"></i> <p><span>Typ punktu:</span> <i>{{ point.type }}</i></p>
                    </div>
                    <div id="for_whom">
                        <i class="fas fa-user-friends"></i> <p><span>Dla kogo: </span><i>{{ point.for_whom }}</i></p>
                    </div>
                    <div id="city">
                        <i class="fas fa-city"></i> <p><span>Miasto: </span><i>{{ point.location }}</i></p>
                    </div>
                </div>
                <div class="right">
                    <div id="len">
                        <i class="fas fa-car"></i> <p><span>Współżędne:</span> <i id="x">{{point.coordinateX}}</i> <i id="y">{{point.coordinateY}}</i></p>
                    </div>
                    <div id="region">
                        <i class="fas fa-mountain"></i>
                        <p><span>Region:</span> <i>{{ point.region }}</i></p>
                    </div>
                    <div id="country">
                        <i class="fas fa-globe-americas"></i> <p><span>Kraj: </span><i>{{ point.country }}</i></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="map">
            <h3>{{ point.name }}:</h3>
            <div class="folium-map" id="map_1de6ef4f1218487da9d6da057bb8f454">
        </div>
        <div id="point_description">
             <p>{{ point.descriptions }} <span>Źródło: {{ point.source }}</span></p>
        </div>
        <div class="gallery">
                        <div class="big_image">
                            <div class="bigger">
                                <img class="big" src="{{point.image.url}}"
                                     alt="room1"/>
                            </div>
                            <i class="fas fa-arrow-left arrow" id="left-arrow"></i>
                            <i class="fas fa-arrow-right arrow" id="right-arrow"></i>
                        </div>
                        <div id="small-wrap">
                                <div id="small">
                                    <img src="{{point.image.url}}" alt=""/>
                                    {% for g in gallery %}
                                            <img src="{{g.url}}" class="img" alt=""/>
                                    {% endfor %}
                            </div>

                        </div>
                    </div>
        <div class="opinion-trail">
                       <h3>Oceny i opinie</h3>
                        <p>
                          {{object.0.name}}
                       </p>
    <!--                   Opinie -->
                       {% if opinion %}
                           <div class="opinions">
                               {% for element in opinion %}
                                    <div class="opinion">
                                        <div class="top">
                                            <p id="user">{{element.user}}</p>
                                            <p id="rating">Ocena
                                                {% if element.rating is 5 %} <span>★★★★★</span>
                                                {% elif element.rating is 4 %}<span>★★★★</span>
                                                {% elif element.rating is 3 %}<span>★★★</span>
                                                {% elif element.rating is 2 %}<span>★★</span>
                                                {% elif element.rating is 1 %}<span>★</span>
                                                {%endif%}</p>
                                            </div>
                                        <p id="opinion">{{element.opinion}}</p>
                                    </div>
                               {% endfor %}
                           </div>
                       {% else %}
        <!--                   Jeśli brak opinie to...-->
                           <p>Ten obiekt nie posiada jeszcze recenzji. Bądź pierwszy.</p>
                       {% endif %}
                       <h3>Napisz własną opinię:</h3>
                       {% if user.is_authenticated %}
                           <form action="" method="post">
                               <div class="top_form">
                                   <input type="text" class="nick" name="nick" placeholder="Podaj swój nick", value="{{request.user}}" disabled style="width: 100px;text-align:center; margin-right: 170px">
                                   <input type="text" class="nick" name="point_id" placeholder="id punktu" value="{{point_id}}" hidden>
                                   <p id="yours_stars-trail">Twoja ocena</p>
                                   <div class="stars-trail">
                                        <input type="radio" id="star5" name="star" value="5">
                                        <label for="star5"> Five Stars </label>
                                        <input type="radio" id="star4" name="star" value="4">
                                        <label for="star4"> Four Stars </label>
                                        <input type="radio" id="star3" name="star" value="3">
                                        <label for="star3"> Three Stars </label>
                                        <input type="radio" id="star2" name="star" value="2">
                                        <label for="star2"> Two Stars </label>
                                        <input type="radio" id="star1" name="star" value="1">
                                        <label for="star1"> One Star </label>
                                  </div>
                               </div>
                               <div class="bottom_form">
                                   <textarea name="recension" id="" placeholder="Twoja recenzja"></textarea>
                                   <button>Zapisz Opinię</button>
                               </div>
                               {% csrf_token %}
                           </form>
                       {%else%}
                            <p>Aby dodać opinię, proszę się zalogować.</p>
                       {% endif %}
                   </div>
    </div>
    </div>
    <div id="point-right">
        <h4>Najwyżej ocenione punkty</h4>
        <div class="top_rate-points">
            {% for point in top_rate_point %}
                <div class="top-rate-point">
                    <div class="top-rate-point-image">
                        <img src="{{ point.image.url }}" alt="">
                    </div>
                    <div class="point-description">
                        <p id="name">{{ point.name| slice:":20"}}...</p>
                        <div class="more">
                            <p id="rate"><span>Ocena: </span> {{ point.average_grade }}</p>
                            <p id="done"><span>Zwiedziło: </span>{{ point.done_count }}</p>
                        </div>
                        <div class="more-button">
                            <button><a href="{% url 'trails:point_detail' point.id %}">Więcej</a></button>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

</div>
<div id="social-right">
    <div id="fb"><a href="https://www.facebook.com/Stiner-100928478828163"><i class="fab fa-facebook-square"></i></a></div>
    <div id="li"><a href="https://www.linkedin.com/company/stiner/"><i class="fab fa-linkedin"></i></a></div>
    <div id="youtube"><i class="fab fa-youtube"></i></div>
</div>
<div id="audio-wrap">
    <div class="play">

        <h3>{{ point.name }}<span id="close"><i class="fas fa-times"></i></span></h3>
        {% if point.sound %}
            <audio src="{{ point.sound.url }}"  controls controlsList="nodownload"></audio>
        {% endif %}

    </div>
</div>
<script>
let audio = document.getElementById('audio-wrap')
let close = document.getElementById('close')
if(close){
    close.addEventListener('click', function (){
        audio.style.display = 'none'
    })
}
function openAudio(){
    audio.style.display = 'block'
}
function imageGallery() {
  const big = document.querySelector(".big");
  const small = document.querySelectorAll("#small img");

  small.forEach(preview => {
    preview.addEventListener("click", function() {
      const smallSrc = this.src;
        const bigSrc = smallSrc.replace("big");
        small.forEach(preview => preview.classList.remove("active"));
        big.src = bigSrc;
        preview.classList.add("active");
    });
  });
}

imageGallery();
</script>
    </div>
</div>
<div class="footer">
    <a href="https://www.linkedin.com/in/sebastian-jadczak-b74a40182">&copy; Sebastian Jadczak</a>
</div>
<script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js"></script>
<script src="https://unpkg.com/leaflet-routing-machine@3.2.12/dist/leaflet-routing-machine.js"></script>
<script src="https://kit.fontawesome.com/e4892fcf67.js" crossorigin="anonymous"></script>
<script src="{% static 'js/base_shop.js' %}" type="text/javascript"></script>
<script src="{% static 'js/point.js' %}" type="text/javascript"></script>

</body>
</html>
