{% extends "base_shop.html" %}
{% load static %}

{% block content %}
<div class="product_detail">
    <div class="product_image"><img src="{{ product.image.url}}" alt=""></div>
      <div class="product_description">
            <h3>{{product.name}}</h3>
            <p>{{product.description}}</p>
            <span class="price">Cena: {{product.price}} zł</span>
          <form action="{% url "cart:cart_add" product.id %}" method="post">
          {{cart_product_form}}
          {% csrf_token %}
          <input type="submit" value="Dodaj">
          </form>
        </div>
</div>



{% endblock %}