{% extends 'base_trail.html' %}

{% block content %}
<div class="przyklad">
    <div class="points_add_to_user_trail" id="points_add_to_user_trail">
         {% for element in lists %}
            <div class="point_add">
                <div class="image">
                    <img src=" {{element.image.url}}" alt="image_point" class="point_add_image">
                    </div>
                {{element.name}}
                <form action="." method="post">

                    <input type="submit" value="Dodaj">
                </form>
            </div>
        {% endfor %}
    </div>
    <button id="left"><</button>
    <button id="right">></button>
    </div>

{% endblock %}