{% extends 'base.html' %}
{%load static %}
{% block title %}Kontakt{% endblock %}
{% block content %}
<div class="contact">
    <p id="contact">Kontakt</p>
    <div class="person">
        <div class="person-text">
            <h1>Stiner</h1>
            <p>Z nami zaplanujesz wakacje.</p>
        </div>
         <div class="motto">
                    <p>Za dwadzieścia lat bardziej będziesz żałował tego czego nie zrobiłeś, niż tego co zrobiłeś <br>
                    Więc odwiąż liny, opuść bezpieczną przystań.<br> Złap w żagle pomyślne wiatry. Podróżuj. Śnij. Odkrywaj.</p>
                    <p style="text-align: right"><b>Mark Twain</b></p>
                </div>
        <div class="person-info">
            <div class="image">
                <img src="{%static 'img/ja.jpg'%}" alt="">
            </div>
            <div class="info">

                <div class="data">
                    <h3>Sebastian Jadczak</h3>
                    <p><i class="fas fa-phone"></i>518-521-272</p>
                    <p><i class="fas fa-at"></i>contact@stiner.pl</p>
                    <p><a href="https://www.facebook.com/Stiner-100928478828163"><i class="fab fa-facebook"></i>Facebook</a></p>
                    <p><a href="https://www.linkedin.com/company/stiner/"><i class="fab fa-linkedin"></i>Linkedin</a></p>
                </div>
            </div>
        </div>
    </div>
    <div id="data_company">
        <i class="fas fa-home"></i>
        <p>Stiner</p>
        <div class="data">
            <p>W sprawie współpracy zapraszamy do kontaktu:</p>
            <p>cooperation@stiner.pl</p>
            <p>W przypadku znalezienia usterki prosimy o kontakt:</p>
            <p>development@stiner.pl</p>
        </div>
    </div>
    {% if sent != True %}
    <div class="form">
        <h2>Centrum pomocy</h2>
        <p id="help"> Jeśli masz jakiekolwiek pytanie, skorzystaj z formularza poniżej. Postaramy się odpowiedzieć najszybciej jak to możliwe.</p>
        <h3>Napisz wiadomość</h3>
        <form action="/contact" method="post">
            {{form.as_p}}
            {% csrf_token %}
            <label id="regulations"><input type="checkbox" required >
            <p>
                Wyrażam zgodę na przetwarzanie moich danych osobowych przez Stiner.pl Sebastian Jadczak,
                w celu udzielenia odpowiedzi na złożone zapytanie, jak również prowadzenia ewentualnej dalszej
                korespondencji związanej ze złożonym zapytaniem.</p></label>

            <input type="submit" value="Wyślij">
        </form>
    </div>
    {% else %}
    <p>Wysłano wiadomość email</p>
    {% endif %}
</div>
<div class="footer-contact">
    <a href="https://www.linkedin.com/in/sebastian-jadczak-b74a40182">&copy; Sebastian Jadczak</a>
</div>
{% endblock %}