{% load static %}
<!DOCTYPE html>

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <script data-ad-client="ca-pub-5722846627217105" async
            src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <link rel="stylesheet" href="{% static "css/style_map.css" %}">
    <title>Regulamin i Polityka Prywatności</title>
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
</head>
<body>


<div id="top">
    <div class="logo"><a href="{% url 'map' %}"><img src="{% static "img/logo.png" %}" alt="logo"></a></div>
    <div class="menu menu_mapa">
        <ul>
            <li class="red top_menu"><a href="{% url 'mapFullScreen' %}"></i>Mapa</a></li>
            <li class="green top_menu" onclick="menuDetailTrail()">Trasy <i class="fas fa-angle-down"></i>
                <div id="menu-detail-trail">
                    <ul>
                        <li><a href="{% url 'trails:points' %}">Ciekawe miejsca</a></li>
                        <li><a href="{% url 'trails:all_trails' %}">Trasy</a></li>
                        {% if user.is_authenticated %}
                            <li><a href="{% url 'yours_trails' %}">Twoje trasy</a></li>
                            <li><a href="{% url 'user_trails:user_trail_add' %}">Stwórz trasę</a></li>
                        {% else %}
                            <li><a href="{% url 'login' %}">Twoje trasy</a></li>
                            <li><a href="{% url 'login' %}">Stwórz trasę</a></li>
                        {% endif %}
                    </ul>
                </div>
            </li>
            <li class="blue top_menu"><a href="{% url 'blog:list_posts' %}">Blog</a></li>
            <li class="gold top_menu"><a href="{% url 'contact:contact_detail' %}">Kontakt</a></li>
        </ul>
    </div>

    <div class="login_mapa">

        {% if user.is_authenticated %}
            <a href="{% url 'done' %}" id="eye"><i class="far fa-eye"></i></a>
            <a href="{% url 'favorite' %}" id="heart"><i class="far fa-heart"></i></a>
        {% endif %}

        {% if user.is_authenticated %}
            <button class="user_menu"><i class="fas fa-user"></i><i class="fas fa-angle-down"></i></button>
            <div class="user_menu">
                <ul>
                    <li><a href="{% url 'account:password_reset' %}">Ustawienia</a></li>

                    {% if perms.blog.view_post %}
                        <li><a href="{% url 'management:blog_manage_post_list' %}">Panel administracyjny</a></li>
                    {% elif perms.shop.view_product %}
                        <li><a href="{% url 'management:shop_manage_product_list' %}">Panel administracyjny</a></li>
                    {% endif %}

                    <li><a href="{% url 'logout' %}">Wyloguj</a></li>
                </ul>
            </div>
        {% else %}
            <button  class="log"><a href="{% url 'login' %}">Zaloguj się</a></button>
            <button class="register"><a href="{% url 'register' %}">Załóż konto</a></button>
        {% endif %}
    </div>
    <div id="login_rwd"><i class="fas fa-sign-in-alt"></i></div>
</div>

<div id="regulations">
    <p>
        <b>A. Wprowadzenie</b><br>
        1. Prywatność odwiedzających naszą stronę internetową jest dla nas bardzo ważna i dokładamy wszelkich starań,
        aby ją chronić. Niniejsza polityka wyjaśnia, co robimy z Twoimi danymi osobowymi <br>
        2. Zgoda na korzystanie z plików cookie zgodnie z warunkami niniejszej polityki podczas pierwszej wizyty na
        naszej stronie pozwala nam na korzystanie z plików cookie przy każdej kolejnej wizycie na naszej stronie.
    </p>
    <p>
        <b>B. Źródło</b><br>
        Ten dokument został utworzony przy użyciu szablonu firmy SEQ Legal (seqlegal.com)
        i zmodyfikowany dla celów Website Planet (www.websiteplanet.com)
    </p>
    <p>
        <b>C. Zbieranie danych osobowych</b><br>
        Następujące rodzaje danych osobowych mogą być gromadzone, przechowywane i wykorzystywane: <br>
        1. informacje o komputerze, w tym adres IP, lokalizacja geograficzna, typ i wersja przeglądarki oraz system
        operacyjny;
        <br>
        2. informacje o Twoich wizytach i korzystaniu z tej witryny, w tym źródło odesłań, długość wizyty, wyświetlenia
        stron i ścieżki nawigacji w witrynie;
        <br>
        3. informacje, takie jak adres e-mail, które podajesz podczas rejestracji w naszej witrynie internetowej; <br>
        4. informacje wprowadzane podczas tworzenia profilu w naszej witrynie — na przykład imię i nazwisko, zdjęcia
        profilowe, płeć, data urodzin, status związku, zainteresowania i hobby, dane edukacyjne i dane dotyczące
        zatrudnienia;
        <br>
        5. informacje, takie jak imię i nazwisko oraz adres e-mail, które podajesz w celu skonfigurowania subskrypcji
        naszych e-maili lub biuletynów;
        <br>
        6. informacje wprowadzane podczas korzystania z usług na naszej stronie internetowej; <br>
        7. informacje, które są generowane podczas korzystania z naszej strony internetowej, w tym kiedy, jak często i w
        jakich okolicznościach z niej korzystasz;
        <br>
        8. informacje dotyczące wszystkiego, co kupujesz, usług, z których korzystasz lub transakcji dokonywanych
        za pośrednictwem naszej strony internetowej, w tym imię i nazwisko, adres, numer telefonu, adres e-mail i dane
        karty kredytowej;
        <br>
        9. informacje publikowane na naszej stronie internetowej z zamiarem opublikowania ich w Internecie, w tym nazwa
        użytkownika,
        zdjęcia profilowe i treść umieszczanych postów; <br>
        10. informacje zawarte we wszelkiej korespondencji przesyłanej do nas e-mailem lub za pośrednictwem naszej
        strony internetowej,
        w tym treści komunikacyjne i metadane; <br>
        11. wszelkie inne dane osobowe, które nam przesyłasz. <br>
        Zanim ujawnisz nam dane osobowe innej osoby, musisz uzyskać zgodę tej osoby na ujawnienie i przetwarzanie tych
        danych osobowych zgodnie z niniejszymi zasadami
        <br>
    </p>
    <p>
        <b>D. Korzystanie z Twoich danych osobowych</b> <br>
        Dane osobowe przesłane do nas za pośrednictwem naszej strony internetowej będą wykorzystywane do celów
        określonych w niniejszej polityce lub na odpowiednich stronach witryny. Możemy wykorzystywać Twoje dane osobowe
        do celu:
        <br>
        1. administrowania naszą stroną internetową i biznesem; <br>
        2. personalizowania naszej strony internetowej dla Ciebie; <br>
        3. umożliwienia korzystania z usług dostępnych na naszej stronie internetowej; <br>
        4. wysyłania towarów zakupionych za pośrednictwem naszej strony internetowej; <br>
        5. świadczenia usług zakupionych za pośrednictwem naszej strony internetowej; <br>
        6. wysyłania do ciebie wyciągów, faktur i przypomnień o płatnościach oraz odbioru płatności od Ciebie; <br>
        7. przesyłania niemarketingowej komunikacji handlowej; <br>
        8. wysyłania powiadomień e-mail, o które prosiłeś; <br>
        9. wysyłania naszego newslettera e-mail, jeśli o to poprosiłeś (możesz nas w każdej chwili poinformować, jeśli
        nie chcesz już otrzymywać newslettera);
        <br>
        10. przesyłania informacji marketingowych dotyczących naszej działalności lub aktywności starannie
        wybranych stron trzecich, które naszym zdaniem mogą Cię zainteresować, pocztą lub, jeśli wyraziłeś na to zgodę,
        pocztą elektroniczną lub podobną technologią (możesz nas o tym poinformować w dowolnym momencie, jeśli nie
        chcesz
        już otrzymywać komunikatów marketingowych); <br>
        11. dostarczania stronom trzecim informacji statystycznych o naszych użytkownikach (ale te osoby trzecie nie
        będą
        w stanie zidentyfikować żadnego konkretnego użytkownika na podstawie tych informacji); <br>
        12. zajmowania się zapytaniami i skargami składanymi przez Ciebie lub dotyczącymi Ciebie w związku z naszą
        witryną;
        <br>
        13. zapewnienia bezpieczeństwa naszej strony internetowej i zapobieganie oszustwom; <br>
        14. weryfikacji zgodności z warunkami korzystania z naszej strony internetowej (w tym monitorowanie prywatnych
        wiadomości wysyłanych za pośrednictwem naszej prywatnej usługi przesyłania wiadomości); i <br>
        15. innych zastosowań. <br>
        Jeśli prześlesz dane osobowe do publikacji w naszej witrynie, opublikujemy je i wykorzystamy w inny sposób
        zgodnie z udzieloną nam licencją.

        Twoje ustawienia prywatności mogą być wykorzystane do ograniczenia publikacji Twoich informacji na naszej
        stronie internetowej
        i mogą być dostosowane za pomocą kontroli prywatności na stronie.

        Nie będziemy bez Twojej wyraźnej zgody przekazywać danych osobowych stronom trzecim, lub jakimkolwiek innym
        związanym
        z nimi stronom trzecim, w celach marketingu bezpośredniego.
    </p>
    <p>
        <b>E. Ujawnianie danych osobowych</b>
        Możemy ujawniać dane osobowe użytkownika wszelkim naszym pracownikom, członkom kadry kierowniczej,
        przedstawicielom, dostawcom lub podwykonawcom, o ile jest to niezbędne do celów określonych w niniejszych
        „Zasadach ochrony prywatności”. <br>

        Możemy ujawniać dane osobowe wszelkim członkom naszej grupy spółek (tzn. spółkom zależnym, głównej spółce
        holdingowej i jej spółkom zależnym), o ile jest to niezbędne do celów określonych w niniejszych „Zasadach
        ochrony prywatności”. <br>

        Możemy ujawniać Twoje dane osobowe: <br>
        1. w zakresie, w jakim jest to wymagane przepisami prawa; <br>
        2. w związku z trwającymi lub potencjalnymi postępowaniami prawnymi; <br>
        3. w celu ustanowienia, wyegzekwowania lub obrony naszych praw (wliczając w to udostępnienie informacji innym
        podmiotom w celu przeciwdziałania oszustwom);
        <br>
        4. nabywcy (lub potencjalnemu nabywcy) jakiejkolwiek działalności lub aktywów, które sprzedajemy (lub
        rozważamy); i
        <br>
        5. wszelkim osobom, które wedle naszej zasadnej opinii mogą wystąpić do sądu lub innego właściwego organu o
        ujawnienie takich danych osobowych, jeśli wedle zasadnej rozsądnej opinii, istnieje duże prawdopodobieństwo, że
        taki sąd lub organ nakaże ujawnienie takich danych osobowych <br>
        Z wyjątkiem postanowień zawartych w niniejszych „Zasadach ochrony prywatności” nie będziemy udostępniać osobom
        trzecim informacji dotyczących użytkownika.
    </p>
    <p><b>F. Międzynarodowe transfery danych</b>

        1. Informacje, które gromadzimy mogą być przechowywane i przetwarzane w każdym z krajów, w którym prowadzimy
        działalność i mogą być przesyłane pomiędzy tymi krajami w celu umożliwienia wykorzystania informacji zgodnie z
        niniejszymi „Zasadami ochrony prywatności”. <br>
        2. Informacje, które zbieramy, mogą być przekazywane do następujących krajów, które nie mają przepisów o
        ochronie
        danych równoważnych z obowiązującymi w Europejskim Obszarze Gospodarczym: Stanów Zjednoczonych Ameryki, Rosji,
        Japonii, Chin i Indii. <br>
        3. Dane osobowe, które publikujesz na naszej stronie internetowej lub przesyłasz do publikacji na naszej stronie
        internetowej, mogą być dostępne za pośrednictwem Internetu na całym świecie. Nie możemy zapobiec wykorzystywaniu
        lub
        niewłaściwemu wykorzystaniu takich informacji przez inne osoby. <br>
        4. Wyraźnie zgadzasz się na przekazywanie danych osobowych opisanych w tej sekcji F.</p>
    <p>
        <b>G. Zachowywanie danych osobowych</b>

        1. W Niniejszej Sekcji G określiliśmy nasze zasady i procedury dotyczące zatrzymywania danych, które mają na
        celu
        zapewnienie przestrzegania naszych zobowiązań prawnych w zakresie zachowywania i usuwania danych osobowych. <br>
        2. Dane osobowe, które przetwarzamy w dowolnym celu lub celach, nie będą przechowywane dłużej niż jest to
        konieczne
        do
        tego celu lub tych celów. <br>
        3. Bez uszczerbku dla artykułu G-2 zazwyczaj usuwamy dane osobowe należące do kategorii określonych poniżej w
        dniu/godzinie określonej poniżej: <br>
        - typ danych osobowych zostanie usunięty {WPROWADŹ DATĘ/GODZINĘ}; i <br>
        - {WPROWADŹ DODATKOWE DATY/GODZINY}. <br>
        4. Niezależnie od innych postanowień niniejszej sekcji G zachowamy dokumenty (w tym dokumenty elektroniczne)
        zawierające dane osobowe: <br>
        - w zakresie, w jakim jest to wymagane przepisami prawa; <br>
        - jeśli uważamy, że dokumenty mogą mieć znaczenie dla wszelkich toczących się lub przyszłych postępowań
        sądowych;
        i <br>
        - w celu ustanowienia, wyegzekwowania lub obrony naszych praw (wliczając w to udostępnienie informacji innym
        podmiotom
        w celu przeciwdziałania oszustwom).
    </p>
    <p>
        <b>H. Bezpieczeństwo danych osobowych</b>

        1. Podejmiemy zasadne techniczne i organizacyjne środki ostrożności w celu przeciwdziałania utracie, nadużyciu
        lub
        zmianie danych osobowych użytkownika. <br>
        2. Będziemy przechowywać wszystkie dane osobowe, które podasz na naszych bezpiecznych serwerach (chronionych
        hasłem
        i
        zaporą). <br>
        3. Wszystkie elektroniczne transakcje finansowe zawierane za pośrednictwem naszej strony internetowej będą
        chronione
        technologią szyfrowania. <br>
        4. Użytkownik przyjmuje do wiadomości, że transmisja informacji przez Internet jest potencjalnie niebezpieczna i
        bezpieczeństwo przesłanych w ten sposób danych nie jest gwarantowane. <br>
        5. Jesteś odpowiedzialny za zachowanie poufności hasła używanego do uzyskania dostępu do naszej strony
        internetowej;
        nie poprosimy Cię o podanie hasła (z wyjątkiem sytuacji, gdy logujesz się na naszej stronie internetowej).
    </p>
    <p>
        <b>I. Nowelizacje</b>

        Niniejsze zasady mogą być okresowo aktualizowane poprzez zamieszczenie w naszej witrynie ich nowej wersji.
        Należy od
        czasu do czasu sprawdzać tę stronę, aby upewnić się, że rozumiesz wszelkie zmiany w tych zasadach. Możemy
        powiadomić
        Cię o zmianach w niniejszej polityce za pośrednictwem poczty elektronicznej lub prywatnego systemu przesyłania
        wiadomości na naszej stronie internetowej.
    </p>

    <p>
        <b> J. Twoje prawa</b>

        Użytkownik może zażądać udostępnienia jego danych osobowych, które są przechowywane. Udostępnienie takich danych
        wiąże się z:

        1. uiszczeniem opłaty {WPROWADŹ OPŁATĘ, JEŚLI DOTYCZY}; i <br>
        2. dostarczenie odpowiedniego dowodu tożsamości ({DOSTOSUJ TEKST, ABY ODZWIERCIEDLAŁ TWOJĄ POLITYKĘ tym celu,
        zazwyczaj
        akceptujemy kserokopię paszportu poświadczoną przez notariusza oraz oryginalną kopię rachunku za media z
        aktualnym
        adresem}). <br>
        Możemy na Twoje żądanie ukrywać dane osobowe, w zakresie dozwolonym przez prawo. <br>
        Możesz w dowolnym momencie poinstruować nas, aby nie przetwarzać danych osobowych w celach marketingowych. <br>
        W praktyce zazwyczaj albo z góry wyraźnie wyrażasz zgodę na wykorzystanie przez nas Twoich danych osobowych w
        celach
        marketingowych, albo zapewnimy Ci możliwość rezygnacji z udostępniania Twoich danych osobowych w celach
        marketingowych.
    </p>

    <p>
        <b>K. Strony Internetowe osób trzecich</b>

        Nasza strona internetowa zawiera hiperłącza do stron internetowych osób trzecich oraz szczegółowe informacje na
        ich
        temat. Nie mamy kontroli i nie ponosimy odpowiedzialności za politykę prywatności i praktyki osób trzecich.</p>

    <p>
        <b>
            L. Aktualizacja informacji
        </b>

        Prosimy o informację w przypadku konieczności skorygowania lub aktualizowania danych osobowych, w których
        posiadaniu
        jesteśmy.
    </p>

    <p>
       <b> M. Ciasteczka</b>

    Nasza strona internetowa korzysta z plików cookie. Plik cookie to plik zawierający identyfikator (ciąg liter i
    cyfr), który jest wysyłany przez serwer internetowy do przeglądarki internetowej i przechowywany przez przeglądarkę.
    Dane identyfikacyjne są ponownie przesyłane na serwer za każdym razem, gdy przeglądarka wyśle żądanie otwarcia
    strony znajdującej się na serwerze. Pliki cookie mogą być „trwałymi” lub „sesyjnymi” plikami cookie: trwałe pliki
    cookie będą przechowywane przez przeglądarkę internetową i pozostaną ważne do ustalonej daty wygaśnięcia, chyba że
    użytkownik usunie je przed datą wygaśnięcia; sesyjny plik cookie wygasa z końcem sesji użytkownika, gdy przeglądarka
    internetowa jest zamykana. Pliki cookie zazwyczaj nie zawierają żadnych informacji identyfikujących użytkownika, ale
    dane osobowe, które przechowujemy na Twój temat, mogą być powiązane z informacjami przechowywanymi w plikach cookie
    i uzyskiwanymi z nich. {WYBIERZ ODPOWIEDNIĄ FRAZĘ Używamy tylko ciasteczek sesyjnych / tylko trwałych ciasteczek /
    zarówno sesyjnych, jak i trwałych ciasteczek na naszej stronie.} <br>

    1. Nazwy plików cookie, których używamy na naszej stronie internetowej, oraz cele, w których są wykorzystywane, są
    określone poniżej: <br>
     - używamy Google Analytics i Adwords na naszej stronie internetowej, aby rozpoznać komputer, gdy użytkownik {OBEJMUJE
    WSZYSTKIE ZASTOSOWANIA DO KTÓRYCH PLIKI COOKIE SĄ UŻYWANE W TWOJEJ WITRYNIE, odwiedza witrynę / śledzi użytkowników
    podczas przeglądania witryny / umożliwia korzystanie z koszyka na stronie / poprawić użyteczność strony internetowej
    / analizować korzystanie ze strony internetowej / administrować stroną internetową / zarządzać witryną / zapobiegać
    oszustwom i poprawić bezpieczeństwo strony internetowej / personalizować stronę internetową dla każdego użytkownika
    / kierować reklamy, które mogą być szczególnie interesujące dla określonych użytkowników / opisać cele}; <br>
    2. Większość przeglądarek pozwala odmówić przyjęcia plików cookie — na przykład: <br>
     - w przeglądarce Internet Explorer (wersja 10) można blokować pliki cookie, korzystając z dostępnych ustawień
    zastępowania obsługi plików cookie, klikając „Narzędzia”, „Opcje internetowe”, „Prywatność”, a następnie
    „Zaawansowane”; <br>
     - w przeglądarce Firefox (wersja 24) możesz zablokować wszystkie pliki cookie, klikając „Narzędzia”, „Opcje”,
    „Prywatność”, wybierając „Użyj ustawień niestandardowych dla historii” z menu rozwijanego i odznaczając „Akceptuj
    ciasteczka z witryn”; i <br>
     - w Chrome (wersja 29) możesz zablokować wszystkie pliki cookie, otwierając menu „Dostosuj i kontroluj”, klikając
    „Ustawienia”, „Pokaż ustawienia zaawansowane” i „Ustawienia treści”, a następnie wybierając „Blokuj witrynom
    ustawianie dowolnych danych” pod nagłówkiem „Pliki cookie”.
    Zablokowanie wszystkich plików cookie będzie miało negatywny wpływ na możliwość korzystania z wielu stron
    internetowych. Jeśli zablokujesz pliki cookie, nie będziesz mógł korzystać z wszystkich funkcji naszej strony.
        <br>
    3. Możesz usunąć pliki cookie już zapisane na komputerze — na przykład: <br>
     - w przeglądarce Internet Explorer (wersja 10) należy ręcznie usunąć pliki cookie (instrukcje można znaleźć na stronie
    http://support.microsoft.com/kb/278835 ); <br>
     - w przeglądarce Firefox (wersja 24) możesz usunąć pliki cookie, klikając „Narzędzia”, „Opcje” i „Prywatność”, a
    następnie wybierając „Użyj ustawień niestandardowych dla historii”, klikając „Pokaż pliki cookie”, a następnie
    klikając „Usuń wszystkie pliki cookie”; i <br>
     - w przeglądarce Chrome (wersja 29) można usunąć wszystkie pliki cookie, otwierając menu „Dostosuj i kontroluj”,
    klikając „Ustawienia”, „Pokaż ustawienia zaawansowane” i „Wyczyść dane przeglądarki”, a następnie wybierając „Usuń
    pliki cookie i dane innych stron i wtyczek” przed kliknięciem „Wyczyść dane
    przeglądania”. <br>
    4. Usunięcie plików cookie będzie miało negatywny wpływ na użyteczność wielu stron internetowych.
    </p>
</div>

<div id="social-right">
    <div id="fb"><a href="https://www.facebook.com/Stiner-100928478828163"><i class="fab fa-facebook-square"></i></a>
    </div>
    <div id="li"><a href="https://www.linkedin.com/company/stiner/"><i class="fab fa-linkedin"></i></a></div>
    <div id="youtube"><i class="fab fa-youtube"></i></div>
</div>
<div class="footer">
    <a href="https://www.linkedin.com/in/sebastian-jadczak-b74a40182">&copy; Sebastian Jadczak</a>
</div>

<script src="https://code.jquery.com/jquery-3.5.0.js"></script>
<script src="https://kit.fontawesome.com/e4892fcf67.js" crossorigin="anonymous"></script>
<link rel="preconnect" href="https://fonts.gstatic.com">
<script src="{% static 'js/donekuta.js' %}" type="text/javascript"></script>
