{% extends "base_shop_messages.html" %}


{% block content %}
<div class="box-right">
    <div class="action">
        <div class="action-button">
            <button><a href="{% url 'shop:messages-box-new' %}">Stwórz</a></button>
            <button onclick="delete_message()" disabled>Usuń</button>
            <button onclick="add_to_important()">Ważne</button>
        </div>
        <div class="action-filter"></div>
    </div>
    <div class="messages-content">
        <ul>
            {% for m in object_list %}
            <li>
                <div class="message">
                    <div class="checkbox"><input type="checkbox" id="horns" name="horns"></div>
                    <div class="author"><p>{{m.author}}</p></div>
                    <div class="title"><p>{{m.title}}</p></div>
                    <div class="date"><p>{{m.send}}</p></div>
                </div>
            </li>

            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}