<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.5.1/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.5.1/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_af20526fbc1d4b7c8d9390af95b31a99 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_af20526fbc1d4b7c8d9390af95b31a99" ></div>
        
</body>
<script>    
    
            var map_af20526fbc1d4b7c8d9390af95b31a99 = L.map(
                "map_af20526fbc1d4b7c8d9390af95b31a99",
                {
                    center: [52.22977, 21.01178],
                    crs: L.CRS.EPSG3857,
                    zoom: 12,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_cefdac4af742474fac8d4bbc5e82e510 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_af20526fbc1d4b7c8d9390af95b31a99);
        
    
            var marker_3df49bdf98ab4fe189e501ad47d90bfe = L.marker(
                [42.3601, -71.0589],
                {}
            ).addTo(map_af20526fbc1d4b7c8d9390af95b31a99);
        
    
        var popup_c515d23a9efb4adbae86e1ab60e81023 = L.popup({"maxWidth": "100%"});

        
            var html_a3926dad8fcc4a7b959a2ccca25f0519 = $(`<div id="html_a3926dad8fcc4a7b959a2ccca25f0519" style="width: 100.0%; height: 100.0%;"><strong> Pierwszy punkt na mapie </strong> <a href="/management/blog_/">Więcej</a></div>`)[0];
            popup_c515d23a9efb4adbae86e1ab60e81023.setContent(html_a3926dad8fcc4a7b959a2ccca25f0519);
        

        marker_3df49bdf98ab4fe189e501ad47d90bfe.bindPopup(popup_c515d23a9efb4adbae86e1ab60e81023)
        ;

        
    
    
            marker_3df49bdf98ab4fe189e501ad47d90bfe.bindTooltip(
                `<div>
                     Kliknij po więcej informacji
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_545f1386d548404da40eff5f721dcfa4 = L.marker(
                [42.36201, -71.1589],
                {}
            ).addTo(map_af20526fbc1d4b7c8d9390af95b31a99);
        
    
            var icon_2a504a6689c54351afb2292ab64bee89 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cloud", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_545f1386d548404da40eff5f721dcfa4.setIcon(icon_2a504a6689c54351afb2292ab64bee89);
        
    
        var popup_5b93a69560ec49d8800da2eccd6860a6 = L.popup({"maxWidth": "100%"});

        
            var html_90c9279440d946cf8ea0b7c8bf2ee231 = $(`<div id="html_90c9279440d946cf8ea0b7c8bf2ee231" style="width: 100.0%; height: 100.0%;"><strong> Pierwszy punkt na mapie </strong></div>`)[0];
            popup_5b93a69560ec49d8800da2eccd6860a6.setContent(html_90c9279440d946cf8ea0b7c8bf2ee231);
        

        marker_545f1386d548404da40eff5f721dcfa4.bindPopup(popup_5b93a69560ec49d8800da2eccd6860a6)
        ;

        
    
    
            marker_545f1386d548404da40eff5f721dcfa4.bindTooltip(
                `<div>
                     Kliknij po więcej informacji
                 </div>`,
                {"sticky": true}
            );
        
</script>