<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.5.1/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.5.1/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_36cbeb440bec4021bf3cde3485a104ec {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_36cbeb440bec4021bf3cde3485a104ec" ></div>
        
</body>
<script>    
    
            var map_36cbeb440bec4021bf3cde3485a104ec = L.map(
                "map_36cbeb440bec4021bf3cde3485a104ec",
                {
                    center: [42.3601, -71.0589],
                    crs: L.CRS.EPSG3857,
                    zoom: 12,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_130cce320ce140aa8ded9403e8046f13 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_36cbeb440bec4021bf3cde3485a104ec);
        
    
            var marker_80d480717a1b4a57b6704ad3898ccb90 = L.marker(
                [42.3601, -71.0589],
                {}
            ).addTo(map_36cbeb440bec4021bf3cde3485a104ec);
        
    
        var popup_9ffbf7fe125a4d45ac0c85e29b11fe72 = L.popup({"maxWidth": "100%"});

        
            var html_0c54c4463f6d4077beb1c5164173fe25 = $(`<div id="html_0c54c4463f6d4077beb1c5164173fe25" style="width: 100.0%; height: 100.0%;"><strong> Pierwszy punkt na mapie </strong> <a href="/management/blog_/">Więcej</a></div>`)[0];
            popup_9ffbf7fe125a4d45ac0c85e29b11fe72.setContent(html_0c54c4463f6d4077beb1c5164173fe25);
        

        marker_80d480717a1b4a57b6704ad3898ccb90.bindPopup(popup_9ffbf7fe125a4d45ac0c85e29b11fe72)
        ;

        
    
    
            marker_80d480717a1b4a57b6704ad3898ccb90.bindTooltip(
                `<div>
                     Kliknij po więcej informacji
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_f15461bd062544b6a927eadc1b3a1edc = L.marker(
                [42.36201, -71.1589],
                {}
            ).addTo(map_36cbeb440bec4021bf3cde3485a104ec);
        
    
            var icon_8c5dd4d68498481ca9ff044f843db7d2 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cloud", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_f15461bd062544b6a927eadc1b3a1edc.setIcon(icon_8c5dd4d68498481ca9ff044f843db7d2);
        
    
        var popup_615c2dd09bd347b880f197e85ce90146 = L.popup({"maxWidth": "100%"});

        
            var html_0dade819ca804090991afd142a1ff374 = $(`<div id="html_0dade819ca804090991afd142a1ff374" style="width: 100.0%; height: 100.0%;"><strong> Pierwszy punkt na mapie </strong></div>`)[0];
            popup_615c2dd09bd347b880f197e85ce90146.setContent(html_0dade819ca804090991afd142a1ff374);
        

        marker_f15461bd062544b6a927eadc1b3a1edc.bindPopup(popup_615c2dd09bd347b880f197e85ce90146)
        ;

        
    
    
            marker_f15461bd062544b6a927eadc1b3a1edc.bindTooltip(
                `<div>
                     Kliknij po więcej informacji
                 </div>`,
                {"sticky": true}
            );
        
</script>