<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.5.1/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.5.1/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_875cf7307b5341468d3f27d9ef23a7f6 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_875cf7307b5341468d3f27d9ef23a7f6" ></div>
        
</body>
<script>    
    
            var map_875cf7307b5341468d3f27d9ef23a7f6 = L.map(
                "map_875cf7307b5341468d3f27d9ef23a7f6",
                {
                    center: [42.3601, -71.0589],
                    crs: L.CRS.EPSG3857,
                    zoom: 12,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_f60cc17045ba4c62a3c365a8fadfee95 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_875cf7307b5341468d3f27d9ef23a7f6);
        
    
            var marker_65db37bf28e64604af0ce67b15db435f = L.marker(
                [42.3601, -71.0589],
                {}
            ).addTo(map_875cf7307b5341468d3f27d9ef23a7f6);
        
    
        var popup_a1f71e3a9dc24ef693dafb1e422ff404 = L.popup({"maxWidth": "100%"});

        
            var html_d9d38a2b9fd94a34973a76e5c7ceae9e = $(`<div id="html_d9d38a2b9fd94a34973a76e5c7ceae9e" style="width: 100.0%; height: 100.0%;"><strong> Pierwszy punkt na mapie </strong></div>`)[0];
            popup_a1f71e3a9dc24ef693dafb1e422ff404.setContent(html_d9d38a2b9fd94a34973a76e5c7ceae9e);
        

        marker_65db37bf28e64604af0ce67b15db435f.bindPopup(popup_a1f71e3a9dc24ef693dafb1e422ff404)
        ;

        
    
    
            marker_65db37bf28e64604af0ce67b15db435f.bindTooltip(
                `<div>
                     Kliknij po więcej informacji
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_5c72113c013149169b403914e5940d16 = L.marker(
                [42.36201, -71.1589],
                {}
            ).addTo(map_875cf7307b5341468d3f27d9ef23a7f6);
        
    
            var icon_cccf00e24ea14d238d8d04f9fc9e1f90 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cloud", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_5c72113c013149169b403914e5940d16.setIcon(icon_cccf00e24ea14d238d8d04f9fc9e1f90);
        
    
        var popup_29a9a946d59245b6a28206e530c2135c = L.popup({"maxWidth": "100%"});

        
            var html_35f9a22128b94539b9246f7efa04d7d7 = $(`<div id="html_35f9a22128b94539b9246f7efa04d7d7" style="width: 100.0%; height: 100.0%;"><strong> Pierwszy punkt na mapie </strong></div>`)[0];
            popup_29a9a946d59245b6a28206e530c2135c.setContent(html_35f9a22128b94539b9246f7efa04d7d7);
        

        marker_5c72113c013149169b403914e5940d16.bindPopup(popup_29a9a946d59245b6a28206e530c2135c)
        ;

        
    
    
            marker_5c72113c013149169b403914e5940d16.bindTooltip(
                `<div>
                     Kliknij po więcej informacji
                 </div>`,
                {"sticky": true}
            );
        
</script>