{% load static %}
<!DOCTYPE html>

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />

        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    <script data-ad-client="ca-pub-5722846627217105" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.5.1/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
        <title>Strona główna</title>
    <link href="https://fonts.googleapis.com/css2?family=Bangers&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.5.1/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>


            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_1de6ef4f1218487da9d6da057bb8f454 {
                   z-index: 0;
                    margin:2px auto;
                    width: 100.0%;
                    height: 500px;
                    left: 0.0%;
                    top: 0.0%;
                    border-top: 1px solid #808080;
                    border-bottom: 1px solid #808080;
                }
                /* Obsługa scrolowania mapy tylko z ctrl + scroll*/
                .map-scroll:before {
                content: 'Use ctrl + scroll to zoom the map';
                position: absolute;
                top: 50%;
                left: 35%;
                z-index: 999;
                font-size: 34px;
                 }
                 .map-scroll:after {
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                top: 0;
                content: '';
                background: #00000061;
                z-index: 999;
                }
            </style>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/style_map.css' %}">
    <link rel="stylesheet" href="{% static 'css/user_account.css' %}">
    <link rel="stylesheet" href="{% static 'css/style_contact.css' %}">
    <link rel="stylesheet" href="{% static 'css/style_blog.css' %}">
    <link rel="stylesheet" href="{% static 'css/style_order.css' %}">
    <link rel="stylesheet" href="{% static 'css/style_order_created.css' %}">
    <link rel="stylesheet" href="{% static 'css/style_blog_post.css' %}">
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
</head>
<body>


<div id="top">
    <div class="logo"><a href="{% url 'map' %}"><img src="{% static "img/logo.png" %}" alt="logo"></a></div>
    <div class="menu">
        <ul>
            <li class="red top_menu"><a href="{% url  'mapFullScreen'%}" ></i>Mapa</a></li>
            <li class="green top_menu" onclick="menuDetailTrail()">Trasy <i class="fas fa-angle-down"></i>
                <div id="menu-detail-trail">
                    <ul>
                        <li><a href="{% url 'trails:points' %}">Ciekawe miejsca</a></li>
                        <li><a href="{% url 'trails:all_trails' %}">Trasy</a></li>
                        {% if user.is_authenticated %}
                            <li><a href="{% url 'yours_trails' %}">Twoje trasy</a></li>
                            <li><a href="{% url 'user_trails:user_trail_add' %}">Stwórz trasę</a></li>
                        {%else%}
                            <li><a href="{% url 'login' %}">Twoje trasy</a></li>
                            <li><a href="{% url 'login' %}">Stwórz trasę</a></li>
                        {% endif %}
                    </ul>
                </div>
            </li>
            <li class="blue top_menu"><a href="{% url 'blog:list_posts' %}">Blog</a></li>
            <li class="gold top_menu"><a href="{% url 'contact:contact_detail' %}">Kontakt</a></li>
        </ul>
    </div>
    <div class="login_mapa">
        {% if user.is_authenticated %}
            <a href="{% url 'done' %}" id="eye"><i class="far fa-eye"></i></a>
            <a href="{% url 'favorite' %}" id="heart"><i class="far fa-heart"></i></a>
        {% endif %}
       {% if user.is_authenticated %}
        <button class="user_menu"><i class="fas fa-user"></i><i class="fas fa-angle-down"></i></button>
        <div class="user_menu">
            <ul>
                <li><a href="{% url 'account:password_reset' %}">Ustawienia</a></li>

                {% if perms.blog.view_post%}
                    <li><a href="{% url 'management:blog_manage_post_list' %}">Panel administracyjny</a></li>
                {% elif perms.shop.view_product %}
                    <li><a href="{% url 'management:shop_manage_product_list' %}">Panel administracyjny</a></li>
                {% endif %}

                <li><a href="{% url 'logout' %}">Wyloguj</a></li>
            </ul>
        </div>
        {% else %}
        <button class="log"><a href="{% url 'login' %}">Zaloguj się</a></button>
        <button class="register"><a href="{% url 'register' %}">Załóż konto</a></button>
        {% endif %}
    </div>
    <div id="login_rwd"><i class="fas fa-sign-in-alt"></i></div>
</div>
<div id="welcome">
    <div class="text">
       <section><div id="earth"><i class="fas fa-globe-americas"></i></div> <h2>Wakacje marzeń:</h2></section>
        <section id="buttons_type_holiday">
            <button onclick="switchForms('sea')" id="sea" class="active"><i class="fas fa-fish"></i> Morze</button>
            <button onclick="switchForms('mountains')" id="mountains"> <i class="fas fa-mountain"></i> Góry</button>
            <button onclick="switchForms('lake')" id="lake"><i class="fas fa-water"></i> Jeziora</button>
        </section>
    </div>
    <div class="search-holiday">
        <form action="" method="post" id="search-sea">
            <input type="text" value="Morze" hidden id="region" name="region">
            <label> Podaj nazwę trasy</label>
            <input type="text" placeholder="np. Górska" name="name">
            <label> Wybierz kraj</label>
            <select name="country">
                 <option value="" id="default">np. Polska</option>
                    {% for c in country %}
                      <option value="{{ c }}">{{ c }}</option>
                    {% endfor %}
            </select>
            <label> Wybierz miasto</label>
            <select name="city">
                <option value="" id="default"> np. Kraków</option>
                    {% for c in coordinates %}
                      <option value="{{ c }}">{{ c }}</option>
                    {% endfor %}
            </select>
            <div id="popular">
                <label><input type="radio" checked value="True" name="popular">Popularna</label>
                <label><input type="radio" value="False" name="popular">Niepopularna</label>
            </div>
            <input type="submit" value="&#xf689 Szukaj">
            {% csrf_token %}
        </form>
    </div>
</div>

<div id="news">
    <h2>Najnowsze informacje</h2>
    <p>Zapraszamy do zapoznania z najnowszymi aktualnościami na naszej stronie i aplikacji. Dokładamy wszelkich starań aby zapewnić Państwu najwyższą jakość naszych usług.
    <b>Dziękujemy za zaufanie!</b></p>
    <section id="small">
    <ul>
        {% for n in news %}
            <li>
                <a href="{% url 'news' n.id %}">
                    <div id="news-post" style="background-image: linear-gradient(rgba(0,0,0,
                            0.1) 80%, rgba(0,0,0,0.9)), url('{{ n.image.url}}')">
                        <h3>{{ n.title }}</h3>
                    </div>
                </a>
            </li>
        {% endfor %}
    </ul>
    </section>
    <section id="big">
        <ul>
        {% for n in newsBig %}
            <li>
                <a href="{% url 'news' n.id %}">
                    <div id="news-post-big" style="background-image: linear-gradient(rgba(0,0,0,
                            0.1) 80%, rgba(0,0,0,0.9)), url('{{ n.image.url}}')">
                        <h3>{{ n.title }}</h3>
                    </div>
                </a>
            </li>
        {% endfor %}
    </ul>
    </section>
</div>
<div class="folium-map" id="map_1de6ef4f1218487da9d6da057bb8f454" ></div>

<div id="info-about-trail">
    <section id="amount_point">
        <div class="circle"><i class="fas fa-map-marker-alt"></i></div>
        <div>
            <p>{{ pointLength }}</p>
            <p>Punktów</p>
        </div>
    </section>
    <section id="amount_trail">
        <div class="circle"><i class="fas fa-map-signs"></i></div>
        <div>
            <p>{{ trailLength }}</p>
            <p>Tras zwiedzania</p>
        </div>
    </section>
    <section id="amount_city">
        <div class="circle"><i class="fas fa-city"></i></div>
        <div>
            <p>{{ coordinatesLength }}</p>
            <p>Miast</p>
        </div>
    </section>
    <section id="amount_country">
        <div class="circle"><i class="fas fa-flag-usa"></i></div>
        <div>
            <p>{{ countryLength }}</p>
            <p>Krajów</p>
        </div>
    </section>
</div>
<div id="mobile-app">
    <div class="left">
        <h2>Sciągnij aplikację:</h2>
         <h3>Jeszcze więcej wspaniałych wspomnień. Nie czekaj, pobierz aplikację i zwiedzaj świat.</h3>
        <div id="logo_store">
            <div id="app_store">
                <img src="{% static 'img/app_store.svg' %}" alt="">
            </div>
            <div id="google_play">
                <img src="{% static 'img/Google_Play_Store.png' %}" alt="">
            </div>
        </div>
    </div>
    <div class="right">
        <div><img src="{% static 'img/Frame 2.svg' %}" alt=""></div>
        <div><img src="{% static 'img/Group 2.svg' %}" alt=""></div>
    </div>
</div>

<div id="newsletter-wrap">
    <div id="newsletter">
        <div id="title_newsletter">
            <h3>Zapisz się do Newslettera</h3>
            <i class="fas fa-times" id="closeNewsletter" onclick="closeNewsletter()"></i>
        </div>
        <div id="logo_newsletter"><img src="{% static "img/logo.png" %}" alt="logo"></div>
        <form action="" method="post" name="newsletter">
            <input type="email" placeholder="email" id="email" name="email">
            <input type="submit" value="Zapisz mnie">
            {%csrf_token%}
        </form>
        <div id="social-media">
            <p id="fb"><a href="https://www.facebook.com/Stiner-100928478828163"><i class="fab fa-facebook"></i>Nasz Facebook</a></p>
            <p id="li"><i class="fab fa-linkedin"></i>Nasz Linkedin</p>
        </div>
    </div>
</div>
<div id="social-right">
    <div id="fb"><a href="https://www.facebook.com/Stiner-100928478828163"><i class="fab fa-facebook-square"></i></a></div>
    <div id="li"><a href="https://www.linkedin.com/company/stiner/"><i class="fab fa-linkedin"></i></a></div>
    <div id="youtube"><i class="fab fa-youtube"></i></div>
</div>
<div class="footer">
    <a href="https://www.linkedin.com/in/sebastian-jadczak-b74a40182">&copy; Sebastian Jadczak</a>
</div>


<script src="https://kit.fontawesome.com/e4892fcf67.js" crossorigin="anonymous"></script>
<!--Skrypty do mapy-->
<script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js"></script>
<script src="https://unpkg.com/leaflet-routing-machine@3.2.12/dist/leaflet-routing-machine.js"></script>
<script src="{% static 'js/map.js' %}" type="text/javascript"></script>
<link rel="preconnect" href="https://fonts.gstatic.com">
<script>
    function switchForms(arg){
        let active = document.querySelector('.active')
        let clickButton = document.querySelector(`#${arg}`)
        let region = document.getElementById('region')
        active.classList.toggle('active')
        clickButton.classList.toggle('active')
        region.value = arg
        console.log(region.value)
    }

</script>